{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block head %}
  <meta name="robots" content="noindex, nofollow">
  <style>
    #intro {
    display: none;
}
  </style>
{% endblock %}

{% block body_class %}contact-form bg-blue-gray-800{% endblock %} 

{% block content %}
<div class="lg:max-w-screen-lg mx-auto flex justify-center items-center font-semibold lg:px-[86px] h-[80vh]">
  <div class="rounded bg-gray-200 relative w-full gap-4 capitalize px-4 mx-auto font-bold p-4">
      <div class="text-gray-900 text-xl">
        {{ self.thank_you_text|richtext }}
      </div>
    </div>
 </div>
 {% endblock %}
