{% extends 'base.html' %}
{% load wagtailcore_tags static %}

{% block body_class %}contact-form{% endblock %} 

{% block head %}
  <meta name="robots" content="noindex, nofollow">
  <style>
      textarea {
          height: auto;
      }
    
      img {
        left: 150px;
bottom: 5px;
width: 52px;
    }
  </style>
{% endblock %}

{% block content %}
<div class="relative max-w-screen-md px-4 mx-auto xl:max-w-screen-lg sm:px-8">

    <div class="relative bg-gray-50">
        <div class="sm:px-12 ">
            <form method="POST" action="{% pageurl page %}">
                {% csrf_token %}
                <ul>
                    {{ form }}
                </ul>
                <img class="absolute" src="{% static 'img/manjaro-email.svg' %}">

                <button type="submit" class="mt-4 px-2 h-12 inline-flex items-center justify-center mb-2 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-indigo-600 hover:bg-indigo-700 focus:shadow-outline focus:outline-none">
                    Submit
                </button>
            </form>            
        </div>
    </div>
</div>
<script>
window.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll("label").forEach((el) => {
        el.classList.add('inline-block', 'mb-2', 'font-semibold')
        })
        document.querySelectorAll("input, textarea").forEach((el) => {
        el.classList.add(
            'flex-grow',
            'w-full',
            'h-full',
            'px-4',
            'mb-4',
            'transition',
            'duration-200',
            'bg-white',
            'border',
            'border-gray-400',
            'rounded',
            'shadow-sm',
            'appearance-none',
            'focus:outline-none',
            'focus:shadow-outline',
            'focus:border-indigo-500'
            )
        })
        document.querySelector('p:first-of-type').style.display = "none"
        document.querySelector('textarea').rows = 10
        document.querySelector('p:nth-of-type(2)').classList.add(
                'text-base',
                'text-gray-700',
                'sm:text-base',
                'md:text-lg',
                'lg:text-base',
                'xl:text-lg'
            )
    })
</script>
{% endblock %}

