{% extends 'base.html' %}
{% load wagtailcore_tags static %}

{% block body_class %}contact-form bg-blue-gray-800{% endblock %} 

{% block head %}
  <meta name="robots" content="noindex, nofollow">
  <style>
    #id_wagtailcaptcha {
        margin-top: 12px;
        width: 302px;
        float: left;
        margin-right: 1rem;
        border: none;
    }

    .contact-form form {
        text-transform: capitalize;
    }

    .loading * {
       cursor: progress;
    }  

    .contact-form form label {
        margin-bottom: 24px;
        display: block;
    }

    .contact-form form input, .contact-form form textarea {
        color: #263238;
        border-radius: .25rem;
    }

    .contact-form form input:checked {
        color: #1de9b6;
    }

    .contact-form form input:focus {
        box-shadow: none;
    }

    .contact-form form input {
        margin-bottom: 12px;
    }

    .contact-form  form ul label {
        margin-bottom: 12px;
        font-weight: bold;
    }

    .contact-form form ul:first-of-type {
        margin-bottom: 24px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: center;
    }
    .contact-form form ul ul li {
        float: left;
        margin-right: 10px;
    }
    .contact-form form ul ul input {
        margin-bottom: 0;
        margin-right: 5px;
    }
    .contact-form form ul ul {
        height: 48px;
        margin-bottom: 0;
        justify-content: flex-start !important;
    }

    .contact-form form p textarea,
    .contact-form form ul p:nth-of-type(6) {
        width: 100%;
    }
    
    
  </style>
{% endblock %}

{% block content %}
<div class="relative max-w-screen-xl px-4 mx-auto text-gray-200 font-bold pt-4">
    <form class="flex flex-wrap gap-4">
        <ul>
            {{ form.as_p }}
            <button id="submitBtn" type="submit" class="mt-2 float-right text-teal-900 px-4 h-12 inline-flex items-center justify-center tracking-wide rounded shadow-md bg-teal-accent-700 focus:shadow-outline focus:outline-none">
                Send
            </button>  
        </ul>
    </form>          
</div>

<div id="error-msg" class="bg-red-100 text-red-700 p-4 fixed bottom-0 w-full z-10 hidden" role="alert">
    <p class="font-bold">Warning</p>
</div>

<div id="info-msg" class="bg-blue-100 text-blue-700 p-4 fixed bottom-0 w-full z-10 hidden" role="alert">
    <p class="font-bold">Validating information</p>
</div>

<script>
window.addEventListener('DOMContentLoaded', (event) => {
        
        const form = document.querySelector('form')
        form.addEventListener('submit', (event) => {
            event.preventDefault();
            let error = document.querySelector("#error-msg").getElementsByTagName("p")[0]
            let info = document.querySelector("#info-msg").getElementsByTagName("p")[0]
            error.parentElement.classList.add("hidden")
            info.parentElement.classList.remove("hidden")
            document.getElementsByTagName("body")[0].classList.add("loading")

            setTimeout( function() {
                let message = document.querySelector("#id_message") || document.querySelector("#id_subject")
                let company = document.querySelector("#id_contact_0")
                let project = document.querySelector("#id_contact_1")
                let errors = [0,0,0,0,0,0]

                {% if page.min_name_characters %}
                let name = document.querySelector("#id_name") || document.querySelector("#id_full_name")
                if (name.value.length < "{{ page.min_name_characters }}") {
                    error.parentElement.classList.remove("hidden")
                    error.textContent = "A minimum of {{ page.min_name_characters }} characters is needed in the Name field"
                    errors[0] = 1
                } else {
                    errors[0] = 0
                }
                {% endif %}

                {% if page.allowed_languages %}
                let en_or_gb = /^[a-zA-Z-äöüÄÖÜß+@!%?.’,'(): \r\n]+$/
                if (!message.value.match(en_or_gb)) {
                    error.parentElement.classList.remove("hidden")
                    error.textContent = "Invalid characters, only English or German characters are allowed"
                    errors[1] = 1
                } else {
                    errors[1] = 0
                }
                {% endif %}
                
                {% if page.no_html %}
                let parser = new DOMParser();
                let doc = parser.parseFromString(message.value, 'text/html');
                if (doc.body.children.length != 0) {
                    error.textContent = "HTML not allowed"
                    errors[2] = 1
                } else {
                    errors[2] = 0
                }
                {% endif %}

                {% if page.no_links %}
                if (message.value.includes("http") || message.value.includes("/")) {
                    error.textContent = "Links or slashes not allowed"
                    errors[3] = 1
                } else {
                    errors[3] = 0
                }
                {% endif %}

                {% if page.min_message_characters %}
                if (message.value.length < parseInt("{{ page.min_message_characters }}")) {
                    error.parentElement.classList.remove("hidden")
                    error.textContent = "A minimum of 200 characters is needed in the Message field"
                    errors[4] = 1
                } else {
                    errors[4] = 0
                }
                {% endif %}

                if (company.checked) {
                    let companyName = document.querySelector("#id_company")
                    if (companyName.value.length < 4) {
                        error.parentElement.classList.remove("hidden")
                        error.textContent = "Company name needs more than 3 characters"
                        errors[5] = 1
                    } else {
                        errors[5] = 0                        
                    }

                    {% if page.only_bussiness_addresses %}
                    let freeMailProviders = ["yahoo", "gmail", "proton.me", "protonmail", "aol", "mail.ru", "hotmail", "yandex"]
                    let email = document.querySelector("#id_email") || document.querySelector("#id_your_email")
                    for (let name of freeMailProviders) {
                        if (email.value.includes(name)) {
                            error.parentElement.classList.remove("hidden")
                            error.textContent = "Please insert a Business Email Address"
                            errors[6] = 1
                            break;
                        } else {
                            errors[6] = 0
                        }
                    }
                    {% endif %} 
                }

                
                if (!errors.includes(1)) {
                    error.parentElement.classList.add("hidden")
                    setTimeout(
                        function() {
                            const btn = form.querySelector("button")
                            btn.insertAdjacentHTML("beforebegin", '{% csrf_token %}')
                            form.method="POST"
                            form.action="{% pageurl page %}"
                            info.parentElement.classList.add("hidden") 
                            form.submit()
                        }, 2000)
                } else {
                    setTimeout(
                        function() {
                            info.parentElement.classList.add("hidden") 
                        }, 2000)
                }
                document.getElementsByTagName("body")[0].classList.remove("loading")  
        }, 2000) 
    })
})
</script>
{% endblock %}

