<div id="popUp" class="mx-auto fixed transition-transform duration-700 translate-x-[100%] transform-gpu z-50 bottom-0 right-0 w-full">
  <div class="relative flex flex-col max-w-screen-lg overflow-hidden bg-white rounded shadow-sm lg:flex-row sm:mx-auto">
    <button id="closeAd" class="z-10 absolute top-0 right-0 font-bold p-1 bg-red-200 w-[32px] h-[32px] rounded-bl-2xl hover:cursor-pointer">X</button>
    <div class="relative lg:w-1/3">
      <img id="img" src="" alt="" class="object-contain w-full lg:absolute h-80 lg:h-full" />
    </div>
    <div class="flex flex-col justify-center bg-white lg:w-2/3 mt-1 px-2 lg:px-1">
      <h6 class="uppercase text-xs font-bold text-gray-500">promotions</h6>
      <h5 id="title" class="capitalize py-1 text-2xl font-extrabold leading-none sm:text-3xl"></h5>
      <p id="desc" class="mb-2 text-gray-800"></p>
      <div class="flex items-end justify-end">
        <a id="url" href="#" aria-label="" target="_blank" class="py-1 link font-semibold">
          Learn More
          <svg class="inline-block w-4 ml-2" fill="currentColor" viewBox="0 0 12 12">
            <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

<script>
async function getAffiliates() {
  let response = await fetch("ads.json");
  let ads = await response.json();
  let randomIndex = Math.floor(Math.random() * ads.length);
  let item = ads[randomIndex];
  let url = document.querySelector("#url")
  let desc = document.querySelector("#desc")
  let title = document.querySelector("#title")
  let img = document.querySelector("#img")
  url.href = item.url
  desc.textContent = item.desc
  title.textContent = item.title
  img.src = "media/" + item.img
  let pop = document.querySelector("#popUp")
  pop.classList.remove("translate-x-[100%]")
}
const closeAdBtn = document.querySelector("#closeAd")
function closeAd() {
  let pop = document.querySelector("#popUp")
  pop.classList.add("translate-x-[100%]")
}
closeAdBtn.onclick = closeAd
closeAdBtn.ontouchstart = closeAd
const myTimeout = setTimeout(getAffiliates, 3000);

</script>