{% load wagtailcore_tags %}
{% wagtail_site as current_site %}
<div id="popUp" class="select-none mx-auto left-0 right-0 max-w-screen-lg fixed transition-all duration-700 translate-x-[200%] transform-gpu z-50 bottom-0">
  <div id="ramdomAff" class="transition-height duration-700 h-32 relative flex flex-col overflow-hidden bg-white lg:flex-row">
    <a id="url" href="#" aria-label="" target="_blank" class="flex flex-row gap-2 justify-center items-center bg-white px-2 lg:px-1 w-full">
     <div class="hidden relative lg:w-1/4 lg:flex justify-center">
      <img id="img" src="" alt="" class="object-contain max-h-36" />
    </div>
    <div class="lg:w-3/4">
      <h5 id="title" class="capitalize py-1 text-2xl font-extrabold leading-none sm:text-3xl"></h5>
      <p id="desc" class="mb-2 text-gray-800"></p>
    </div>
    </a>
  </div>
  <div id="offers" class="h-0 overflow-y-scroll w-full lg:mx-auto bg-gray-200 transform-gpu transition-height duration-700 flex flex-col gap-2"></div>
  <div id="miniOffers" class="overflow-hidden transition-height h-0 duration-700 relative flex flex-col bg-white shadow-sm lg:flex-row sm:mx-auto">
    <div id="titleScrollBtn" class="whitespace-nowrap text-center w-full h-max scrollText transform-gpu hover:cursor-pointer">
      <h5 class="uppercase p-2 text-lg font-semibold leading-none h-[32px]">current offers</h5>
      <div id="titleScrollcontent" class="flex flex-col h-max"></div>
      <h5 class="uppercase p-2 text-lg font-semibold leading-none h-[32px]">current offers</h5>
    </div>
  </div>
</div>

<style>
  @keyframes scrollText {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(0%);
  }
  45% {
    transform: translateY(calc(-100% + 32px));
  }
  75% {
    transform: translateY(calc(-100% + 32px));
  }
  100% {
    transform: translateY(0%);
  }
}
#titleScrollBtn {
    animation: scrollText 40s infinite linear;
    animation-delay: 5s;
  }

#ramdomAff, #miniOffers {
  filter: drop-shadow(0 -1px 1px rgb(0 0 0 / 0.1)) drop-shadow(0 -1px 1px rgb(0 0 0 / 0.06));
}
</style>

<script>
function showOffers() {
  let ramdomAff = document.querySelector("#ramdomAff")
  let pop = document.querySelector("#popUp")  
  pop.classList.replace("max-w-screen-lg", "max-w-[240px]")
  ramdomAff.classList.replace("h-32","h-0")
  let openOffers = document.querySelector("#miniOffers")
  setTimeout(function() {
    openOffers.classList.replace("h-0","h-8")
  }, 200)
}

async function getAffiliates() {
  let rootSite = window.location.origin
  if (rootSite.includes("staging")) {
    rootSite = "https://staging.manjaro.org"
  } else if (!rootSite.includes("localhost")) {
    rootSite = rootSite.replace(/[/]\w*[.]/g, '/')
  }
  
  let response = await fetch(rootSite + "/ads.json");
  let ads = await response.json();
  let randomIndex = Math.floor(Math.random() * ads.length);
  let item = ads[randomIndex];
  let url = document.querySelector("#url")
  let desc = document.querySelector("#desc")
  let title = document.querySelector("#title")
  let img = document.querySelector("#img")
  url.href = item.url
  desc.textContent = item.desc
  title.textContent = item.title
  img.src = rootSite + "/media/" + item.img
  let pop = document.querySelector("#popUp")
  pop.classList.remove("translate-x-[200%]")
  for (a of ads) {
    let offers = document.querySelector("#offers")
    let titleScroll = document.querySelector("#titleScrollcontent")
    let offersTemplate = `
    <div class="transition-height duration-700 relative flex flex-col flex-row">
    <a href="${a.url}" aria-label="${a.title}" target="_blank" class="flex flex-row gap-2 bg-white px-2 lg:px-1 w-full">
     <div class="hidden relative lg:w-1/4 lg:flex justify-center">
      <img src="${rootSite + '/media/' + a.img}" alt="${a.title}" class="object-contain max-h-36" />
    </div>
    <div class="lg:w-3/4">
      <h5 class="capitalize py-1 text-2xl font-extrabold leading-none sm:text-3xl">${a.title}</h5>
      <p class="mb-2 text-gray-800">${a.desc}</p>
    </div>
    </a>
  </div>
    `
    offers.insertAdjacentHTML("beforeend", offersTemplate)
    titleScroll.insertAdjacentHTML("beforeend", `<div class='font-bold capitalize p-2 text-lg leading-none h-[32px]'>${a.title}</div>`)

  }
  let showOffersTransition = setTimeout(showOffers, 6000)
}

const titleScrollBtn = document.querySelector("#titleScrollBtn")

function wHeigth() {
  return window.innerHeight - 32 + "px"
}

function closeSlider(event) {
  let el = document.querySelector("#offers")
  let target = event.target
  if ( !target.id.includes("offer") ) {
    let pop = document.querySelector("#popUp")  
    pop.classList.replace("max-w-screen-lg", "max-w-[240px]")
    el.style.height = "0px"
    document.removeEventListener("click", closeSlider)
  } 
}
  

function toggleOffers() {
  let el = document.querySelector("#offers")
  let pop = document.querySelector("#popUp")  
  if (el.offsetHeight === 0) {
    pop.classList.replace("max-w-[240px]", "max-w-screen-lg")
    el.style.height = wHeigth()
    setTimeout(function() {
      document.addEventListener('click', closeSlider)
    }, 500)
  } else {
    pop.classList.replace("max-w-screen-lg", "max-w-[240px]")
    el.style.height = "0px"
  }
}
titleScrollBtn.onclick = toggleOffers
const affiliatesTimeout = setTimeout(getAffiliates, 3000)
</script>