{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}homepage bg-blue-gray-800{% endblock %}

{% block title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if page.search_description %}
        {{ page.search_description }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="mx-auto lg:max-w-screen-xl lg:px-4">
        {% for block in page.content %}
            {% include_block block %}
        {% endfor %}
    </div>
{% endblock %}
