{% extends "base.html" %}

{% load wagtailcore_tags static %}

{% block body_class %}donate bg-blue-gray-800{% endblock %}

{% block title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if page.search_description %}
        {{ page.search_description }}
    {% endif %}
{% endblock %}

{% block head %}
<style>
  .btn-grid a {
    background: #49b5f4;
  }
</style>
{% endblock %}

{% block content %}
<div class="overflow-hidden h-full w-full bg-teal-accent-400 fixed top-0 z-[-1]">
  <svg class="fixed text-gray-300 hidden md:block left-0 h-full top-0" version="1.1" viewBox="0 0 140 135"
    xmlns="http://www.w3.org/2000/svg">
    <g transform="matrix(-1,0,0,1,140,0)" fill="CurrentColor">
      <path d="m95 45 45-45v89.915l-45.252 45.085h-94.748l60-55z" fill-opacity=".11748" />
      <g fill-opacity=".4">
        <path d="m140 80v-70l-45.252 45-84.748 80h75z" />
        <path d="m140 70v-50l-45 45-75 70h55z" />
        <path d="m140 60v-30l-45.252 45-64.748 60h35z" />
        <path d="m140 50v-10l-45.252 45-49.748 50h10z" />
      </g>
  </svg>
</div>
<div class="lg:max-w-screen-xl mx-auto">
<div class="relative w-full h-full mx-auto px-4 lg:px-0 lg:w-2/3 pt-4">
    <article class="relative lg:pb-8">
      <div class="grid gap-4 md:grid-cols-2 sm:mx-auto">       
          <div class="p-8 bg-blue-gray-800 rounded grid mb-8">
            <div class="text-center mb-4">
              <h2 class="text-xl font-medium tracking-wide text-gray-50">
                <svg class="w-4 h-4 text-teal-accent-400 inline align-baseline" viewBox="0 0 24 24" stroke-linecap="round" stroke-width="2">
                  <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8"></polyline>
                  <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor"></circle>
                </svg>
                Manjaro Team
              </h2>
            </div>
            <div class="grid grid-cols-3 gap-2 font-semibold text-xs text-center text-gray-200 btn-grid">
              <a target="_blank" href="https://opencollective.com/manjaro/donate" class="px-4 py-2 rounded-3xl shadow flex justify-center items-center">
                <i class="fa-solid fa-euro-sign mr-1"></i>EURO</a>
              <a target="_blank" href="https://opencollective.com/manjaro-us/donate" class="px-4 py-2 rounded-3xl shadow flex justify-center items-center">
                <i class="fa-solid fa-dollar-sign mr-1"></i>DOLLAR</a>
              <a target="_blank" href="https://opencollective.com/manjaro-uk/donate" class="px-4 py-2 rounded-3xl shadow flex justify-center items-center">
                <i class="fa-solid fa-sterling-sign mr-1"></i>POUND</a>
            </div>
          </div>
          <div class="p-8 bg-blue-gray-800 rounded grid mb-8">
            <div class="text-center mb-4">
              <h2 class="text-xl font-medium tracking-wide text-gray-50">
                <svg class="w-4 h-4 text-teal-accent-400 inline align-baseline" viewBox="0 0 24 24" stroke-linecap="round" stroke-width="2">
                  <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8"></polyline>
                  <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor"></circle>
                </svg>
                Manjaro ARM Team
              </h2>
            </div>         
            <a href="https://opencollective.com/manjaro-arm/donate" target="_blank" class="place-self-center">
              <img src="https://opencollective.com/manjaro-arm/donate/button@2x.png?color=blue" width=250 alt="donate to manjaro arm team collective" />
            </a>
          </div>
      </div>
      <div class="text-blue-gray-800">
        {{ page.content }}
      </div>
    </article>
  </div>
</div>
  {% endblock %}
  