{% extends "base.html" %}

{% load wagtailcore_tags static %}

{% block body_class %}donate bg-blue-gray-800{% endblock %}

{% block title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if page.search_description %}
        {{ page.search_description }}
    {% endif %}
{% endblock %}

{% block head %}
<style>
  #arm.active, #x86.active {
    display: block;    
  }
  #btn-x86.active, #btn-arm.active {
    background-color: #1869f5;
    border-color: #1869f5;
    color: white;
  }
</style>
{% endblock %}

{% block content %}
  <div class="relative">
    <div class="bg-gray-900 bg-opacity-75 fixed h-full w-full top-0 z-[0]"></div>
    <div class="mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl lg:px-4 z-1 relative lg:mt-4">
      <div class="grid grid-rows-2 gap-4 md:grid-cols-2 md:grid-rows-1">
        <div class="w-full mb-4 md:mb-0 bg-gray-200 rounded">
            {{ page.content }}
        </div>
        <div class="w-full">
          <div class="bg-white rounded shadow-2xl md:py-4 pb-4 h-full pt-2 relative">
            <div class="inline-flex py-2 justify-center w-full text-gray-800 font-bold">
              <button id="btn-x86" class="active py-2 px-6 rounded-l-3xl bg-gray-400 focus:text-white focus:bg-[#1869f5] border-2 border-gray-400 hover:border-blue-101 focus:border-blue-101">
                X86
              </button>
              <button id="btn-arm" class="bg-gray-400 focus:text-white focus:bg-[#1869f5] border-2 border-gray-400 hover:border-blue-101 focus:border-blue-101 font-bold py-2 px-6 rounded-r-3xl">
                ARM
              </button>
            </div>
            <div id="arm" class="w-full hidden">
              <iframe class="w-full focus:outline-none overflow-hidden min-h-[700px]" scrolling="yes" src="https://opencollective.com/embed/manjaro-arm/donate?hideHeader=true&hideFAQ=true&hideSteps=true"></iframe>
            </div>
            <form id="x86" class="w-full hidden active">
              <div class="grid content-start">
                <div class="w-full px-6 mb-6 md:mb-0">
                  <div class="w-full py-4">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                      select currency
                    </label>
                    <div class="relative grid grid-cols-1 w-full gap-4">
                      <select class="block appearance-none w-full bg-white border-2 border-white text-gray-700 pt-3 px-4 pr-8 rounded-xl leading-tight focus:outline-none focus:bg-white focus:border-blue-101 focus:ring-blue-101 shadow hover:border-blue-101 focus:border" 
                      id="grid-state">
                        <option>Euro</option>
                        <option>Dollar</option>
                        <option>Pound</option>
                      </select>
                   </div>
                </div>
              </div>
              <iframe class="w-full focus:outline-none overflow-hidden min-h-[700px]" scrolling="yes" src="https://opencollective.com/embed/manjaro/donate?hideHeader=true&hideFAQ=true&hideSteps=true"></iframe>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="overflow-hidden h-full w-full bg-teal-accent-400 fixed top-0 z-[-1]">
  <svg class="fixed text-gray-300 hidden md:block left-0 h-full top-0" version="1.1" viewBox="0 0 140 135"
    xmlns="http://www.w3.org/2000/svg">
    <g transform="matrix(-1,0,0,1,140,0)" fill="CurrentColor">
      <path d="m95 45 45-45v89.915l-45.252 45.085h-94.748l60-55z" fill-opacity=".11748" />
      <g fill-opacity=".4">
        <path d="m140 80v-70l-45.252 45-84.748 80h75z" />
        <path d="m140 70v-50l-45 45-75 70h55z" />
        <path d="m140 60v-30l-45.252 45-64.748 60h35z" />
        <path d="m140 50v-10l-45.252 45-49.748 50h10z" />
      </g>
  </svg>
</div>
</div>
<script>
  window.addEventListener("load", () => {
    const select = document.getElementsByTagName("select")[0]
    function setCurrency() {
      const iframe = document.getElementsByTagName("iframe")[1]
      let currency = select.value
      switch(currency) {
        case "Euro":
          var collective = `https://opencollective.com/embed/manjaro/donate?hideHeader=true&hideFAQ=true&hideSteps=true`
          iframe.src = collective
          break;
        case "Dollar":
          var collective = "https://opencollective.com/embed/manjaro-us/donate?hideHeader=true&hideFAQ=true&hideSteps=true"
          iframe.src = collective
          break;
        case "Pound":
          var collective = `https://opencollective.com/embed/manjaro-uk/donate?hideHeader=true&hideFAQ=true&hideSteps=true`
          iframe.src = collective
          break;
      }
      //let height = document.body.scrollHeight
      //.log(height)
      //iframe.style.height=(100 + "%")
    }
    select.onchange = function () {
      setCurrency()
    }
    setCurrency()
    let btnArm = document.querySelector("#btn-arm")
    let btnX86 = document.querySelector("#btn-x86")
    function showFrame(event) {
      let arm = document.querySelector("#arm")
      let x86 = document.querySelector("#x86")
      if (event.target.id.includes("arm")) {
        x86.classList.remove("active")
        arm.classList.add("active")
        btnX86.classList.remove("active")
        btnArm.classList.add("active")
      } else {
        arm.classList.remove("active")
        x86.classList.add("active")
        btnX86.classList.add("active")
        btnArm.classList.remove("active")
      }
    }
    btnArm.onclick = (event) => {showFrame(event)}
    btnX86.onclick = (event) => {showFrame(event)}
  })
</script>
  {% endblock %}
  