{% extends "base.html" %}

{% load wagtailcore_tags static template_tags %}

{% block body_class %}downloads{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if page.search_description %}
        {{ page.search_description }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="px-4 pb-10 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:pb-20">
  <div class="max-w-xl mb-10 sm:mx-auto">
    <h3 class="font-sans text-3xl font-bold leading-tight tracking-tight text-gray-900 sm:text-4xl text-center uppercase">
      Choose Your Edition
      <span class="inline-block text-deep-purple-accent-400 text-2xl pt-8">stop distro hopping</span>
    </h3>
  </div>
  <div class="grid gap-12 row-gap-8 lg:grid-cols-3">
    <div class="flex">
      <div class="mr-4">
        <div class="flex items-center justify-center w-10 h-10 mb-3 rounded-full bg-teal-900">
          <svg class="w-8 h-8 text-yellow-accent-700" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </div>
      </div>
      <div>
        <h6 class="mb-2 font-semibold leading-5">{{ page.question_one }}</h6>
        <p class="text-sm text-gray-900">
          {{ page.answer_one }}
        </p>
      </div>
    </div>
    <div class="flex">
      <div class="mr-4">
        <div class="flex items-center justify-center w-10 h-10 mb-3 rounded-full bg-teal-900">
          <svg class="w-8 h-8 text-yellow-accent-700" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </div>
      </div>
      <div>
        <h6 class="mb-2 font-semibold leading-5">{{ page.question_two }}</h6>
        <p class="text-sm text-gray-900">
          {{ page.answer_two }}
        </p>
      </div>
    </div>
    <div class="flex">
      <div class="mr-4">
        <div class="flex items-center justify-center w-10 h-10 mb-3 rounded-full bg-teal-900">
          <svg class="w-8 h-8 text-yellow-accent-700" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </div>
      </div>
      <div>
        <h6 class="mb-2 font-semibold leading-5">{{ page.question_three }}</h6>
        <p class="text-sm text-gray-900">
          {{ page.answer_three }}
        </p>
      </div>
    </div>
  </div>
</div>

{% for edition, desktops in data.items %}
  {% if edition == "arm" %}
    <div class="px-4 pt-10 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
  {% elif edition == "official" %}
    <div class="px-4 py-10 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
  {% endif %}
  {% if edition != "community" %}
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <div>
        <h2 class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
            {{ edition }} Editions
        </h2>
      </div>
      <h3 class="max-w-lg font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
        <span class="relative inline-block">
          <i class="fa-solid fa-people-group text-gray-500 mr-1"></i>
        </span>
        {% if edition == "official" %}
            Manjaro Team
        {% elif edition == "arm" %}
            Manjaro ARM Team
        {% endif %}
      </h3>
    </div>
    {% endif %}
    {% if edition == "official" %}
    <div class="editions grid gap-5 row-gap-5 mb-8 lg:grid-cols-3 sm:grid-cols-2">
    {% for title, desktop in desktops.items %}        
        <div class="inline-block overflow-hidden rounded shadow-sm">
            <div class="flex flex-col h-full">
              <picture>
                <source srcset="/static/img/{{ title }}.webp" type="image/webp">
                <source srcset="/static/img/{{ title }}.jpg" type="image/jpeg"> 
                <img src="/static/img/{{ title }}.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" class="object-cover w-full h-48" alt="{{ title }} Desktop" />
              </picture>
              <div class="flex-grow border border-t-0 rounded-b bg-gray-50">
                  <div class="p-5">
                    <h4 class="mb-2 font-semibold leading-5 relative uppercase text-center">
                      {{ title }} Desktop
                      {% if desktop.date %}
                          <span class="text-xs p-1 float-right">Updated: <time>{{ desktop.date }}</time></span>
                      {% endif %}
                </h4>
                  <span class="w-full text-center">
                    <div class="w-full text-center">
                      <button onclick="showDesc(this)" class="relative semi-bold text-sm">Description <i class="fa-solid fa-arrow-down-wide-short text-cyan-accent-700"></i></button>
                    </div>
                      <p class="text-sm text-gray-900 desc text-left mb-6 overflow-hidden transition-all duration-300 ease-in-out max-h-0">
                      {% if "xfce" in title.lower %} 
                        {{ page.xfce_description }}
                      {% elif "plasma" in title.lower %}
                        {{ page.plasma_description }}
                      {% elif "gnome" in title.lower %}
                        {{ page.gnome_description }}
                      {% endif %}
                    <br>
                    {% if desktop.notes %}
                    <span class="text-sm text-gray-900 pl-1 pr-1">
                        {{ desktop.notes }}         </span>                     
                    </p>
                  </span>
                    {% endif %}
                    <div class="flex items-center justify-center w-full mt-6">
                      <label for="of-toggle-{{ title }}" class="flex items-center cursor-pointer">
                        <div class="relative">
                          <input id="of-toggle-{{ title }}" type="checkbox" class="sr-only no-mouse-effect" />
                          <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                          <div class="dot absolute w-6 h-6 bg-gray-600 rounded-full shadow -left-1 -top-1"></div>
                        </div>
                        <div id="of-toggle-text-{{ title }}" class="text-center ml-3 text-gray-700 font-semibold w-20">
                          Full
                        </div>
                      </label>
                    </div>                 
                    <br>
                    <div class="pl-2 pr-2 text-center text-3xl">
                      {% if desktop.minimal.image %}
                      <ul id="of-minimal-{{ title }}" class="hidden mt-2">
                        {% if desktop.minimal.torrent %}
                        <a id="btn-mt" href="{{ desktop.minimal.torrent }}" class="mr-4 text-pink-300 hover:text-pink-500"><i class="fa-solid fa-magnet"></i></a>
                        {% endif %}
                        <a id="btn-mi" href="{{ desktop.minimal.image }}" class="mr-4 text-blue-300 hover:text-blue-500"><i class="fa-brands fa-usb"></i></i></a>
                        {% if desktop.minimal.signature %}
                        <a id="btn-ms" href="{{ desktop.minimal.signature }}" class="mr-4 text-orange-300 hover:text-orange-500"><i class="fa-solid fa-signature"></i></a>
                        {% endif %}
                        {% if desktop.minimal.checksum %}
                        <a id="btn-mc" href="{{ desktop.minimal.checksum }}" class="text-teal-300 hover:text-teal-500"><i class="fa-solid fa-check-double"></i></a>
                        {% endif %}
                      </ul>
                      {% endif %}
                      {% if desktop.image %}
                      <ul id="of-full-{{ title }}" class="hidden mt-2">
                        {% if desktop.torrent %}
                        <a id="btn-ft" href="{{ desktop.torrent }}" class="mr-4 text-pink-300 hover:text-pink-500"><i class="fa-solid fa-magnet"></i></a>
                        {% endif %}
                        <a id="btn-fi" href="{{ desktop.image }}" class="mr-4 text-blue-300 hover:text-blue-500"><i class="fa-brands fa-usb"></i></i></a>
                        {% if desktop.signature %}
                        <a id="btn-fs" href="{{ desktop.signature }}" class="mr-4 text-orange-300 hover:text-orange-500"><i class="fa-solid fa-signature"></i></a>
                        {% endif %}
                        {% if desktop.checksum %}
                        <a id="btn-fc" href="{{ desktop.checksum }}" class="text-teal-300 hover:text-teal-500"><i class="fa-solid fa-check-double"></i></a>
                        {% endif %}
                      </ul>
                      {% endif %}
                    </div>
                    <br>
                    <script>    
                        if (document.getElementById('of-toggle-{{ title }}').checked) {
                          document.getElementById('of-toggle-text-{{ title }}').textContent = "Minimal"
                          document.getElementById('of-minimal-{{ title }}').classList.remove("hidden") 
                          document.getElementById('of-full-{{ title }}').classList.add("hidden")
                        } else {
                          document.getElementById('of-toggle-text-{{ title }}').textContent = "Full"
                          document.getElementById('of-full-{{ title }}').classList.remove("hidden") 
                          document.getElementById('of-minimal-{{ title }}').classList.add("hidden")
                        }
                      document.getElementById('of-toggle-{{ title }}').onchange = function(value) {
                        if (document.getElementById('of-toggle-{{ title }}').checked) {
                          document.getElementById('of-toggle-text-{{ title }}').textContent = "Minimal"
                          document.getElementById('of-minimal-{{ title }}').classList.remove("hidden") 
                          document.getElementById('of-full-{{ title }}').classList.add("hidden")
                        } else {
                          document.getElementById('of-toggle-text-{{ title }}').textContent = "Full"
                          document.getElementById('of-full-{{ title }}').classList.remove("hidden") 
                          document.getElementById('of-minimal-{{ title }}').classList.add("hidden")
                        }
                     };
                    </script>
                    {% if "download." in desktop.image %}
                    <div class="text-sm text-gray-900 inline-block text-center w-full">
                      Download provided by 
                      <a href="https://www.cdn77.com">
                        <picture>
                          <source srcset="{% static 'img/cdn77.webp' %}" type="image/webp">
                          <source srcset="{% static 'img/cdn77.png' %}" type="image/png"> 
                          <img id="cdn" class="inline-block" src="{% static 'img/cdn77.png?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260' %}" alt="CDN77" /></a>                           
                        </picture>
                    </div>
                    {% endif %}
                  </div>
                </div>
            </div>
          </div>            
      {% endfor %}  
      {% endif %}
    </div>
  </div>
  {% endfor %}


<div class="px-4 py-0 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-0">
    <div class="max-w-xl mb-5 md:mx-auto sm:text-center lg:max-w-2xl">
      <div>
        <span class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-yellow-accent-700">
            device
        </span>
      </div>
      <div class="flex justify-center">
        <div class="mb-3 xl:w-96">
          <select class="form-select appearance-none
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-transparent bg-clip-padding bg-no-repeat
            border border-solid border-gray-300
            rounded
            m-0
            focus:text-gray-700 focus:border-green-accent-400 focus:outline-none" aria-label="Select a device">
{% for edition, desktops in data.items %}
  {% for iso, value in desktops.items %}
    {% if edition == "arm" %}
      {% with device=iso %}  
            <option {% if forloop.first %}selected{% endif %}>{{ device|removedash|upper }}</option>
      {% endwith %}     
    {% endif %}
  {% endfor %}
{% endfor %}
          </select>
        </div>
      </div>
    </div>

{% for edition, desktops in data.items %}
  {% for iso, value in desktops.items %}
      {% if edition == "arm" %}
          {% with device=iso %}
<div id="{{ device.lower|clean_id }}" class="{% if not forloop.first %}hidden {% endif %}arm-grid editions grid gap-5 row-gap-5 mb-8 lg:grid-cols-3 sm:grid-cols-2"> 
  {% for arm_title, arm_desktop in value.items %}
    <div class="inline-block overflow-hidden rounded shadow-sm">
      <div class="flex flex-col h-full">
        <picture>
          <source srcset="/static/img/{{ arm_title }}.webp" type="image/webp">
          <source srcset="/static/img/{{ arm_title }}.jpg" type="image/jpeg"> 
          <img src="/static/img/{{ arm_title }}.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" class="object-cover w-full h-48" alt="{{ arm_title }} Desktop" />
        </picture>
      <div class="flex-grow border border-t-0 rounded-b bg-gray-50">
          <div class="p-5">
          <h5 class="mb-2 font-semibold leading-5 relative uppercase text-center">
            {{ arm_title }}
            {% if "phosh" in arm_title.lower or "mobile" in arm_title.lower%}
            {% elif "minimal" in arm_title.lower or "sway" in arm_title.lower %}            
            {% else %}
            Desktop
            {% endif %}
            {% if arm_desktop.date %}
                <span class="text-xs p-1 float-right">Updated: <time>{{ arm_desktop.date }}</time></span>
            {% endif %}
          </h5>
          <span class="w-full text-center">
            <div class="w-full text-center">
              <button onclick="showDesc(this)" class="relative semi-bold text-sm">Description <i class="fa-solid fa-arrow-down-wide-short text-cyan-accent-700"></i></button>
            </div>
            <p class="text-sm text-gray-900 max-h-0 overflow-hidden">
              {% if "xfce" in arm_title.lower %}
                {{ page.xfce_description }}
              {% elif "plasma" in arm_title.lower %}
                {{ page.plasma_description }}
              {% elif "gnome" in arm_title.lower %}
                {{ page.gnome_description }}
              {% elif "phosh" in arm_title.lower %}
                {{ page.phosh_description }}
              {% elif "mobile" in arm_title.lower %}
                {{ page.plasma_mobile_description }}
              {% elif "mate" in arm_title.lower %}
                {{ page.mate_description }}
              {% elif "sway" in arm_title.lower %}
                {{ page.sway_description }}
              {% elif "minimal" in arm_title.lower %}
                {{ page.minimal_description }}
              {% endif %}
            <br>
            {% if arm_desktop.notes %}
                  {{ arm_desktop.notes }}  
                  <br>                            
            </p>
            <br>
          </span>
          {% endif %}
          <div class="pl-2 pr-2 text-center text-3xl mt-4"> 
            {% if arm_desktop.torrent %}
            <a id="btn-at" href="{{ arm_desktop.torrent }}" class="mr-4 text-pink-300 hover:text-pink-500"><i class="fa-solid fa-magnet"></i></a>
            {% endif %}
            {% if arm_desktop.image %}          
            <a id="btn-ai" href="{{ arm_desktop.image }}" class="mr-4 text-blue-300 hover:text-blue-500"><i class="fa-brands fa-usb"></i></i></a>
            {% endif %}
            {% if arm_desktop.signature %}
            <a  id="btn-as" href="{{ arm_desktop.signature }}" class="mr-4 text-orange-300 hover:text-orange-500"><i class="fa-solid fa-signature"></i></a>
            {% endif %}
            {% if arm_desktop.checksum %}
            <a  id="btn-ac" href="{{ arm_desktop.checksum }}" class="text-teal-300 hover:text-teal-500"><i class="fa-solid fa-check-double"></i></a>
            {% endif %}
          </div>
          </div>
      </div>
      </div>
    </div>
    {% endfor %}  
    </div>
      {% endwith %} 
    {% endif %}
  {% endfor %}
{% endfor %}
</div>

<script defer>
  document.querySelector(".form-select").onchange = function(e) {
    let grid = this.value.toLowerCase().replace(/\s/g, "")
    console.log(grid)
    let grids = document.querySelectorAll(".arm-grid")
    grids.forEach(el => {
      el.classList.remove("block")
      if (!el.classList.contains("hidden")) {
      el.classList.add("hidden")
    } 
    })
    document.getElementById(grid).classList.add("block")
    document.getElementById(grid).classList.remove("hidden")
  }
</script>

{% for edition, desktops in data.items %}
  {% if edition == "community" %}
    <div class="px-4 py-10 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <div>
        <h2 class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
            others
        </h2>
      </div>
      <h3 class="max-w-lg font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
        <span class="relative inline-block">
          <i class="fa-solid fa-users text-gray-500 mr-1"></i>
        </span>
            {{ edition.capitalize }}
      </h3>
      <p class="text-base text-gray-700 md:text-lg">
          {{ page.community_spins_intro }}
    </p>
    </div>
    <div class="grid editions gap-5 row-gap-5 mb-8 lg:grid-cols-3 sm:grid-cols-2">
    {% for title, desktop in desktops.items %}
        <div class="inline-block overflow-hidden rounded shadow-sm">
            <div class="flex flex-col h-full">
              <picture>
                <source srcset="/static/img/{{ title }}.webp" type="image/webp">
                <source srcset="/static/img/{{ title }}.jpg" type="image/jpeg"> 
                <img src="/static/img/{{ title }}.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" class="object-cover w-full h-48" alt="{{ title }} Desktop" />
              </picture>
              <div class="flex-grow border border-t-0 rounded-b bg-gray-50">
                  <div class="p-5">
                    <h4 class="mb-2 font-semibold leading-5 uppercase text-center">
                      {{ title }}
                      {% if "i3" in title.lower or "sway" in title.lower %}            
                      {% else %}
                      Desktop
                      {% endif %}
                      {% if desktop.date %}
                          <span class="text-xs p-1 float-right">Updated: <time>{{ desktop.date }}</time></span>
                      {% endif %}
                    </h4>
                    <span class="w-full text-center">
                      <div class="w-full text-center">
                        <button onclick="showDesc(this)" class="relative semi-bold text-sm">Description <i class="fa-solid fa-arrow-down-wide-short text-cyan-accent-700"></i></button>
                      </div>
                      <p class="text-sm text-gray-900 desc max-h-0 overflow-hidden">
                        {% if "cinnamon" in title.lower %}
                          {{ page.cinnamon_description }}
                        {% elif "i3" in title.lower %}
                          {{ page.i3_description }}
                        {% elif "budgie" in title.lower %}
                          {{ page.budgie_description }}
                        {% elif "mate" in title.lower %}
                          {{ page.mate_description }}
                        {% elif "sway" in title.lower %}
                          {{ page.sway_description }}
                        {% endif %}
                      <br>
                      {% if desktop.notes %}
                          {{ desktop.notes }}                              
                      </p>
                    </span>
                    {% endif %}
                    {% if desktop.minimal.image and desktop.image %}
                    <div class="flex items-center justify-center w-full mt-6">
                      <label for="co-toggle-{{ title }}" class="flex items-center cursor-pointer">
                        <div class="relative">
                          <input id="co-toggle-{{ title }}" type="checkbox" class="sr-only" />
                          <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                          <div class="dot absolute w-6 h-6 bg-gray-600 rounded-full shadow -left-1 -top-1"></div>
                        </div>
                        <div id="co-toggle-text-{{ title }}" class="text-center ml-3 text-gray-700 font-semibold w-20">
                          Minimal
                        </div>
                      </label>
                    </div>
                    <br>
                    {% endif %}
                    <div class="pl-2 pr-2 text-center text-3xl">
                      {% if desktop.minimal.image %}
                      <ul id="co-minimal-{{ title }}" {% if desktop.image %}class="hidden"{% endif %}>
                        {% if desktop.minimal.torrent %}
                        <a id="btn-mt" href="{{ desktop.minimal.torrent }}" class="mr-4 text-pink-300 hover:text-pink-500"><i class="fa-solid fa-magnet"></i></a>
                        {% endif %}
                        <a id="btn-mi" href="{{ desktop.minimal.image }}" class="mr-4 text-blue-300 hover:text-blue-500"><i class="fa-brands fa-usb"></i></i></a>
                        {% if desktop.minimal.signature %}
                        <a id="btn-ms" href="{{ desktop.minimal.signature }}" class="mr-4 text-orange-300 hover:text-orange-500"><i class="fa-solid fa-signature"></i></a>
                        {% endif %}
                        {% if desktop.minimal.checksum %}
                        <a id="btn-mc" href="{{ desktop.minimal.checksum }}" class="text-teal-300 hover:text-teal-500"><i class="fa-solid fa-check-double"></i></a>
                        {% endif %}
                      </ul>
                      {% endif %}
                      {% if desktop.custom %}
                      <ul class="mt-6">
                          <a id="btn-ed" target="_blank" href="{{ desktop.custom }}" class="mr-3 font-semibold text-deep-purple-accent-400 hover:text-deep-purple-800"><i class="fa-solid fa-file-export"></i></a>
                      </ul>
                      {% endif %}
                      {% if desktop.image %}
                        <ul id="co-full-{{ title }}">
                          {% if desktop.torrent %}
                          <a id="btn-ft" href="{{ desktop.torrent }}" class="mr-4 text-pink-300 hover:text-pink-500"><i class="fa-solid fa-magnet"></i></a>
                          {% endif %}
                          <a id="btn-fi" href="{{ desktop.image }}" class="mr-4 text-blue-300 hover:text-blue-500"><i class="fa-brands fa-usb"></i></i></a>
                          {% if desktop.signature %}
                          <a id="btn-fs" href="{{ desktop.signature }}" class="mr-4 text-orange-300 hover:text-orange-500"><i class="fa-solid fa-signature"></i></a>
                          {% endif %}
                          {% if desktop.checksum %}
                          <a id="btn-fc" href="{{ desktop.checksum }}" class="text-teal-300 hover:text-teal-500"><i class="fa-solid fa-check-double"></i></a>
                          {% endif %}
                        </ul>
                      {% endif %}
                    </div>
                    {% if desktop.minimal.image and desktop.image %}
                    <script>    
                      if (document.getElementById('co-toggle-{{ title }}').checked) {
                          document.getElementById('co-toggle-text-{{ title }}').textContent = "Minimal"
                          document.getElementById('co-minimal-{{ title }}').classList.remove("hidden") 
                          document.getElementById('co-full-{{ title }}').classList.add("hidden")
                        } else {
                          document.getElementById('co-toggle-text-{{ title }}').textContent = "Full"
                          document.getElementById('co-full-{{ title }}').classList.remove("hidden") 
                          document.getElementById('co-minimal-{{ title }}').classList.add("hidden")
                        }
                      document.getElementById('co-toggle-{{ title }}').onchange = function(value) {
                        if (document.getElementById('co-toggle-{{ title }}').checked) {
                          document.getElementById('co-toggle-text-{{ title }}').textContent = "Minimal"
                          document.getElementById('co-minimal-{{ title }}').classList.remove("hidden") 
                          document.getElementById('co-full-{{ title }}').classList.add("hidden")
                        } else {
                          document.getElementById('co-toggle-text-{{ title }}').textContent = "Full"
                          document.getElementById('co-full-{{ title }}').classList.remove("hidden") 
                          document.getElementById('co-minimal-{{ title }}').classList.add("hidden")
                        }
                     };
                      </script>
                      {% endif %}
                    {% if "download." in desktop.image %}
                    <br>
                    <div class="text-sm text-gray-900 inline-block text-center w-full">
                      Download provided by 
                      <a href="https://www.cdn77.com">
                        <picture>
                          <source srcset="{% static 'img/cdn77.webp' %}" type="image/webp">
                          <source srcset="{% static 'img/cdn77.png' %}" type="image/png"> 
                          <img id="cdn" class="inline-block" src="{% static 'img/cdn77.png?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260' %}" alt="CDN77" /></a>                           
                        </picture>
                    </div>
                    {% endif %}
                  </div>
                </div>
            </div>
          </div>            
      {% endfor %}
      <div class="inline-block overflow-hidden rounded shadow-sm">
        <div class="flex flex-col h-full">
          <picture>
            <source srcset="{% static 'img/docker.webp' %}" type="image/webp">
            <source srcset="{% static 'img/docker.jpg' %}" type="image/jpeg"> 
            <img src="{% static 'img/docker.jpg' %}?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" class="object-cover w-full h-48" alt="Manjaro Docker" />
          </picture>
          <div class="flex-grow border border-t-0 rounded-b text-left bg-gray-50">
              <div class="p-5">
                <h3 class="mb-2 font-semibold leading-5 uppercase text-center">Manjaro Docker</h3>
                <span class="w-full text-center">
                  <div class="w-full text-center">
                    <button onclick="showDesc(this)" class="relative semi-bold text-sm">Description <i class="fa-solid fa-arrow-down-wide-short text-cyan-accent-700"></i></button>
                  </div>
                  <p class="text-sm text-gray-900 desc max-h-0 overflow-hidden">
                    {{ page.docker_intro }}                           
                  </p>
                </span>
                <div class="pl-2 pr-2 text-center text-3xl mt-6">
                  <ul>
                    <a id="btn-ed" target="_blank" href="https://github.com/manjaro/manjaro-docker" class="mr-3 font-semibold text-deep-purple-accent-400 hover:text-deep-purple-800"><i class="fa-solid fa-file-export"></i></a>
                </ul>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="inline-block overflow-hidden rounded shadow-sm">
        <div class="flex flex-col h-full">
          <picture>
            <source srcset="{% static 'img/manual.webp' %}" type="image/webp">
            <source srcset="{% static 'img/manual.jpg' %}" type="image/jpeg"> 
            <img src="{% static 'img/manual.jpg' %}?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" class="object-cover w-full h-48" alt="Manjaro Manual" />
          </picture>
        <div class="flex-grow border border-t-0 rounded-b text-left bg-gray-50">
            <div class="p-5">
            <h3 class="mb-2 font-semibold leading-5 uppercase text-center">Manjaro Manual</h3>
            <span class="w-full text-center">
              <div class="w-full text-center">
                <button onclick="showDesc(this)" class="relative semi-bold text-sm">Description <i class="fa-solid fa-arrow-down-wide-short text-cyan-accent-700"></i></button>
              </div>
              <p class="text-sm text-gray-900 desc max-h-0 overflow-hidden">
                {{ page.manual_intro }}                              
              </p>
            </span>
            <a href="https://en.osdn.net/projects/manjaro/storage/Manjaro-User-Guide.pdf" class="mt-4 px-2 h-12 inline-flex items-center justify-center w-full mb-2 font-medium tracking-wide text-white rounded shadow-md bg-pink-600 hover:bg-pink-700 focus:shadow-outline focus:outline-none">Manjaro Guide In English</a>
            <a href="https://en.osdn.net/projects/manjaro/storage/Manjaro-User-Guide-French.pdf" class="px-2 h-12 inline-flex items-center justify-center w-full mb-2 font-medium tracking-wide text-white rounded shadow-md bg-pink-600 hover:bg-pink-700 focus:shadow-outline focus:outline-none">Manjaro Guide De L'utilisateur</a>
            <a href="https://en.osdn.net/projects/manjaro/storage/Manjaro-User-Guide-Turkish.pdf" class="px-2 h-12 inline-flex items-center justify-center w-full mb-2 font-medium tracking-wide text-white rounded shadow-md bg-pink-600 hover:bg-pink-700 focus:shadow-outline focus:outline-none">Manjaro Kullanici rehberi</a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <script>
    function showDesc(btn) {
      let parent = btn.parentElement.parentElement
      let desc = parent.children[1]
      desc.classList.toggle("max-h-0")
      console.log(desc)
      
    }
    let dow = "Download "
    let min = "Download Minimal "
    let ful = "Download Full "
    let im = "Image"
    let sig = "Signature"
    let che = "Checksum"
    let tor = "Torrent"
    tippy('#btn-mi', {
      content: min + im,
    });
    tippy('#btn-ms', {
      content: min + sig,
    });
    tippy('#btn-mc', {
      content: min + che,
    });
    tippy('#btn-mt', {
      content: min + tor,
    });
    tippy('#btn-fi', {
      content: ful + im,
    });
    tippy('#btn-fs', {
      content: ful + sig,
    });
    tippy('#btn-ft', {
      content: ful + tor,
    });
    tippy('#btn-fc', {
      content: ful + che,
    });
    tippy('#btn-ai', {
      content: dow + im,
    });
    tippy('#btn-at', {
      content: dow + tor,
    });
    tippy('#btn-as', {
      content: dow + sig,
    });
    tippy('#btn-ac', {
      content: dow + che,
    });  
    tippy('#btn-cd', {
      content: dow,
    }); 
    tippy('#btn-ed', {
      content: "External " + dow,
    });
  </script>
{% endblock %}