{% extends "base.html" %}

{% load wagtailcore_tags static template_tags %}

{% block content %}

<div class="px-4 pt-20 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:pt-36">
  <div class="max-w-xl mb-10 sm:mx-auto">
    <h1 class="font-sans text-3xl font-bold leading-tight tracking-tight text-gray-900 sm:text-4xl sm:text-center">
      Choosing The Right Edition
      <span class="inline-block text-deep-purple-accent-400 text-2xl pt-8">stop distro hopping</span>
    </h1>
  </div>
  <div class="grid gap-12 row-gap-8 lg:grid-cols-3">
    <div class="flex">
      <div class="mr-4">
        <div class="flex items-center justify-center w-10 h-10 mb-3 rounded-full bg-indigo-50">
          <svg class="w-8 h-8 text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </div>
      </div>
      <div>
        <h6 class="mb-2 font-semibold leading-5">What is a Editon?</h6>
        <p class="text-sm text-gray-900">
          A Editon is just a diferent user Interface (UI), it simple changes the way you interact with you computer, try diferent images and find out what you like as it is purely personal preference, the base is still Manjaro.
        </p>
      </div>
    </div>
    <div class="flex">
      <div class="mr-4">
        <div class="flex items-center justify-center w-10 h-10 mb-3 rounded-full bg-indigo-50">
          <svg class="w-8 h-8 text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </div>
      </div>
      <div>
        <h6 class="mb-2 font-semibold leading-5">Is Manjaro superior to other distributions?</h6>
        <p class="text-sm text-gray-900">
          Manjaro is not better or worse that any other Linux distribution they all do the same, Manjaro has is own tools ( software ), package managers and themes, you install once and forget about it.
        </p>
      </div>
    </div>
    <div class="flex">
      <div class="mr-4">
        <div class="flex items-center justify-center w-10 h-10 mb-3 rounded-full bg-indigo-50">
          <svg class="w-8 h-8 text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </div>
      </div>
      <div>
        <h6 class="mb-2 font-semibold leading-5">What about software availability?</h6>
        <p class="text-sm text-gray-900">
          Manjaro try's not to lock you up to one package format because having a wide range of software is important, you can install native packages, Snap, Flatpak or Appimage, if your software is not available you can try the AUR community repository at your own risk.
        </p>
      </div>
    </div>
  </div>
</div>

{% for edition, desktops in data.items %}
  {% if edition == "arm" %}
    <div class="px-4 pt-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:pt-20">
  {% else %}
    <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  {% endif %}
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <div>
        <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
            {{ edition }} Editions
        </p>
      </div>
      <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
        <span class="relative inline-block">
          <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
            <defs>
              <pattern id="7b568941-9ed0-4f49-85a0-5e21ca6c7ad6" x="0" y="0" width=".135" height=".30">
                <circle cx="1" cy="1" r=".7"></circle>
              </pattern>
            </defs>
            <rect fill="url(#7b568941-9ed0-4f49-85a0-5e21ca6c7ad6)" width="52" height="24"></rect>
          </svg>
        </span>
        {% if edition == "official" %}
            Desktop Team Spins
        {% elif edition == "arm" %}
            ARM Team Spins
        {% elif edition == "community" %}
            Community Spins
        {% endif %}
      </h2>
      <p class="text-base text-gray-700 md:text-lg">
        {% if edition == "official" %}
            The Manjaro team is dedicated to bring the most popular Linux desktop user interfaces to Manjaro.
        {% elif edition == "arm" %}
            The ARM team is dedicaded to bring Manjaro to a wide range of lot devices.
        {% elif edition == "community" %}
            Community spins are born from a individual's love for a certain Desktop Enviroment not available as official editions.
        {% endif %}      
    </p>
    </div>
    <div class="grid gap-5 row-gap-5 mb-8 lg:grid-cols-3 sm:grid-cols-2">
    {% for iso, value in desktops.items %}
        {% if edition != "arm" %}
        <a href="/" aria-label="View Item" class="inline-block overflow-hidden duration-300 transform bg-white rounded shadow-sm hover:-translate-y-2">
            <div class="flex flex-col h-full">
            <img src="/static/img/{{ iso }}.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" class="object-cover w-full h-48" alt="" />
            <div class="flex-grow border border-t-0 rounded-b">
                <div class="p-5">
                <h6 class="mb-2 font-semibold leading-5">{{ iso|capfirst }} Desktop</h6>
                <p class="text-sm text-gray-900">
                  {{ value.description }}
                </p>
                </div>
            </div>
            </div>
        </a>            
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}

{% for edition, desktops in data.items %}
    {% for iso, value in desktops.items %}
        {% if edition == "arm" %}
            {% with device=iso %}
                <div class="px-4 py-0 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-0">
                    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
                      <div>
                        <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-white uppercase rounded-full bg-indigo-accent-400">
                            device
                        </p>
                      </div>
                      <h2 class="max-w-lg mb-6 font-sans text-2xl font-bold leading-none tracking-tight text-gray-900 sm:text-2xl md:mx-auto">
                        {{ device|removedash|upper }}
                      </h2>
                      <p class="text-base text-gray-700 md:text-lg">
                        desc      
                    </p>
                    </div>
                    <div class="grid gap-5 row-gap-5 mb-8 lg:grid-cols-3 sm:grid-cols-2">
                        {% for k, v in value.items %}
                        <a href="/" aria-label="View Item" class="inline-block overflow-hidden duration-300 transform bg-white rounded shadow-sm hover:-translate-y-2">
                          <div class="flex flex-col h-full">
                          <img src="/static/img/{{ k }}.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" class="object-cover w-full h-48" alt="" />
                          <div class="flex-grow border border-t-0 rounded-b">
                              <div class="p-5">
                              <h6 class="mb-2 font-semibold leading-5">{{ k|capfirst }} Desktop</h6>
                              <p class="text-sm text-gray-900">
                                {{ v.description }}
                              </p>
                              </div>
                          </div>
                          </div>
                        </a>
                        {% endfor %}  
             {% endwith %}     
          {% endif %}
        </div>
      </div>
{% endfor %}

{% endfor %}
<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <div>
      <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
          misc
      </p>
    </div>
    <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
      <span class="relative inline-block">
        <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
          <defs>
            <pattern id="7b568941-9ed0-4f49-85a0-5e21ca6c7ad6" x="0" y="0" width=".135" height=".30">
              <circle cx="1" cy="1" r=".7"></circle>
            </pattern>
          </defs>
          <rect fill="url(#7b568941-9ed0-4f49-85a0-5e21ca6c7ad6)" width="52" height="24"></rect>
        </svg>
      </span>
      Downloads
    </h2>
    <p class="text-base text-gray-700 md:text-lg">
      Stuff that do not fit in any other category  
  </p>
  </div>
  <div class="grid gap-5 row-gap-5 mb-8 lg:grid-cols-3 sm:grid-cols-2">

      <a target="_blank" href="https://github.com/manjaro/manjaro-docker" aria-label="View Item" class="inline-block overflow-hidden duration-300 transform bg-white rounded shadow-sm hover:-translate-y-2">
          <div class="flex flex-col h-full">
          <img src="/static/img/docker.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" class="object-cover w-full h-48" alt="Manjaro Docker" />
          <div class="flex-grow border border-t-0 rounded-b">
              <div class="p-5">
              <h6 class="mb-2 font-semibold leading-5">Manjaro Docker</h6>
              <p class="text-sm text-gray-900">
               Manjaro experience as a MultiArch Docker image, this provides a simple but complete image that you can base others on. 
              </p>
              </div>
          </div>
          </div>
      </a>

      <div aria-label="View Item" class="inline-block overflow-hidden duration-300 transform bg-white rounded shadow-sm hover:-translate-y-2">
        <div class="flex flex-col h-full">
        <img src="/static/img/manual.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" class="object-cover w-full h-48" alt="Manjaro Manual" />
        <div class="flex-grow border border-t-0 rounded-b">
            <div class="p-5">
            <h6 class="mb-2 font-semibold leading-5">Community Manual</h6>
            <p class="text-sm text-gray-900 pb-6">
             If you never used Manjaro have a read.
            </p>
            <a href="https://en.osdn.net/projects/manjaro/storage/Manjaro-User-Guide.pdf" class="px-2 h-12 inline-flex items-center justify-center w-full mb-2 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-indigo-600 hover:bg-indigo-700 focus:shadow-outline focus:outline-none">Manjaro Guide In English</a>
            <a href="https://en.osdn.net/projects/manjaro/storage/Manjaro-User-Guide-French.pdf" class="px-2 h-12 inline-flex items-center justify-center w-full mb-2 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-indigo-600 hover:bg-indigo-700 focus:shadow-outline focus:outline-none">Manjaro Guide De L'utilisateur</a>
            <a href="https://en.osdn.net/projects/manjaro/storage/Manjaro-User-Guide-Turkish.pdf" class="px-2 h-12 inline-flex items-center justify-center w-full mb-2 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-indigo-600 hover:bg-indigo-700 focus:shadow-outline focus:outline-none">Manjaro Kullanici rehberi</a>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}