{% extends "base.html" %}

{% load wagtailcore_tags home_tags static %}

{% block body_class %}features bg-blue-gray-800{% endblock %}

{% block title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if page.search_description %}
        {{ page.search_description }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="overflow-hidden h-full w-full bg-blue-gray-800 fixed top-0 z-[-1]">
  <svg class="fixed text-teal-300 hidden md:block left-0 h-full top-0" version="1.1" viewBox="0 0 140 135"
    xmlns="http://www.w3.org/2000/svg">
    <g transform="matrix(-1,0,0,1,140,0)" fill="CurrentColor">
      <path d="m95 45 45-45v89.915l-45.252 45.085h-94.748l60-55z" fill-opacity=".11748" />
      <g fill-opacity=".4">
        <path d="m140 80v-70l-45.252 45-84.748 80h75z" />
        <path d="m140 70v-50l-45 45-75 70h55z" />
        <path d="m140 60v-30l-45.252 45-64.748 60h35z" />
        <path d="m140 50v-10l-45.252 45-49.748 50h10z" />
      </g>
  </svg>
</div>
<div class="md:max-w-screen-xl font-bold text-gray-200 text-sm lg:pb-14 px-4 mx-auto">
<div>
    <h2 class="text-center mb-6 text-2xl">
        What are <span class="inline-block text-yellow-600">Branches</span><br>
        and why do we need them?
      </h2>
      <p class="mb-20 bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
         {{ page.branches_intro }} <a href="https://wiki.manjaro.org/index.php/Switching_Branches" 
         class="text-teal-500 underline">Switching Branches</a>.
       </p>
    <div class="grid gap-4 lg:grid-cols-2 mx-auto">
      <div class="">        
        <div class="flex">
          <div class="flex flex-col items-center mr-4">
            <div>
              <div class="flex items-center justify-center w-10 h-10 border rounded-full">
                <svg class="w-4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                  <line fill="none" stroke-miterlimit="10" x1="12" y1="2" x2="12" y2="22"></line>
                  <polyline fill="none" stroke-miterlimit="10" points="19,15 12,22 5,15"></polyline>
                </svg>
              </div>
            </div>
            <div class="w-px h-full bg-gray-200"></div>
          </div>
          <div class="pt-1 pb-8">
            <h3 class="mb-2 text-yellow-600">Arch Linux</h3>
            <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
             {{ page.arch_linux_intro }}
            </p>
          </div>
        </div>
        <div class="flex">
          <div class="flex flex-col items-center mr-4">
            <div>
              <div class="flex items-center justify-center w-10 h-10 border rounded-full">
                <svg class="w-4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                  <line fill="none" stroke-miterlimit="10" x1="12" y1="2" x2="12" y2="22"></line>
                  <polyline fill="none" stroke-miterlimit="10" points="19,15 12,22 5,15"></polyline>
                </svg>
              </div>
            </div>
            <div class="w-px h-full bg-gray-200"></div>
          </div>
          <div class="pt-1 pb-8">
            <h3 class="mb-2 text-yellow-600">Unstable</h3>
            <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
             {{ page.unstable_intro }}
            </p>
          </div>
        </div>
        <div class="flex">
          <div class="flex flex-col items-center mr-4">
            <div>
              <div class="flex items-center justify-center w-10 h-10 border rounded-full">
                <svg class="w-4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                  <line fill="none" stroke-miterlimit="10" x1="12" y1="2" x2="12" y2="22"></line>
                  <polyline fill="none" stroke-miterlimit="10" points="19,15 12,22 5,15"></polyline>
                </svg>
              </div>
            </div>
            <div class="w-px h-full bg-gray-200"></div>
          </div>
          <div class="pt-1 pb-8">
            <h3 class="mb-2 text-yellow-600">Testing</h3>
            <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
                {{ page.testing_intro }}
            </p>
          </div>
        </div>
        <div class="flex">
          <div class="flex flex-col items-center mr-4">
            <div>
              <div class="flex items-center justify-center w-10 h-10 border rounded-full">
                <svg class="w-6" stroke="currentColor" viewBox="0 0 24 24">
                  <polyline fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="6,12 10,16 18,8"></polyline>
                </svg>
              </div>
            </div>
          </div>
          <div class="pt-1">
            <h3 class="mb-2 text-yellow-600">Stable</h3>
            <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
                {{ page.stable_intro }}
            </p>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center mt-20 lg:mt-0">
        <div class="flex flex-col items-end px-3">
          <div class="green-circle flex items-center justify-center text-2xl shadow">Stable</div>
          <div class="red-circle flex items-center justify-center text-2xl shadow">Unstable</div>
        </div>
        <div class="px-3">
            <div class="orange-circle flex items-center justify-center text-2xl shadow">Testing</div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-20">
    <div class="mb-10 md:mb-12">
      <h2 class="mb-6 text-2xl">
        <span class="inline-block text-yellow-600">Pamac</span>
         Software Center
      </h2>
      <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
          {{ page.pamac_intro }}
       </p>
    </div>
    <div class="grid gap-4 lg:grid-cols-2">
      <div class="grid grid-rows-1 gap-5">
        <picture>
          <source srcset="{% static 'img/pamac1.webp' %}" type="image/webp">
          <source srcset="{% static 'img/pamac1.jpg' %}" type="image/jpeg"> 
          <img class="object-cover w-full h-full col-span-2 rounded shadow-lg" src="{% static 'img/pamac1.jpg' %}?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="Pamac" />
        </picture>
      </div>
      <div class="flex flex-col justify-center">
        <div class="pb-4 mb-4">
          <h3 class="mb-2 text-yellow-600">
            Multiple package formats support
          </h3>
          <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
            {{ page.package_formats_intro }}
          </p>
        </div>
        <div class="pb-4 mb-4">
          <h3 class="mb-2 text-yellow-600">
            Update in a breeze
          </h3>
          <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
            {{ page.updates_intro }}
          </p>
        </div>
        <div>
          <h3 class="mb-2 text-yellow-600">
            Arch User Repository
          </h3>
          <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
            {{ page.aur_intro }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-20">
    <div class="grid gap-4 lg:grid-cols-2">
      <div class="flex flex-col">
        <div class="mb-4">
          <h2 class="mb-6 text-2xl">
            Gnome <span class="inline-block text-yellow-600">Layout Switcher</span>
          </h2>
          <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
            {{ page.gnome_layout_switcher_intro }}
          </p>
        </div>
        <div class="grid gap-4 row-gap-2 sm:grid-rows-4">
            <div class="">
              <h3 class="mb-2 text-yellow-600">
                Manjaro
              </h3>
              <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal relative -mb-2">
                {{ page.manjaro_layout_intro }}
              </p>
          </div>
            <div>
              <h3 class="mb-2 text-yellow-600">
                Traditional
              </h3>
              <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
                {{ page.traditional_layout_intro }}
              </p>
          </div>
            <div>
              <h3 class="mb-2 text-yellow-600">
                Tilling
              </h3>
              <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
                {{ page.tilling_layout_intro }}
              </p>
          </div>
            <div>
              <h3 class="mb-2 text-yellow-600">
                Gnome
              </h3>
              <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
                {{ page.gnome_layout_intro }}
              </p>
          </div>
        </div>
      </div>
      <div class="grid gap-8 lg:grid-rows-2 place-items-center">
        <picture>
          <source srcset="{% static 'img/layout1.webp' %}" type="image/webp">
          <source srcset="{% static 'img/layout1.jpg' %}" type="image/jpeg"> 
          <img class="object-contain w-[85%] rounded shadow-lg mx-auto" src="{% static 'img/layout1.jpg' %}?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="Gnome Layout Switcher" />
        </picture>
        <picture>
          <source srcset="{% static 'img/layout2.webp' %}" type="image/webp">
          <source srcset="{% static 'img/layout2.jpg' %}" type="image/jpeg"> 
          <img class="object-contain w-[85%] rounded shadow-lg mx-auto" src="{% static 'img/layout2.jpg' %}?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="Gnome Layout Switcher" />
        </picture>
      </div>
    </div>
  </div>

  <div class="mt-20">
    <div class="mb-6">
      <h2 class="mb-6 text-2xl">
        Manjaro <span class="inline-block text-yellow-600">Settings Manager</span>
      </h2>
      <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
        {{ page.msm_intro }}
      </p>
    </div>
    <div class="grid gap-4 lg:grid-cols-2">
      <div class="grid grid-cols-1 gap-5">
        <picture>
          <source srcset="{% static 'img/msm.webp' %}" type="image/webp">
          <source srcset="{% static 'img/msm.jpg' %}" type="image/jpeg"> 
          <img class="object-cover w-full h-full col-span-2 rounded shadow-lg" src="{% static 'img/msm.jpg' %}?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="Manjaro settings manager" />
        </picture>
      </div>
      <div class="flex flex-col">
        <div class="pb-4 mb-4">
          <h6 class="mb-2 text-yellow-600">
            Manage your Kernels
          </h6>
          <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
            {{ page.kernels_intro }}
          </p>
        </div>
        <div class="pb-4 mb-4">
          <h6 class="mb-2  text-yellow-600">
            Easily change the most common settings
          </h6>
          <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
            {{ page.common_settings_intro }}
          </p>
        </div>
        <div>
          <h6 class="mb-2  text-yellow-600">
            Graphic Drivers
          </h6>
          <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
            {{ page.graphic_drivers_intro }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="mt-20">
        <h5 class="mb-4 text-2xl">
            The <span class="inline-block text-yellow-600">WebApp</span>
            Manager
          </h5>
      <p class="mb-4 bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
        The <a href="https://software.manjaro.org/package/webapp-manager-manjaro" 
        class="text-teal-500 underline">WebApp Manager</a> {{ page.web_app_manager_intro }}
      </p>
    </div>
    <div class="grid gap-6 row-gap-5 lg:grid-cols-3">
      <div>
        <picture>
          <source srcset="{% static 'img/webapp.webp' %}" type="image/webp">
          <source srcset="{% static 'img/webapp.jpg' %}" type="image/jpeg"> 
          <img class="object-cover w-full mb-6 rounded shadow-lg lg:h-80 xl:h-96" src="{% static 'img/webapp.jpg' %}?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500" alt="" />
        </picture>
      </div>
      <div>
        <picture>
          <source srcset="{% static 'img/ms.webp' %}" type="image/webp">
          <source srcset="{% static 'img/ms.jpg' %}" type="image/jpeg"> 
          <img class="object-cover w-full mb-6 rounded shadow-lg lg:h-80 xl:h-96" src="{% static 'img/ms.jpg' %}?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="" />
        </picture>
        <h5 class="mb-2 text-yellow-600">
          Microsoft Office
        </h5>
        <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
            {{ page.microsoft_office_intro }} <a href="https://software.manjaro.org/package/microsoft-office-web-jak" 
            class="text-teal-500 underline">pre-built package</a>.
        </p>
      </div>
      <div>
        <picture>
          <source srcset="{% static 'img/skype.webp' %}" type="image/webp">
          <source srcset="{% static 'img/skype.jpg' %}" type="image/jpeg"> 
          <img class="object-cover w-full mb-6 rounded shadow-lg lg:h-80 xl:h-96" src="{% static 'img/skype.jpg' %}?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="" />
        </picture>
        <h5 class="mb-2 text-yellow-600">
          Skype
        </h5>
        <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
          {{ page.skype_intro }} <a href="https://software.manjaro.org/package/skype-web-jak" 
          class="text-teal-500 underline">pre-built package</a>.
        </p>
      </div>
    </div>
  </div>

  <div class="mt-20">
    <div class="grid gap-10 lg:grid-cols-2 items-center">
      <div class="lg:pr-10">
        <h5 class="mb-4 text-2xl">
          The <span class="inline-block text-yellow-600">Calamares</span>
          Installer
        </h5>
        <p class="bg-gray-200 p-4 text-blue-gray-800 rounded font-normal">
          {{ page.calamares_intro }}
        </p>
      </div>
      <div>
        <picture>
          <source srcset="{% static 'img/calamares.webp' %}" type="image/webp">
          <source srcset="{% static 'img/calamares.jpg' %}" type="image/jpeg"> 
          <img class="object-contain w-full rounded shadow-lg" src="{% static 'img/calamares.jpg' %}?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260" alt="" />
        </picture>
      </div>
    </div>
  </div>
</div>
{% endblock %}