{% load static menu_tags %}
{% get_menu "footer-one" as footer_one %}
{% get_menu "footer-two" as footer_two %}
{% get_menu "footer-three" as footer_three %}
{% get_menu "footer-four" as footer_four %}
<footer class="relative mt-16 bg-teal-accent-400">
    <svg class="absolute top-0 w-full h-6 -mt-5 sm:-mt-10 sm:h-16 text-teal-accent-400" preserveAspectRatio="none" viewBox="0 0 1440 54">
      <path fill="currentColor" d="M0 22L120 16.7C240 11 480 1.00001 720 0.700012C960 1.00001 1200 11 1320 16.7L1440 22V54H1320C1200 54 960 54 720 54C480 54 240 54 120 54H0V22Z"></path>
    </svg>
    <div class="px-4 pt-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
      <div class="grid gap-16 row-gap-10 mb-8 lg:grid-cols-6">
        <div class="md:max-w-md lg:col-span-2">
            <a id="inline-logo" href="https://manjaro.org" aria-label="Manjaro" title="Manjaro" class="inline-flex items-center">
              <img src="{% static 'img/inline-logo-dark.svg' %}" alt="manjaro">
            </a>
          <div class="mt-4 lg:max-w-sm">
            <p class="text-sm text-teal-700">
              Manjaro Linux Open Source operating system is, and always will be, provided free of charge.
            </p>
            <p class="mt-4 text-sm text-teal-700">
              The Manjaro project is backed up by Manjaro Gmbh & Co, KG, an Open Source driven company.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-5 row-gap-8 lg:col-span-4 md:grid-cols-4">
          <div>
            <h4 class="font-semibold tracking-wide text-gray-800">
              {% get_menu_category_title "footer-one" %}
            </h4>
            <ul class="mt-2 space-y-2">
                {% for item in footer_one.menu_items.all %}
                <li>
                    <a {% if item.open_in_new_tab %}target="_blank"{% endif %} href="{{ item.link }}" aria-label="{{ item.title }}" title="{{ item.title }}" class="inline-block font-medium tracking-wide text-teal-900 transition-colors duration-200 hover:text-gray-900">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
          </div>
          <div>
            <h4 class="font-semibold tracking-wide text-gray-800">
              {% get_menu_category_title "footer-two" %}
            </h4>
            <ul class="mt-2 space-y-2">
                {% for item in footer_two.menu_items.all %}
                <li>
                    <a {% if item.open_in_new_tab %}target="_blank"{% endif %} href="{{ item.link }}" aria-label="{{ item.title }}" title="{{ item.title }}" class="inline-block font-medium tracking-wide text-teal-900 transition-colors duration-200 hover:text-gray-900">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
          </div>
          <div>
            <h4 class="font-semibold tracking-wide text-gray-800">
              {% get_menu_category_title "footer-three" %}
            </h4>
            <ul class="mt-2 space-y-2">
                {% for item in footer_three.menu_items.all %}
                <li>
                    <a {% if item.open_in_new_tab %}target="_blank"{% endif %} href="{{ item.link }}" aria-label="{{ item.title }}" title="{{ item.title }}" class="inline-block font-medium tracking-wide text-teal-900 transition-colors duration-200 hover:text-gray-900">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
          </div>
          <div>
            <h4 class="font-semibold tracking-wide text-gray-800">
              {% get_menu_category_title "footer-four" %}
            </h4>
            <ul class="mt-2 space-y-2">
                {% for item in footer_four.menu_items.all %}
                <li>
                    <a {% if item.open_in_new_tab %}target="_blank"{% endif %} href="{{ item.link }}" aria-label="{{ item.title }}" title="{{ item.title }}" class="inline-block font-medium tracking-wide text-teal-900 transition-colors duration-200 hover:text-gray-900">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-between pt-5 pb-10 border-t border-teal-accent-200 sm:flex-row">
        <p class="text-sm text-teal-700">
          © Copyright {% now "Y" %} Manjaro GmbH & Co. KG All rights reserved.
        </p>
        <div class="flex items-center mt-4 space-x-4 sm:mt-0">
          <a rel="nofollow" href="/admin/" aria-label="Log in" title="Sign in" class="font-medium tracking-wide text-teal-900 transition-colors duration-200 hover:text-gray-900">Log in</a>
        </div>
      </div>
    </div>
  </footer>