{% load static menu_tags %}
{% get_menu "footer-one" as footer_one %}
{% get_menu "footer-two" as footer_two %}
{% get_menu "footer-three" as footer_three %}
{% get_menu "footer-four" as footer_four %}

<footer id="footer" class="relative text-teal-500 bg-teal-accent-400 pb-32 shadow-md">    
    <div class="px-4 mx-auto relative sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
      <div class="w-full justify-center lg:flex relative">
      <svg
      class="absolute top-[-24px] w-full h-16 text-teal-accent-400"
      preserveAspectRatio="none"
      viewBox="0 0 1440 54">         
      <path
      fill="currentColor"
      d="M 1440,20.539825 1320,15.24045 C 1200,9.541123 960,-0.457688 720,-0.757642 480,-0.457688 240,9.541123 120,15.24045 L 0,20.539825 v 31.996226 h 120 c 120,0 360,0 600,0 240,0 480,0 600,0 h 120 z"
      id="path2"
      style="stroke:none;stroke-width:1;stroke-dasharray:none;stroke-opacity:1;fill:#1de9b6;fill-opacity:1" />
 </svg>
      </div>
      <div class="grid gap-16 row-gap-10 lg:grid-cols-6 pt-2 relative">
        <div class="md:max-w-md lg:col-span-2">
            <a id="inline-logo" href="https://manjaro.org" aria-label="Manjaro" title="Manjaro" class="inline-flex items-center">
              <img src="{% static 'img/inline-logo-dark.svg' %}" alt="manjaro">
            </a>
          <div class="lg:max-w-sm mt-10">
            <p class="text-sm mb-2 font-semibold 2xl:pt-2">
              Manjaro Linux Open Source operating system is, and always will be, provided free of charge.
            </p>
            <p class="pt-1 text-sm font-semibold">
              The Manjaro project is backed up by Manjaro Gmbh & Co, KG, an Open Source driven company.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-5 row-gap-8 lg:col-span-4 md:grid-cols-4">
          <div class="p-2">
            <h4 class="font-semibold tracking-wide uppercase text-teal-800">
              {% get_menu_category_title "footer-one" %}
            </h4>
            <ul class="mt-2 space-y-2">
                {% for item in footer_one.menu_items.all %}
                <li class="relative">
                    <a {% if item.open_in_new_tab %}target="_blank"{% endif %} href="{{ item.link }}" aria-label="{{ item.title }}" class="z-0 relative tracking-wide font-semibold text-teal-700 link-decor link-decor-ft">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
          </div>
          <div class="p-2">
            <h4 class="font-semibold tracking-wide uppercase text-teal-800">
              {% get_menu_category_title "footer-two" %}
            </h4>
            <ul class="mt-2 space-y-2">
                {% for item in footer_two.menu_items.all %}
                <li class="relative">
                    <a {% if item.open_in_new_tab %}target="_blank"{% endif %} href="{{ item.link }}" aria-label="{{ item.title }}" class="z-0 relative tracking-wide font-semibold text-teal-700 link-decor link-decor-ft">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
          </div>
          <div class="p-2">
            <h4 class="font-semibold tracking-wide uppercase text-teal-800">
              {% get_menu_category_title "footer-three" %}
            </h4>
            <ul class="mt-2 space-y-2">
                {% for item in footer_three.menu_items.all %}
                <li class="relative">
                    <a {% if item.open_in_new_tab %}target="_blank"{% endif %} href="{{ item.link }}" aria-label="{{ item.title }}" class="z-0 relative tracking-wide font-semibold text-teal-700 link-decor link-decor-ft">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
          </div>
          <div class="p-2">
            <h4 class="font-semibold tracking-wide uppercase text-teal-800">
              {% get_menu_category_title "footer-four" %}
            </h4>
            <ul class="mt-2 space-y-2">
                {% for item in footer_four.menu_items.all %}
                <li class="relative">
                    <a {% if item.open_in_new_tab %}target="_blank"{% endif %} href="{{ item.link }}" aria-label="{{ item.title }}" class="z-0 relative tracking-wide font-semibold text-teal-700 link-decor link-decor-ft">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <hr class="mb-3 mt-3 border-teal-500">
      <div class="flex flex-col justify-between pb-2 sm:flex-row">
        <p class="text-sm p-2 font-semibold">
          © Copyright {% now "Y" %} Manjaro GmbH & Co KG All rights reserved.
        </p>
        <div class="relative">
          <a rel="nofollow" href="/admin/" aria-label="Log in" class="z-0 relative tracking-wide font-semibold text-teal-700 link-decor link-decor-ft">log in</a>
        </div>
      </div>
    </div>
  </footer>