{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}hardware{% endblock %}

{% block title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if page.search_description %}
        {{ page.search_description }}
    {% endif %}
{% endblock %}

{% block content %}
  {% for block in page.content %}
    <div class="bg-grey-50 flex flex-col lg:flex-row sm:mx-auto">      
          {% include_block block %}
    </div>
    {% endfor %}
{% endblock %}
