{% extends "base.html" %}

{% load wagtailcore_tags static home_tags wagtailimages_tags %}

{% block body_class %}homepage bg-gradient-to-b from-purple-900 to-indigo-600{% endblock %}

{% block title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if page.search_description %}
        {{ page.search_description }}
    {% endif %}
{% endblock %}

{% block content %}
<div id="top" class="pt-6 lg:pt-0">    
    <img src="{% static 'img/mountain_bg_bottom.png' %}" class="fixed bottom-0 object-contain w-full" alt="page background">
{% if page.affiliate %}
  {% with affiliate=page.affiliate|random_list %}
    {% with promo=affiliate.value.promotion %}
    {% if not promo.hidden %}
    <picture>
      {% image promo.background width-640 as promo_img_640 %}
      <source srcset="{{ promo_img_640.url }}" type="image/png" media="(max-width: 640px)">
      {% image promo.background width-1024 as promo_img_1024 %}
      <source srcset="{{ promo_img_1024.url }}" type="image/png" media="(max-width: 1024px)"> 
      {% image promo.background width-1280 as promo_img_1280 %}
      <source srcset="{{ promo_img_1280.url }}" type="image/png" media="(max-width: 1280px)">
      {% image promo.background original class="fixed h-full lg:right-[-34%] object-contain 2xl:right-[-28%]" %}
    </picture>
    {% endif %}
    
    <div class="relative">
      <div class="flex justify-items-center px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-40 lg:min-h-screen">
        <div id="promo" class="flex flex-col items-center justify-between xl:flex-row w-full">
          <div class="w-full max-w-xl mb-12 xl:mb-0 xl:pr-16 xl:w-7/12 fixed">
            <img src="/static/img/rocket.png" class="absolute -translate-x-28 -translate-y-20 transform-gpu rotate-[-30deg]">
            <h1 class="max-w-lg mb-6 font-sans text-lg font-bold tracking-tight sm:leading-none text-left">
                <span class="text-gray-50 uppercase">
                  <span class="brand lowercase inline-block w-full text-3xl">manjaro </span>
                  <br><br>{{ page.manjaro_title }}</span>
            </h1>
            <p class="max-w-xl mb-4 text-base text-gray-300 md:text-lg text-justify p-0">
              <span class="brand">manjaro</span> {{ page.manjaro_intro }} 
            </p>
            <div class="grid gap-5 row-gap-10 mx-auto">
              <div class="flex flex-col justify-center">
                <h2 class="mb-4 text-sm font-bold text-gray-50 tracking-widest uppercase">Features</h2>
                <div class="grid space-y-3 sm:gap-2 sm:grid-cols-2 sm:space-y-0">
                  <ul class="space-y-3">
                    <li class="flex text-gray-50">
                      <span class="mr-1">
                        <i class="text-sm fa-solid fa-circle w-5 h-5 mt-px text-yellow-accent-700"></i>
                      </span>
                      No drivers, Plug & Play
                      </li>
                      <li class="flex text-gray-50">
                        <span class="mr-1">
                          <i class="text-sm fa-solid fa-circle w-5 h-5 mt-px text-yellow-accent-700"></i>
                        </span>
                        Rolling release
                      </li>
                      <li class="flex text-gray-50">
                        <span class="mr-1">
                          <i class="text-sm fa-solid fa-circle w-5 h-5 mt-px text-yellow-accent-700"></i>
                        </span>
                        Wide range of software
                      </li>
                    </ul>
                    <ul class="space-y-3">
                      <li class="flex text-gray-50">
                        <span class="mr-1">
                          <i class="text-sm fa-solid fa-circle w-5 h-5 mt-px text-yellow-accent-700"></i>
                        </span>
                        Secure by default
                      </li>
                      <li class="flex text-gray-50">
                        <span class="mr-1">
                          <i class="text-sm fa-solid fa-circle w-5 h-5 mt-px text-yellow-accent-700"></i>
                        </span>
                        Lightning fast
                      </li>
                      <li class="flex text-gray-50">
                        <span class="mr-1">
                          <i class="text-sm fa-solid fa-circle w-5 h-5 mt-px text-yellow-accent-700"></i>
                        </span>
                        Easily installed
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="/features/" aria-label="manjaro features" class="font-semibold  text-cyan-accent-700 hover:text-cyan-accent-400">
                          <span class="mr-1 float-left">
                            <i class="text-sm fa-solid fa-link w-5 h-5"></i>
                          </span>
                          Learn More
                      </a>
                    </li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
          {% if not promo.hidden %}
          <p class="fixed right-4 bottom-4 text-gray-200 bg-black bg-opacity-70 w-64 p-4 font-semibold">New manjaro hardware is crashing on planet Earth everyday get yours now</p>
          <div class="fixed right-[20%] arrow-bg bg-lime-accent-400 min-h-[5rem] hover:min-h-[6rem] transition-all duration-300">
              <a target="_blank" href="{{ promo.url }}" aria-label="{{ promo.text }}" class="text-gray-700 hover:text-gray-800 font-semibold text-2xl">
                {{ promo.text }}
              </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endwith %}
   {% endwith %}
{% endif %}
   <a href="#partner" class="arrow-links text-6xl hidden xl:block" aria-label="partner">
    <div class="chevron-container">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
    </div>
  </a>
  </div>

  <div class="bg-blue-gray-900 relative">
  <img id="partner-bg" class="w-full h-full absolute object-cover" src='/static/img/partnership.jpg'>

  <div id="partner" class="relative lg:min-h-screenflex h-[100vh] justify-center px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="grid gap-2 lg:grid-cols-2">
      <div class="flex flex-col justify-center md:pr-8 xl:pr-0 lg:max-w-lg">
        <div class="max-w-xl mb-6 text-center">
          <div class="w-full flex items-center justify-center">
            <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-yellow-accent-700">
              <svg class="text-teal-900 w-7 h-7" viewBox="0 0 24 24">
                <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points=" 8,5 8,1 16,1 16,5" stroke-linejoin="round"></polyline>
                <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="9,15 1,15 1,5 23,5 23,15 15,15" stroke-linejoin="round"></polyline>
                <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="22,18 22,23 2,23 2,18" stroke-linejoin="round"></polyline>
                <rect x="9" y="13" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" width="6" height="4" stroke-linejoin="round"></rect>
              </svg>
            </div>
        </div>
          <h2 class="w-full uppercase mb-6 font-sans text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl sm:leading-none">
            {{ page.partners_title }}<br class="hidden md:block" />
            <span class="inline-block text-teal-600">OS integration</span>
            <span class="inline-block text-yellow-accent-700">partner with us</span>
          </h2>
          <p class="text-base text-gray-200 md:text-lg mb-2">
            {{ page.partners_intro }}
          </p>
        </div>
        <div>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <div class="flex-col items-end hidden lg:flex">
          
        </div>
      </div>
    </div>
    <a href="#software" class="arrow-links text-6xl hidden xl:block" aria-label="shells">
      <div class="chevron-container">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
      </div>
    </a>
  </div>
</div>

<div class="bg-pink-500 w-full h-full relative mt-16">
  <div id="software" class="relative flex justify-center flex-col lg:min-h-screen mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl lg:py-36">
    <h2 class="w-full uppercase mb-2 font-sans text-center text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl sm:leading-none">
      <span class="inline-block text-teal-600">Linux</span>
      <span class="inline-block text-yellow-accent-700">Software</span>
    </h2>
    <p class="text-gray-300 mb-5 text-center text-2xl font-semibold p-2">
      {{ page.software_intro }}
    </p>
    <div class="flex items-center justify-center ">
    {% with blocks=page.software %}
    <div class="flex flex-wrap gap-4 items-baseline justify-center">
      {% for block in blocks %}
        {% if not block.value.software.hidden %}
          <div class="overflow-hidden transition-shadow duration-300 bg-white rounded p-4 max-w-full md:max-w-sm">
            {% image block.value.software.image original as soft_image %}
            <img src="{{ soft_image.url }}" class="object-contain w-full h-64 rounded" alt="" />

            <div class="py-5 text-center">
              <h3 class="inline-block mb-3 text-black capitalize transition-colors duration-200 text-2xl font-bold leading-5">{{ block.value.software.title }}</h3>
              <p class="mb-4 text-gray-700 min-h-[155px]">
                {{ block.value.software.description }}
              </p>
              <div class="text-center">
                <a target="_blank" href="{{ block.value.software.url }}" class="inline-block mb-3 transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">
                  <i class="text-sm fa-solid fa-link w-5 h-5 mr-2"></i>Get <span class="capitalize">{{ block.value.software.title }}</span></a>
              </div>
            </div>
          </div>    
        {% endif %}        
      {% endfor %}
    </div>
    {% endwith %}  
    </div> 
  </div>
  </div>

  <div id="error" class="fixed bg-orange-900 p-4 hidden">
    <P class="text-gray-50">This page does not exist, you have been redirected to the home page.</P>
  </div>
<div>
  <a id="contact" class="text-3xl text-gray-100 bg-blue-600 shadow-md fixed bottom-4 left-4 p-4 rounded-full h-[62px] z-[2]" href="/contact/" aria-label="General Contact" >
    <i class="fa-solid fa-envelope align-top"></i></a>
</div>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script>
  tippy('#contact', {
      content: "Contact Us"
    });
</script>
<script>
  const links = document.querySelectorAll(".arrow-links");
  const links1 = document.querySelectorAll(".link");
  for (const link of links) {
    link.addEventListener("click", clickHandler);
  }
  for (const link of links1) {
    link.addEventListener("click", clickHandler);
  }

  function clickHandler(e) {
    e.preventDefault();
    const href = this.getAttribute("href");
    const offsetTop = document.querySelector(href).offsetTop;

    scroll({
      top: offsetTop,
      behavior: "smooth"
    });
  }
  if (window.location.href.includes("?404")) { 
    console.log(window.location.href)
    let error = document.querySelector("#error")
    error.classList.remove("hidden")
    setTimeout( function() {
      error.classList.add("hidden")
    }, 10000)
  }
</script>
{% endblock %}
