{% extends "base.html" %}

{% load wagtailcore_tags static home_tags wagtailimages_tags %}

{% block body_class %}homepage{% endblock %}

{% block title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if page.search_description %}
        {{ page.search_description }}
    {% endif %}
{% endblock %}
{% block head %}
<style>
  .v-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  @media only screen and (min-width: 1024px) {
  .clip {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
  }
}
</style>
{% endblock %}

{% block content %}
{% if page.affiliate %}
            {% with affiliate=page.affiliate|random_list %}
              {% with promo=affiliate.value.promotion %}
<div class="relative h-full w-full bg-cover bg-right-bottom bg-no-repeat overflow-hidden">
  <div class="bg-teal-accent-400 absolute h-full clip w-full"></div>
  <svg viewBox="0 0 88 88" class="text-teal-200 absolute w-full md:block right-0">
    <circle fill="currentColor" cx="44" cy="44" r="15.5"></circle>
    <circle fill-opacity="0.2" fill="currentColor" cx="44" cy="44" r="44"></circle>
    <circle fill-opacity="0.2" fill="currentColor" cx="44" cy="44" r="37.5"></circle>
    <circle fill-opacity="0.3" fill="currentColor" cx="44" cy="44" r="29.5"></circle>
    <circle fill-opacity="0.3" fill="currentColor" cx="44" cy="44" r="22.5"></circle>
  </svg>
 
      <div class="flex relative justify-items-center mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:min-h-screen">
        <div id="promo" class="flex flex-col gap-10 items-center justify-between lg:flex-row w-full z-[2] relative">
          
          <div class="lg:w-1/2 text-teal-900 p-4 pb-0 lg:p-0 font-bold">
            <h1 class="mb-6 font-extrabold text-[2.2rem] tracking-tight leading-none text-left">
                <span class="uppercase">
                {{ page.manjaro_title }}</span>
            </h1>
            <p class="mb-4 text-left font-semibold">
              manjaro {{ page.manjaro_intro }} 
            </p>
            <div class="grid gap-5 row-gap-10 mx-auto">
              <div class="flex flex-col justify-center">
                <h2 class="mb-4 font-bold text-teal-900 uppercase">Features</h2>
                <div class="flex flex-wrap md:gap-4 capitalize">
                  <ul class="font-semibold pr-6">
                    <li class="flex p-1 pl-0">
                      <span class="mr-1">
                        <i class="text-sm fa-solid fa-circle w-5 h-5 mt-px text-teal-700"></i>
                      </span>
                      Plug & Play Hardware
                    </li>
                      <li class="flex p-1 pl-0">
                        <span class="mr-1">
                          <i class="text-sm fa-solid fa-circle w-5 h-5 mt-px text-teal-700"></i>
                        </span>
                        Rolling release
                      </li>
                      <li class="flex p-1 pl-0">
                        <span class="mr-1">
                          <i class="text-sm fa-solid fa-circle w-5 h-5 mt-px text-teal-700"></i>
                        </span>
                        Wide range of software
                      </li>
                    </ul>

                    <ul class="font-semibold">
                      <li class="flex p-1 pl-0">
                        <span class="mr-1">
                          <i class="text-sm fa-solid fa-circle w-5 h-5 mt-px text-teal-700"></i>
                        </span>
                        Secure by default
                      </li>
                      <li class="flex p-1 pl-0">
                        <span class="mr-1">
                          <i class="text-sm fa-solid fa-circle w-5 h-5 mt-px text-teal-700"></i>
                        </span>
                        Lightning fast
                      </li>
                      <li class="flex p-1 pl-0">
                        <span class="mr-1">
                          <i class="text-sm fa-solid fa-circle w-5 h-5 mt-px text-teal-700"></i>
                        </span>
                        Easily installed
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
         
          {% if not promo.hidden %}
          {% image promo.image width-950 as image %}
          <div class="relative flex flex-col w-full lg:w-2/3 lg:h-[60%] justify-end pb-6">
                <picture class="self-start px-[15%] pb-4">
                  {% image promo.image width-750 format-webp class="object-contain promo-glow" %}
                </picture>
                <div>
              <div class="p-5 relative text-gray-200 bg-blue-gray-800 px-4 md:rounded shadow-xl group hover:shadow-2xl">
                <a id="promo-btn" href="{{ promo.url }}" class="tracking-wide leading-none absolute top-4 right-5 shadow-md text-sm rounded py-2 px-4 capitalize font-medium border-pink-800 hover:border-pink700 bg-pink-800 hover: hover:bg-pink-700">
                  <i class="fa-solid fa-circle-info"></i>
                  details
                </a>
                <h4 class="pb-4 font-bold capitalize"> <i class="fa-solid fa-star"></i> {{ promo.model }}</h4>
                <p class="font-bold text-xs">
                  {{ promo.description }}
                </p>
            </div>
            <div class="slef-end w-11/12 h-2 mx-auto bg-blue-gray-800 rounded-b opacity-75"></div>
            <div class="w-10/12 h-2 mx-auto bg-blue-gray-800 rounded-b opacity-50"></div>
            <div class="w-9/12 h-2 mx-auto bg-blue-gray-800 rounded-b opacity-25 lg:mb-6"></div>
                </div>
          </div>
          
          {% endif %}
      </div>
    </div>

   <a href="#manjaro" class="scroll-btn z-10 arrow-links text-6xl hidden lg:block absolute bottom-0 h-[56px] left-0 " aria-label="scroll">
    <div class="chevron-container">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
    </div>
  </a>
</div>
{% endwith %}
{% endwith %}
{% endif %}

<div id="manjaro" class="h-full bg-cover relative z-0 bg-blue-gray-800">
  
      <div class="w-full justify-center lg:flex relative">
         <img src="/static/img/dark-woble.svg" class="absolute top-[-24px] w-full h-16 pl-4 pr-4 sm:max-w-screen-lg lg:max-w-screen-xl">
      </div>
      <div class="absolute overflow-hidden h-full w-full">
        <svg class="text-teal-300 absolute hidden md:block left-0 h-full top-0" version="1.1" viewBox="0 0 140 135" xmlns="http://www.w3.org/2000/svg">
         <g transform="matrix(-1,0,0,1,140,0)" fill="CurrentColor">
           <path d="m95 45 45-45v89.915l-45.252 45.085h-94.748l60-55z" fill-opacity=".11748"/>
           <g fill-opacity=".4">
            <path d="m140 80v-70l-45.252 45-84.748 80h75z"/>
            <path d="m140 70v-50l-45 45-75 70h55z"/>
            <path d="m140 60v-30l-45.252 45-64.748 60h35z"/>
            <path d="m140 50v-10l-45.252 45-49.748 50h10z"/>
           </g>
        </svg>
       </div>
  
  <div class="text-gray-200 relative flex justify-center flex-col lg:min-h-[100vh] w-full">
    <div class="w-full flex items-center justify-center text-2xl text-teal-900">
      <div class="flex items-center justify-center w-16 h-16 mb-10 rounded-full bg-yellow-accent-700">
        <i class="fa-solid fa-list-check"></i>
      </div>
  </div>
    <h2 class="w-full bg-clip-text uppercase mb-8 font-sans text-center text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none">
      Do any task
    </h2>
    <div id="manjaro" class="flex flex-col gap-10 lg:flex-row w-full px-8 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl">

      <div class="mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
       
        <div class="relative grid gap-5 sm:grid-cols-2 lg:grid-cols-4 text-gray-800">
          <div class="flex flex-col justify-between overflow-hidden text-left transition-shadow duration-200 bg-gray-200 rounded shadow-xl group hover:shadow-2xl">
            <div class="p-5">
              <p class="mb-2 font-bold"><i class="fa-brands fa-osi mr-4 text-teal-400"></i>Open Source</p>
              <p class="text-sm leading-5">
                Use your favorit operating system desktop enviroment from our wide choice, install your favorit open source software as a native package, flatpak or snap or build your own packages using the AUR              </p>
            </div>
            <div class="w-full h-1 ml-auto duration-300 origin-left transform scale-x-0 bg-teal-accent-400 group-hover:scale-x-100"></div>
          </div>
          <div class="flex flex-col justify-between overflow-hidden text-left transition-shadow duration-200 bg-gray-200 rounded shadow-xl group hover:shadow-2xl">
            <div class="p-5">
              <p class="mb-2 font-bold"><i class="fa-solid fa-plug mr-4 text-teal-400"></i>Compability</p>
              <p class="text-sm leading-5">
                Works on computers independetely of their age, boost older Hardware or super boost new one, powered by the Linux kernel lets you use touchscreens sound cards, graphic cards and peripherals out of the box</p>
            </div>
            <div class="w-full h-1 ml-auto duration-300 origin-left transform scale-x-0 bg-teal-accent-400 group-hover:scale-x-100"></div>
          </div>
          <div class="flex flex-col justify-between overflow-hidden text-left transition-shadow duration-200 bg-gray-200 rounded shadow-xl group hover:shadow-2xl">
            <div class="p-5">
              <p class="mb-2 font-bold"><i class="fa-solid fa-envelopes-bulk mr-4 text-teal-400"></i>Office</p>
              <p class="text-sm leading-5">
                Easily accomplish any office task with the available office suites, multiple document formats are supported, get your email on check with the best email clients              </p>
            </div>
            <div class="w-full h-1 ml-auto duration-300 origin-left transform scale-x-0 bg-teal-accent-400 group-hover:scale-x-100"></div>
          </div>
          <div class="flex flex-col justify-between overflow-hidden text-left transition-shadow duration-200 bg-gray-200 rounded shadow-xl group hover:shadow-2xl">
            <div class="p-5">
              <p class="mb-2 font-bold"><i class="fa-solid fa-gamepad mr-4 text-teal-400"></i>Gaming</p>
              <p class="text-sm leading-5">
                Play native games using Steam or lutris emulate other game platforms with proton or retro emulators and get all your games in one place, play any media or video content or setup a media center              </p>
            </div>
            <div class="w-full h-1 ml-auto duration-300 origin-left transform scale-x-0 bg-teal-accent-400 group-hover:scale-x-100"></div>
          </div>
          <div class="flex flex-col justify-between overflow-hidden text-left transition-shadow duration-200 bg-gray-200 rounded shadow-xl group hover:shadow-2xl">
            <div class="p-5">
              <p class="mb-2 font-bold"><i class="fa-solid fa-pen mr-4 text-teal-400"></i>Design</p>
              <p class="text-sm leading-5">
                Design with inkscape or gimp, do 3d with blender or freecad and bring them to life on your 3d printer              </p>
            </div>
            <div class="w-full h-1 ml-auto duration-300 origin-left transform scale-x-0 bg-teal-accent-400 group-hover:scale-x-100"></div>
          </div>
          <div class="flex flex-col justify-between overflow-hidden text-left transition-shadow duration-200 bg-gray-200 rounded shadow-xl group hover:shadow-2xl">
            <div class="p-5">
              <p class="mb-2 font-bold"><i class="fa-solid fa-server mr-4 text-teal-400"></i>DevOps</p>
              <p class="text-sm leading-5">
                Use git version control, deploy and run virtual machines, docker or kurbenetes instances              </p>
            </div>
            <div class="w-full h-1 ml-auto duration-300 origin-left transform scale-x-0 bg-teal-accent-400 group-hover:scale-x-100"></div>
          </div>
          <div class="flex flex-col justify-between overflow-hidden text-left transition-shadow duration-200 bg-gray-200 rounded shadow-xl group hover:shadow-2xl">
            <div class="p-5">
              <p class="mb-2 font-bold"><i class="fa-solid fa-code mr-4 text-teal-400"></i>Development</p>
              <p class="text-sm leading-5">
                Build software or user interfaces with any programming languages and test on top of the latest software, use visual studio code, pycharm or any other IDE you like              </p>
            </div>
            <div class="w-full h-1 ml-auto duration-300 origin-left transform scale-x-0 bg-teal-accent-400 group-hover:scale-x-100"></div>
          </div>
          <div class="flex flex-col justify-between overflow-hidden text-left transition-shadow duration-200 bg-gray-200 rounded shadow-xl group hover:shadow-2xl">
            <div class="p-5">
              <p class="mb-2 font-bold"><i class="fa-solid fa-walkie-talkie mr-4 text-teal-400"></i>Communication</p>
              <p class="text-sm leading-5">
                Communicate with your team using mattermost, slack, telegram or any other available tool</p>
            </div>
            <div class="w-full h-1 ml-auto duration-300 origin-left transform scale-x-0 bg-teal-accent-400 group-hover:scale-x-100"></div>
          </div>
          <a id="features-btn" href="/features/" class="self-end mb-12 border font-bold leading-none inline-block text-sm rounded py-2 px-4 capitalize tracking-wide text-gray-200 shadow bg-transparent border-gray-200 w-max hover:text-teal-accent-400 hover:border-teal-accent-400">
            <i class="fa-solid fa-circle-info"></i>
            More Features
          </a>
        </div>
      </div>
    </div>
      
      
      </div>
  <a href="#software" class="scroll-btn z-10 arrow-links text-6xl hidden lg:block absolute bottom-0 h-[56px] left-0 " aria-label="scroll">
    <div class="chevron-container">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
    </div>
  </a>
</div>

<div id="software" class="h-full xl:h-[100vh] bg-cover relative z-0">
  <div class="bg-teal-accent-400 absolute h-full w-full z-[-1]">
    <div class="w-full justify-center lg:flex relative">
      <img src="/static/img/green-woble.svg" class="absolute top-[-24px] w-full h-16 pl-4 pr-4 sm:max-w-screen-lg lg:max-w-screen-xl z-[-1]">
   </div>
    <div class="relative overflow-hidden h-full w-full">
      <svg class="text-gray-300 absolute hidden md:block right-0 h-full top-0" version="1.1" viewBox="0 0 140 135" xmlns="http://www.w3.org/2000/svg">
       <g fill="CurrentColor">
         <path d="m95 45 45-45v89.915l-45.252 45.085h-94.748l60-55z" fill-opacity=".11748"/>
         <g fill-opacity=".4">
          <path d="m140 80v-70l-45.252 45-84.748 80h75z"/>
          <path d="m140 70v-50l-45 45-75 70h55z"/>
          <path d="m140 60v-30l-45.252 45-64.748 60h35z"/>
          <path d="m140 50v-10l-45.252 45-49.748 50h10z"/>
         </g>
      </svg>
     </div>
   
  </div>
  <div class="text-teal-900 px-4 relative flex justify-center flex-col lg:min-h-screen mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl">
    <div class="w-full flex items-center justify-center">
      <div class="flex items-center justify-center w-16 h-16 mb-10 rounded-full bg-yellow-accent-700 text-3xl">
        <i class="fa-brands fa-linux"></i>
      </div>
  </div>
    <h2 class="w-full bg-clip-text uppercase mb-4 font-sans text-center text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none">
      {{ page.software_intro }}
    </h2>
    <div class="flex items-center justify-center ">
    {% with blocks=page.software %}
    <div class="flex flex-wrap gap-12 items-baseline justify-center pb-8">
      {% for block in blocks %}
        {% if not block.value.software.hidden %}
          <div class="overflow-hidden max-w-full md:max-w-sm">
            {% image block.value.software.image width-380 format-webp as soft_image %}
            <img src="{{ soft_image.url }}" class="object-contain w-full h-64" alt="{{ block.value.software.title }}" />
            <div class="w-full text-center">
              <a target="_blank" href="{{ block.value.software.url }}" class="inline-block mb-3 link-decor link-decor-xl relative">
              <h3 class="inline-block mb-3 pb-2 capitalize text-2xl font-bold leading-5 text-center">
                <i class="fa fa-link text-sm align-bottom mr-2"></i>
                {{ block.value.software.title }}</h3>
              </a>
              <p class="font-bold text-left text-sm bg-blue-gray-800 p-5 text-gray-200 leading-5 md:min-h-[160px] shadow-md rounded">
                {{ block.value.software.description }}
              </p>
              <div class="w-11/12 h-2 mx-auto bg-blue-gray-800 rounded-b opacity-75"></div>
              <div class="w-10/12 h-2 mx-auto bg-blue-gray-800 rounded-b opacity-50"></div>
              <div class="w-9/12 h-2 mx-auto bg-blue-gray-800 rounded-b opacity-25 mb-6"></div>
            </div>
          </div>    
        {% endif %}        
      {% endfor %}
    </div>
    {% endwith %}  
    </div> 
  </div>
  <a href="#partner" class="scroll-btn z-10 arrow-links text-6xl hidden lg:block absolute bottom-0 h-[56px] left-0 " aria-label="scroll">
    <div class="chevron-container">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
    </div>
  </a>
  </div>

  <div id="partner" class="relative lg:min-h-[100vh] flex justify-center items-center">
      
    <div class="bg-blue-gray-800 absolute h-full w-full">
      <div class="w-full justify-center lg:flex relative">
        <img src="/static/img/dark-woble.svg" class="absolute top-[-24px] w-full h-16 pl-4 pr-4 sm:max-w-screen-lg lg:max-w-screen-xl">
     </div>
     <div class="relative overflow-hidden h-full w-full">
     <svg class="text-teal-300 absolute hidden md:block left-0 h-full top-0" version="1.1" viewBox="0 0 140 135" xmlns="http://www.w3.org/2000/svg">
      <g transform="matrix(-1,0,0,1,140,0)" fill="CurrentColor">
        <path d="m95 45 45-45v89.915l-45.252 45.085h-94.748l60-55z" fill-opacity=".11748"/>
        <g fill-opacity=".4">
         <path d="m140 80v-70l-45.252 45-84.748 80h75z"/>
         <path d="m140 70v-50l-45 45-75 70h55z"/>
         <path d="m140 60v-30l-45.252 45-64.748 60h35z"/>
         <path d="m140 50v-10l-45.252 45-49.748 50h10z"/>
        </g>
     </svg>
    </div>
     
    </div>
    <div class="relative flex flex-col items-center w-full justify-center">
        <div class="flex flex-col justify-center">
          <div class=" text-gray-200">
            <div class="w-full flex items-center justify-center">
              <div class="flex items-center justify-center w-16 h-16 mb-10 rounded-full bg-yellow-accent-700">
                <svg class="text-teal-900 w-7 h-7" viewBox="0 0 24 24">
                  <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points=" 8,5 8,1 16,1 16,5" stroke-linejoin="round"></polyline>
                  <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="9,15 1,15 1,5 23,5 23,15 15,15" stroke-linejoin="round"></polyline>
                  <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="22,18 22,23 2,23 2,18" stroke-linejoin="round"></polyline>
                  <rect x="9" y="13" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" width="6" height="4" stroke-linejoin="round"></rect>
                </svg>
              </div>
          </div>
            <h2 class="text-center w-full uppercase mb-16 font-sans text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none max-w-lg mx-auto">
              {{ page.partners_title }}
            </h2>
            <div class="relative grid md:gap-5 sm:grid-cols-1 lg:grid-cols-2 text-gray-800 md:max-w-screen-sm lg:max-w-screen-md">
              <div class="flex flex-col justify-between overflow-hidden text-left transition-shadow duration-200 bg-white rounded shadow-xl group hover:shadow-2xl">
                <img src="/static/img/partner.jpg" class="object-cover">
              </div>
              <div class="flex flex-col justify-between overflow-hidden text-left transition-shadow duration-200 bg-white md:rounded shadow-xl group hover:shadow-2xl">
                <div class="p-5">
                  <p class="mb-2 font-bold"><i class="fa-solid fa-microchip mr-4 text-teal-400"></i>Manjaro on devices</p>
                  <p class="text-sm leading-5 pb-8 lg:pb-0">
                    {{ page.partners_intro }} </p>
                  </div>
              </div>
            </div>
            </div>
          </div>
          <div>
          </div>
        </div>
    </div>
  </div>
  
  <div id="error" class="fixed bg-orange-900 p-4 hidden">
    <P class="text-gray-50">This page does not exist, you have been redirected to the home page.</P>
  </div>

<script>
  const links = document.querySelectorAll(".arrow-links");
  const links1 = document.querySelectorAll(".link");
  for (const link of links) {
    link.addEventListener("click", clickHandler);
  }
  for (const link of links1) {
    link.addEventListener("click", clickHandler);
  }

  function clickHandler(e) {
    e.preventDefault();
    const href = this.getAttribute("href");
    const offsetTop = document.querySelector(href).offsetTop;

    scroll({
      top: offsetTop,
      behavior: "smooth"
    });
  }
  if (window.location.href.includes("?404")) { 
    console.log(window.location.href)
    let error = document.querySelector("#error")
    error.classList.remove("hidden")
    setTimeout( function() {
      error.classList.add("hidden")
    }, 10000)
  }
  tippy('#promo-btn', {
      content: "WERE TO BUY AND SPECS" + tooltipIcon,
      allowHTML: true,
    });
    tippy('#features-btn', {
      content: "EXPAND MANJARO FEATURES" + tooltipIcon,
      allowHTML: true,
    });
    tippy('.scroll-btn', {
      content: "NEXT SECTION" + tooltipIcon,
      allowHTML: true,
    });
</script>
{% endblock %}
