{% extends "base.html" %}

{% load wagtailcore_tags puput_tags static template_tags wagtailimages_tags %}

{% block body_class %}homepage{% endblock %}

{% block title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if page.search_description %}
        {{ page.search_description }}
    {% endif %}
{% endblock %}

{% block content %}
<div id="top" class="relative pt-6 lg:pt-0">
  {% with affiliate=page.affiliate|random_list %}
    {% with promo=affiliate.value.promotion %}
    {% image promo.background original class="absolute inset-0 object-cover w-full h-full" %}
    <div class="relative bg-gray-900 bg-opacity-[.6]">
      <div class="flex justify-items-center px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-40 lg:h-screen">
        <div class="flex flex-col items-center justify-between xl:flex-row w-full">
          <div class="w-full max-w-xl mb-12 xl:mb-0 xl:pr-16 xl:w-7/12">
            <h1 class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none">
                <span class="text-white"><span class="text-teal-accent-400 brand">manjaro </span>{{ page.manjaro_title }}</span>
            </h1>
            <p class="max-w-xl mb-4 text-base text-gray-300 md:text-lg no-zoom">
              <span class="brand">manjaro</span> {{ page.manjaro_intro }}
            </p>
            <div class="grid gap-5 row-gap-10 mx-auto">
              <div class="flex flex-col justify-center">
                <h2 class="mb-4 text-sm font-bold text-white tracking-widest uppercase">Features</h2>
                <div class="grid space-y-3 sm:gap-2 sm:grid-cols-2 sm:space-y-0">
                  <ul class="space-y-3">
                    <li class="flex text-white">
                      <span class="mr-1">
                        <svg class="w-5 h-5 mt-px text-yellow-accent-700" stroke="currentColor" viewBox="0 0 52 52">
                          <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                        </svg>
                      </span>
                      No drivers, Plug & Play
                      </li>
                      <li class="flex text-white">
                        <span class="mr-1">
                          <svg class="w-5 h-5 mt-px text-yellow-accent-700" stroke="currentColor" viewBox="0 0 52 52">
                            <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                          </svg>
                        </span>
                        Rolling release
                      </li>
                      <li class="flex text-white">
                        <span class="mr-1">
                          <svg class="w-5 h-5 mt-px text-yellow-accent-700" stroke="currentColor" viewBox="0 0 52 52">
                            <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                          </svg>
                        </span>
                        Wide range of software
                      </li>
                    </ul>
                    <ul class="space-y-3">
                      <li class="flex text-white">
                        <span class="mr-1">
                          <svg class="w-5 h-5 mt-px text-yellow-accent-700" stroke="currentColor" viewBox="0 0 52 52">
                            <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                          </svg>
                        </span>
                        Secure by default
                      </li>
                      <li class="flex text-white">
                        <span class="mr-1">
                          <svg class="w-5 h-5 mt-px text-yellow-accent-700" stroke="currentColor" viewBox="0 0 52 52">
                            <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                          </svg>
                        </span>
                        Lightning fast
                      </li>
                      <li class="flex text-white">
                        <span class="mr-1">
                          <svg class="w-5 h-5 mt-px text-yellow-accent-700" stroke="currentColor" viewBox="0 0 52 52">
                            <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                          </svg>
                        </span>
                        Easily installed
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="/features/" aria-label="manjaro features" class="cursor-saturation font-semibold transition-colors duration-200 text-yellow-accent-200 hover:text-yellow-accent-700">
                          <span class="mr-1 float-left">
                            <svg class="w-5 h-5 mt-px text-yellow-accent-700" stroke="currentColor" viewBox="0 0 52 52">
                              <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                            </svg>
                          </span>
                          Learn More
                      </a>
                    </li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
          <div class="w-full max-w-xl xl:px-8 xl:w-5/12 lg:translate-y-[50%] transform-gpu">
              <a target="_blank" href="{{ promo.url }}" aria-label="{{ promo.text }}" class="w-[100%] lg:w-[80%] text-center relative speech-bubble-rigth block font-semibold transition-colors duration-200 text-teal-accent-700 hover:text-teal-accent-200">
                {{ promo.text }}
                <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
                  <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
                </svg>
              </a>
              <img src="{% static 'img/jaro-2.png' %}" class="xl:block w-60 ml-60 promo-img">
          </div>
        </div>
      </div>
    </div>
    {% endwith %}
   {% endwith %}
   <a href="#partner" class="arrow-links text-6xl hidden xl:block cursor-saturation" aria-label="partner">
    <div class="chevron-container">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
    </div>
  </a>
  </div>

  <div id="partner" class="relative lg:h-screen flex justify-center px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="grid gap-10 lg:grid-cols-2">
      <div class="flex flex-col justify-center md:pr-8 xl:pr-0 lg:max-w-lg">
        <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-yellow-accent-700">
          <svg class="text-teal-900 w-7 h-7" viewBox="0 0 24 24">
            <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points=" 8,5 8,1 16,1 16,5" stroke-linejoin="round"></polyline>
            <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="9,15 1,15 1,5 23,5 23,15 15,15" stroke-linejoin="round"></polyline>
            <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="22,18 22,23 2,23 2,18" stroke-linejoin="round"></polyline>
            <rect x="9" y="13" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" width="6" height="4" stroke-linejoin="round"></rect>
          </svg>
        </div>
        <div class="max-w-xl mb-6">
          <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
            {{ page.partners_title }}<br class="hidden md:block" />
            your next
            <span class="inline-block text-deep-purple-accent-400">OS integration</span>
            <span class="inline-block text-teal-600">partner with us</span>
          </h2>
          <p class="text-base text-gray-700 md:text-lg">
            {{ page.partners_intro }}
          </p>
        </div>
        <div>
          <a href="/contact-for-partners/" aria-label="contact for partners" class="hidden inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">
            Get in touch
            <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
              <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex items-center justify-center -mx-4 lg:pl-8">
        <div class="flex flex-col items-end px-3 hidden lg:block">
          <img
            class="object-cover mb-6"
            style="filter: drop-shadow(4px 4px 6px black);"
            src="{% static 'img/partners.png' %}?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260"
            alt="{{ page.partners_title }}"
          />
        </div>
      </div>
    </div>
    <a href="#shells" class="arrow-links text-6xl hidden xl:block" aria-label="shells">
      <div class="chevron-container">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
      </div>
    </a>
  </div>

  <div id="shells" class="relative lg:h-screen flex justify-center px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="flex flex-col lg:flex-row sm:mx-auto">
      <div class="hidden lg:flex flex relative lg:w-1/2 p-8 lg:p-6 items-center">
        <img src="{% static 'img/cloud.png' %}?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="{{ page.shells_title }}" 
        class="object-cover drop-shadow-2xl"
        style="filter: drop-shadow(4px 4px 6px black);" />
      </div>
      <div class="flex flex-col justify-center p-8 lg:p-6 lg:w-1/2">
        <div>
          <h2 class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
            Your OS in the cloud
          </h2>
        </div>
        <h3 class="mb-3 text-3xl font-extrabold leading-none sm:text-4xl">
          {{ page.shells_title }}
        </h3>
        <p class="mb-5 text-gray-800">
          <span class="font-bold">Manjaro running in the cloud with Shells</span> {{ page.shells_intro }}
        </p>
        <div class="flex items-center">
          <a href="{{ page.shells_url }}" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">
            Learn More
            <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
              <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="error" class="fixed bg-orange-900 p-4 hidden">
    <P class="text-white">This page does not exist, you have been redirected to the home page.</P>
  </div>

<script>
  const links = document.querySelectorAll(".arrow-links");
  for (const link of links) {
    link.addEventListener("click", clickHandler);
  }

  function clickHandler(e) {
    e.preventDefault();
    const href = this.getAttribute("href");
    const offsetTop = document.querySelector(href).offsetTop;

    scroll({
      top: offsetTop,
      behavior: "smooth"
    });
  }
  if (window.location.href.includes("?404")) { 
    console.log(window.location.href)
    let error = document.querySelector("#error")
    error.classList.remove("hidden")
    setTimeout( function() {
      error.classList.add("hidden")
    }, 10000)
  }
</script>
{% endblock %}
