{% extends "base.html" %}

{% load wagtailcore_tags home_tags static %}

{% block body_class %}merchandise bg-blue-gray-800{% endblock %}

{% block title %}Manjaro Merch & Accessories{% endblock %}

{% block meta_title %}Manjaro Merch & Accessories{% endblock %}

{% block meta_description %}Get a Manjaro souvenir from a wide range of merchandise.{% endblock %}

{% block head %}
    <style>
        #shop * {
            font-family: inherit;
        }
        main {
            padding: 0 !important;
        }
        .sprd-social-bar__label,
        .sprd-social-bar__link {
            display:none !important;
        }

        @media (min-width: 992px) { 
            .sprd-promo-header__center {
            height: 120px;
            font-size: 2rem;
            }
         }
         .sprd-bg-m2 {
            background: linear-gradient(#00888A, #026B67, #1d771d) !important;
         }
         @media (max-width: 993px) { 
            .sprd-burgermenu {
                padding-top: 40px;
            }
         }
         .SprdMain .sprd-department-filter {
             height: auto !important;
         }
         .sprd-social-bar, #sprd-container {
            border-top-right-radius: 0.25rem !important;
            border-top-left-radius: 0.25rem !important;
         }
         .sprd-social-bar {
            height: 40px;
            padding-right: 16px !important;
         }
         .sprd-social-bar a {
            padding: 10px 10px;
         }
         .sprd-social-bar__about-link {
            margin: 0 !important;
         }
    </style>
{% endblock %}

{% block content %}
<div class="overflow-hidden h-full w-full bg-blue-gray-800 fixed top-0 z-[-1]">
    <svg class="fixed text-teal-300 hidden md:block left-0 h-full top-0" version="1.1" viewBox="0 0 140 135"
      xmlns="http://www.w3.org/2000/svg">
      <g transform="matrix(-1,0,0,1,140,0)" fill="CurrentColor">
        <path d="m95 45 45-45v89.915l-45.252 45.085h-94.748l60-55z" fill-opacity=".11748" />
        <g fill-opacity=".4">
          <path d="m140 80v-70l-45.252 45-84.748 80h75z" />
          <path d="m140 70v-50l-45 45-75 70h55z" />
          <path d="m140 60v-30l-45.252 45-64.748 60h35z" />
          <path d="m140 50v-10l-45.252 45-49.748 50h10z" />
        </g>
    </svg>
  </div>

  <div id="modal" class="min-h-screen flex justify-center bg-black bg-opacity-50 items-center overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="bg-gray-200 border-t-8 border-teal-accent-400 rounded-lg font-bold p-4">
      <div class="max-w-screen-md flex flex-wrap md:flex-nowrap px-4">
       
        <div class="w-full pt-9 text-blue-gray-600 flex justify-center items-center">
          <h3 class="text-pink-700 text-2xl w-full text-center font-bold">Chose a location</h3>
        </div>
      </div>
  
        <button id="us-btn" class="px-4 py-2 mt-4 mb-4 inline-flex items-center justify-center w-full tracking-wide text-white rounded shadow-md bg-indigo-600 hover:bg-indigo-700 focus:shadow-outline focus:outline-none">
            <i class="fa-solid fa-shop mr-3"></i>US Shop</button>
        <button id="eu-btn" class="px-4 py-2 inline-flex items-center justify-center w-full tracking-wide text-white rounded shadow-md bg-indigo-600 hover:bg-indigo-700 focus:shadow-outline focus:outline-none">
            <i class="fa-solid fa-shop mr-3"></i>EU Shop</button>
    </div>
  </div>
  <div class="pt-20 mt-[-180px] lg:mt-[-150px] top-0 relative rounded lg:max-w-screen-xl lg:px-4 mx-auto" id="shop"></div>
<script>
var spread_shop_config = {
        prefix: 'https://manjaro.myspreadshop.net',
        shopName: 'manjaro',
        baseId: 'shop',
        locale: 'en_EU',
        startToken: '',
        usePushState: false,
        pushStateBaseUrl: "https://manjaro.org/merchandise",
        updateMetadata: true,
    };
</script>
<script>
    let load = document.querySelector("#loading")
    function loadShop(url) {
            let script = document.createElement("script")
            script.setAttribute("src", url);
            script.setAttribute("type", "text/javascript")
            document.body.appendChild(script);
        }
        
        let btnUS = document.querySelector("#us-btn")
        let btnEu = document.querySelector("#eu-btn") 

        btnUS.addEventListener("click", () => {
            load.classList.remove("hidden")
            document.querySelector("#modal").classList.add("hidden")
            let prefix = "https://manjaro.myspreadshop.com"
            spread_shop_config.prefix = prefix
            loadShop("https://manjaro.myspreadshop.com/js/shopclient.nocache.js")
            setTimeout(() => {
                load.classList.add("hidden") 
            }, 800)
        })
        btnEu.addEventListener("click", () => {
            load.classList.remove("hidden")
            document.querySelector("#modal").classList.add("hidden")
            loadShop("https://manjaro.myspreadshop.net/js/shopclient.nocache.js")
            setTimeout(() => {
                load.classList.add("hidden") 
            }, 800)
    })
    window.onload = () => {
        if (window.location.hash === "#!/create") {
            document.querySelector("#modal").classList.add("hidden")
            loadShop("https://manjaro.myspreadshop.com/js/shopclient.nocache.js")
            setTimeout(() => {
                load.classList.add("hidden") 
            }, 800)
        }
    }
</script>
{% endblock %}