{% load static menu_tags wagtailcore_tags %}
{% get_menu "top-left" as left_navigation %}
{% get_menu "top-right" as right_navigation %}
{% block head %}
<style>
  .blur-bg {
    backdrop-filter: blur(20px);
  }

  .logo-inset {
    box-shadow: inset 0 0 30px #263238;
  }
</style>
{% endblock %}
<a href="https://manjaro.org" aria-label="Home" class="home-btn fixed z-[40] top-2 left-2 px-2 py-1 bg-gray-100 hidden lg:block rounded-full">
  <img src="{% static 'img/logo-green-dark.svg' %}" alt="manjaro logo" width="" height="" class="w-[110px] ">
</a>
 <!-- Mobile menu -->
 <div id="nav-mobile" class="lg:hidden">
  <button id="btn-open-menu" aria-label="Open Menu" title="Open Menu" class="logo-inset bottom-1 left-1 text-2xl z-[40] fixed w-[52px] drop-shadow-lg h-[52px] border-[3px] border-teal-accent-700 justify-center rounded-full bg-blue-gray-800 text-gray-200 flex items-center">
    <i class="fa-solid fa-bars"></i>
  </button>
  <a id="logo" href="https://manjaro.org" aria-label="Home" class="z-30 logo-inset fixed bottom-[11px] left-8 pl-3 w-[130px] drop-shadow-lg h-[38px] bg-blue-gray-800 logo flex justify-center items-center rounded-full">
    <img src="{% static 'img/logo-light.svg' %}" alt="manjaro logo" width="100" height="26" class="ml-[8px]">
  </a>
  {% if 'home' in page.title.lower %}
      <a id="contact" class="text-2xl log-inset fixed bottom-[3.5rem] left-8 text-gray-200 bg-blue-gray-800 z-30 w-[52px] drop-shadow-lg h-[52px] border-[3px] border-teal-accent-700 justify-center rounded-full flex items-center" href="/contact/" aria-label="General Contact">
        <i class="fa-solid fa-envelope align-top right-[-2px]"></i>
      </a>
    {% endif %}
  <div id="menu" class="z-[40] fixed top-0 left-0 h-[100vh] lg:h-auto translate-x-[-150%] lg:translate-x-0 transition-transform duration-200 shadow-md lg:shadow-none">
    <div class="p-5 rounded shadow-sm bg-teal-accent-400 h-[100vh]">
      <div class="flex items-center justify-between mb-4">
        <div>
          <a id="inline-logo" href="https://manjaro.org" aria-label="Home" title="Home" class="inline-flex items-center">
            <img src="{% static 'img/logo-dark.svg' %}" alt="manjaro logo" width="150" height="42">
          </a>
        </div>
        <div>
          <button id="btn-close-menu" aria-label="Close Menu" title="Close Menu" class="p-2 -mt-2 -mr-2 ml-8 rounded bg-gray-300 hover:bg-gray-50 focus:bg-gray-50 focus:outline-none focus:outline-gray-700">
            <svg class="w-5 text-gray-900" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M19.7,4.3c-0.4-0.4-1-0.4-1.4,0L12,10.6L5.7,4.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l6.3,6.3l-6.3,6.3 c-0.4,0.4-0.4,1,0,1.4C4.5,19.9,4.7,20,5,20s0.5-0.1,0.7-0.3l6.3-6.3l6.3,6.3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 c0.4-0.4,0.4-1,0-1.4L13.4,12l6.3-6.3C20.1,5.3,20.1,4.7,19.7,4.3z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <nav class="overflow-y-scroll h-[90vh]">
        <ul>
          {% for item in left_navigation.menu_items.all %}
            {% if not item.submenu %}
              <li>
                  <a {% if item.open_in_new_tab %}target="_blank"{% endif %} href="{{ item.link }}" title="{{ item.title }}" class="inline-block py-4 px-6 text-ellipsis whitespace-nowrap capitalize font-medium tracking-wide text-teal-900 hover:text-teal-700">{{ item.title }}</a>
              </li>
            {% endif %}
            {% for block in item.submenu %}
                {% with subitem=block.value.submenu_item %}
                  {%  if subitem.title %}
                    <li>
                        <a {% if subitem.open_in_new_tab %}target="_blank"{% endif %} href="{{ subitem.url }}" title="{{ subitem.title }}" class="inline-block py-4 px-6 text-ellipsis whitespace-nowrap capitalize font-medium tracking-wide text-teal-900 hover:text-teal-700">{{ subitem.title }}</a>
                    </li>
                  {% endif %}
                {% endwith %}
            {% endfor %}
          {% endfor %}
          {% for item in right_navigation.menu_items.all %}
          {% if not item.submenu %}
              <li>
                  <a {% if item.open_in_new_tab %}target="_blank"{% endif %} href="{{ item.link }}" title="{{ item.title }}" class="inline-block py-4 px-6 text-ellipsis whitespace-nowrap capitalize font-medium tracking-wide text-teal-900 hover:text-teal-700">{{ item.title }}</a>
              </li>
          {% endif %}
          {% for block in item.submenu %}
              {% with subitem=block.value.submenu_item %}
                {%  if subitem.title %}
                  <li>
                      <a {% if subitem.open_in_new_tab %}target="_blank"{% endif %} href="{{ subitem.url }}" title="{{ subitem.title }}" class="inline-block py-4 px-6 text-ellipsis whitespace-nowrap capitalize font-medium tracking-wide text-teal-900 hover:text-teal-700">{{ subitem.title }}</a>
                  </li>
                {% endif %}
              {% endwith %}
          {% endfor %}
          {% endfor %}
          <li>
            <a href="https://manjaro.org/download/" class="inline-block text-ellipsis whitespace-nowrap py-4 px-6 capitalize font-medium tracking-wide text-teal-900 hover:text-teal-700">download</a>
        </li>
        </ul>
      </nav>
    </div>
  </div>
</div> <!-- mobile menu -->

<div id="nav-desktop" class="hidden lg:block fixed logo-inset bottom-2 left-[50%] rounded-2xl translate-x-[-50%] z-10 drop-shadow-lg bg-blue-gray-800 border-[3px] border-teal-accent-700">  
  <div class="z-40 p-2 relative">
      <a id="logo" href="https://manjaro.org" aria-label="Home" class="home-btn z-30 logo-inset mt-[4px] w-[62px] drop-shadow-lg h-[62px] border-[3px] border-teal-accent-700 absolute justify-center rounded-full bg-blue-gray-800 logo flex items-center ml-[-40px]">
        <img src="{% static 'img/logo.svg' %}" alt="manjaro logo" width="28" height="28">
      </a>
      
      {% if 'home' in page.title.lower %}
      <a id="contact" class="text-3xl logo-inset text-gray-200 bg-blue-gray-800 z-30 mt-[4px] w-[62px] drop-shadow-lg h-[62px] border-[3px] border-teal-accent-700 absolute justify-center rounded-full logo flex items-center right-[-32px]" href="/contact/" aria-label="General Contact">
        <i class="fa-solid fa-envelope align-top mr-[-2px]"></i>
      </a>
      {% endif %}
      
      <div class="nav relative flex items-center justify-center space-x-16 px-10">
        <ul class="items-center justify-center flex text-md font-bold capitalize space-x-8">
          {% for item in left_navigation.menu_items.all %}
            <li>
                {% if not item.submenu %}
                  <a {% if item.open_in_new_tab %}target="_blank"{% endif %} href="{{ item.link }}" title="{{ item.title }}" class="tracking-wide hover:border-b-[2px] hover:text-gray-50">{{ item.title }}</a>
                {% else %}
                  <button class="{{ item.title }} p-1 relative inline-flex capitalize tracking-wide text-gray-300 link-decor link-decor-lg font-bold"><i class="fa-solid fa-ellipsis-vertical pt-1 pr-2 mb-2"></i> {{ item.title }}</button>
                  <ul id="submenu{{ item.title }}" class="mt-2 bottom-10 dropdown w-max rounded overflow-hidden absolute hidden flex flex-col drop-shadow-xl px-2 bg-gray-50">
                  {% for block in item.submenu %}
                      {% with subitem=block.value.submenu_item %}
                      <li class="relative text-sm py-2">
                          <a {% if subitem.open_in_new_tab %}target="_blank"{% endif %} href="{{ subitem.url }}" class="w-full pl-14 pr-3 py-2 block tracking-wide text-gray-700 hover:text-teal-800 hover:bg-teal-accent-400">
                            {{ subitem.icon|safe }}
                            {{ subitem.title }}
                            <span class="block text-xs text-gray-500">{{ subitem.description }}</span>
                          </a> 
                      </li>
                      {% endwith %}
                  {% endfor %}
                  </ul>
                {% endif %}
              </li>
          {% endfor %} 
        </ul>  
      </div>

      <div class="w-full text-gray-200">    
        <div class="px-10">
          <div class="nav relative flex justify-center space-x-16">
            <ul class="justify-center items-center relative space-x-8 flex text-sm capitalize w-full">
              {% for item in right_navigation.menu_items.all %}
                    {% if not item.submenu %}
                    <li class="{% if not 'home' in page.title.lower and '#' in item.link %}hidden{% endif %} p-2 relative">
                        <a {% if item.open_in_new_tab %}  target="_blank"{% endif %} href="{{ item.link }}"  
                        class="{% if 'home' in page.title.lower and '#' in item.link %}link{% endif %} tracking-wide font-semibold link-decor link-decor-sm">
                          {% if "merchandise" in item.title.lower %}
                            <i class="fa-solid fa-gifts"></i>
                          {% elif "hardware" in item.title.lower %}
                            <i class="fa-solid fa-microchip"></i>
                          {% elif "linux" in item.title.lower %}
                            <i class="fa-solid fa-rocket"></i>
                          {% endif %}
                        {{ item.title }}
                      </a>
                    </li>
                    {% else %}
                    <li>
                      <button class="{{ item.title }} flex-row hover:border-b-[2px] border-b-[2px] border-transparent font-medium tracking-wide mb-2 hover:text-gray-50 hover:border-gray-50"><i class="fa-solid fa-ellipsis-vertical pt-1 pr-2"></i> {{ item.title }}</button>
                        <ul id="submenu{{ item.title }}" class="text-sm dropdown rounded overflow-hidden absolute hidden flex flex-col drop-shadow-xl">
                            {% for block in item.submenu %}
                                {% with subitem=block.value.submenu_item %}
                                <li>
                                    <a {% if subitem.open_in_new_tab %}target="_blank"{% endif %} href="{{ subitem.url }}" title="{{ subitem.title }}" class="w-full px-10 py-4 block font-medium tracking-wide bg-gray-50 hover:bg-blue-gray-700 hover:text-teal-50">{{ subitem.title }}</a> 
                                </li>
                                {% endwith %}
                            {% endfor %}
                        </ul>
                      </li>
                    {% endif %}
              {% endfor %}
              <a id="download-btn" href="https://manjaro.org/download/" class="text-sm px-4 py-2 leading-none font-semibold rounded text-teal-800 bg-teal-accent-400 hover:bg-teal-accent-700 hover:text-gray-100">
                <i class="fa-solid fa-circle-arrow-down"></i>
                Download
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <script>
    window.onclick = function (event) {
        let leftSubmenu = document.querySelectorAll('.dropdown')
        leftSubmenu.forEach(function(el) {
            if (el.id === "submenu" + event.target.textContent.trim()) {
              el.classList.toggle("hidden")
            } else {
              el.classList.add("hidden")
            }
        });
    }

    tooltipIcon = "<i class='fa-solid fa-comment ml-2'></i>"
    tippy('#btn-open-menu', {
        content: "OPEN MENU" + tooltipIcon,
        allowHTML: true,
      });

  {% if 'home' in page.title.lower %}
    tippy('#contact', {
        content: "GET IN TOUCH" + tooltipIcon,
        allowHTML: true,
      });
  {% endif %}
  
    tippy('.home-btn', {
        content: "GO BACK TO HOME PAGE" + tooltipIcon,
        allowHTML: true,
      });
    tippy('#download-btn', {
        content: "GET MANJARO INSTALL MEDIA" + tooltipIcon,
        allowHTML: true,
      });
  </script>