{% load static menu_tags %}
{% get_menu "top-left" as left_navigation %}
{% get_menu "top-right" as right_navigation %}
<div id="cursor"></div>

<div class="bg-teal-accent-400 fixed top-0 left-0 right-0 z-10">
  <svg class="absolute top-6 invisible lg:visible w-3/5 -right-8 rotate-180 h-16 text-teal-accent-400" preserveAspectRatio="none" viewBox="0 0 1440 54">
    <path fill="currentColor" d="M0 22L120 16.7C240 11 480 1.00001 720 0.700012C960 1.00001 1200 11 1320 16.7L1440 22V54H1320C1200 54 960 54 720 54C480 54 240 54 120 54H0V22Z"></path>
  </svg>
    <div class="px-4 py-5 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
      <div class="relative flex grid items-center grid-cols-2 lg:grid-cols-3">
        <ul class="flex items-center hidden space-x-8 lg:flex">
          {% for item in left_navigation.menu_items.all %}
            <li>
                <a {% if item.open_in_new_tab %}target="_blank"{% endif %} href="{{ item.link }}" aria-label="{{ item.title }}" title="{{ item.title }}" class="inline-block font-medium tracking-wide text-teal-900 transition-colors duration-200 hover:text-gray-900">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <a href="https://manjaro.org" aria-label="Home" title="Home" class="logo inline-flex items-center lg:mx-auto">
          <img id="logo" src="/static/img/logo.svg">
          <span id="brand" class="ml-2 text-xl lowercase tracking-wide text-teal-600">Manjaro</span>
        </a>
        <ul class="flex items-center hidden ml-auto space-x-8 lg:flex">
          {% for item in right_navigation.menu_items.all %}
            <li>
                <a {% if item.open_in_new_tab %}target="_blank"{% endif %} href="{{ item.link }}" aria-label="{{ item.title }}" title="{{ item.title }}" class="inline-block font-medium tracking-wide text-teal-900 transition-colors duration-200 hover:text-gray-900">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <!-- Mobile menu -->
        <div class="ml-auto lg:hidden">
          <button id="btn-open-menu" aria-label="Open Menu" title="Open Menu" class="p-2 -mr-1 transition duration-200 rounded focus:outline-none focus:shadow-outline">
            <svg class="w-5 text-gray-700" viewBox="0 0 24 24">
              <path fill="currentColor" d="M23,13H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,13,23,13z"></path>
              <path fill="currentColor" d="M23,6H1C0.4,6,0,5.6,0,5s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,6,23,6z"></path>
              <path fill="currentColor" d="M23,20H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,20,23,20z"></path>
            </svg>
          </button>
          <div id="menu" class="absolute top-0 left-0 w-full hidden">
            <div class="p-5 rounded shadow-sm bg-teal-accent-400">
              <div class="flex items-center justify-between mb-4">
                <div>
                  <a href="https://manjaro.org" aria-label="Home" title="Home" class="logo inline-flex items-center">
                    <img id="logo" src="/static/img/logo.svg">
                    <span id="brand" class="ml-2 text-xl lowercase tracking-wide text-teal-600">Manjaro</span>
                  </a>
                </div>
                <div>
                  <button id="btn-close-menu" aria-label="Close Menu" title="Close Menu" class="p-2 -mt-2 -mr-2 transition duration-200 rounded bg-gray-300 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:shadow-outline">
                    <svg class="w-5 text-gray-900" viewBox="0 0 24 24">
                      <path
                        fill="currentColor"
                        d="M19.7,4.3c-0.4-0.4-1-0.4-1.4,0L12,10.6L5.7,4.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l6.3,6.3l-6.3,6.3 c-0.4,0.4-0.4,1,0,1.4C4.5,19.9,4.7,20,5,20s0.5-0.1,0.7-0.3l6.3-6.3l6.3,6.3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 c0.4-0.4,0.4-1,0-1.4L13.4,12l6.3-6.3C20.1,5.3,20.1,4.7,19.7,4.3z"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
              <nav>
                <ul class="space-y-4">
                  {% for item in left_navigation.menu_items.all %}
                    <li>
                        <a {% if item.open_in_new_tab %}target="_blank"{% endif %} href="{{ item.link }}" aria-label="{{ item.title }}" title="{{ item.title }}" class="font-medium tracking-wide text-teal-900 transition-colors duration-200 hover:text-teal-700">{{ item.title }}</a>
                    </li>
                  {% endfor %}
                  {% for item in rigth_navigation.menu_items.all %}
                    <li>
                        <a {% if item.open_in_new_tab %}target="_blank"{% endif %} href="{{ item.link }}" aria-label="{{ item.title }}" title="{{ item.title }}" class="font-medium tracking-wide text-teal-900 transition-colors duration-200 hover:text-teal-700">{{ item.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>