{% load static menu_tags wagtailcore_tags %}
{% get_menu "top-left" as left_navigation %}
{% get_menu "top-right" as right_navigation %}
<div class="hidden fixed top-0 lg:flex flex-row max-w-screen-xl left-0 right-0 z-10 mx-auto px-4 will-change-transform">
  <div class="flex flex-row h-[80px] relative">
    <a href="https://manjaro.org" aria-label="Home" class="bg-white rounded-b-md home-btn shadow">
      <img src="{% static 'img/block-logo.svg' %}" alt="manjaro logo" width="72" height="80" class="w-[72px]">
    </a>
  </div>
  <div id="desktop-menu"
    class="relative bg-gradient-to-b from-teal-accent-400 to-teal-accent-700 grid grid-row-2 shadow rounded-b-lg w-full flex-wrap text-teal-900 transition-transform duration-500">
    <div class="nav relative flex gap-4 w-full pl-4 h-[34px] text-right">
      <ul class="items-center flex capitalize text-sm gap-4 w-full">
        {% for item in right_navigation.menu_items.all %}
        {% if not item.submenu %}
        <li class="{% if not 'home' in page.title.lower and '#' in item.link %}hidden{% endif %}">
          <a {% if item.open_in_new_tab %} target="_blank" {% endif %} href="{{ item.link }}"
            class="flex items-center justify-center w-full {% if 'home' in page.title.lower and '#' in item.link %}link{% endif %} font-bold tracking-wide link-decor-right link-decor relative z-0 h-[36px]">
            {{ item.title }}
          </a>
        </li>
        {% else %}
        <li>
          <button
            class="{{ item.title }} flex-row hover:border-b-[1px] border-b-[1px] border-transparent font-medium tracking-wide text-teal-900 hover:text-gray-900 hover:border-gray-900">
            <i class="fa-solid fa-ellipsis-vertical pt-1 pr-2"></i> {{ item.title }}</button>
          <ul id="submenu{{ item.title }}"
            class="text-sm dropdown rounded overflow-hidden absolute hidden flex flex-col drop-shadow-xl">
            {% for block in item.submenu %}
            {% with subitem=block.value.submenu_item %}
            <li>
              <a {% if subitem.open_in_new_tab %}target="_blank" {% endif %} href="{{ subitem.url }}"
                title="{{ subitem.title }}"
                class="w-full px-10 py-4 block font-medium tracking-wide bg-gray-50 hover:bg-blue-gray-700 text-gray-700 hover:text-teal-50">
                {{ subitem.title }}</a>
            </li>
            {% endwith %}
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <form id="search-form" action="{% url 'search' %}" method="get" class="relative text-sm hidden lg:flex w-[60%]">
        <input id="search-query" placeholder="Search.." class="w-full focus:border-pink-500 focus:border-b-2 border-gray-200 shadow-inner h-[34px] transition duration-200 bg-gray-200 border-0 border-b-2 appearance-none focus:ring-0" type="text" name="query" {% if search_query %} value="{{ search_query }}"{% endif %}>
        <button class="hidden lg:block fa fa-magnifying-glass text-teal-900 bg-teal-accent-700 w-10" type="submit"></button>
    </form>
    </div>

    <div class="nav relative flex items-center gap-4 bg-gradient-to-b from-blue-gray-800 to-blue-gray-900 pl-4 pr-2 rounded-b-md text-gray-200 h-[46px]">
      <ul class="items-center hidden lg:flex text-md font-bold capitalize space-x-4 w-full">
        {% for item in left_navigation.menu_items.all %}
        <li>
          {% if not item.submenu %}
          <a {% if item.open_in_new_tab %}target="_blank" {% endif %} href="{{ item.link }}" class="tracking-wide">
            {{ item.title }}</a>
          {% else %}
          <button
            class="{{ item.title }} font-bold inline-flex capitalize tracking-wide link-decor link-decor-left relative z-0"><i
              class="fa-solid fa-ellipsis-vertical pt-1 pr-4"></i> {{ item.title }}</button>
          <ul id="submenu{{ item.title }}"
            class="mt-4 dropdown rounded overflow-hidden absolute hidden flex flex-col drop-shadow-xl px-2 bg-gray-200">
            {% for block in item.submenu %}
            {% with subitem=block.value.submenu_item %}
            <li class="relative text-sm py-2">
              <a {% if subitem.open_in_new_tab %}target="_blank" {% endif %} href="{{ subitem.url }}"
                class="w-full pl-16 pr-3 py-2 block tracking-wide text-blue-gray-700 hover:text-teal-800 hover:bg-teal-accent-400">
                {{ subitem.icon|safe }}
                {{ subitem.title }}
                <span class="block text-xs text-blue-gray-600 hover:text-teal-600">{{ subitem.description }}</span>
              </a>
            </li>
            {% endwith %}
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
        <li class="ml-4 w-full flex justify-end">
          <a id="donate-btn" href="https://manjaro.org/donate/"
            class="inline-block text-sm px-4 py-2 leading-none border font-semibold rounded text-teal-800 bg-gray-200">
            <i class="fa-solid fa-heart text-red-400 drop-shadow-sm"></i>
            Donate
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Mobile menu -->
<div id="nav-mobile" class="lg:hidden relative">
  <div class="w-full fixed top-0 left-0 z-40 flex h-[50px]" style="filter: drop-shadow(0 -1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 -1px 1px rgb(0 0 0 / 0.06));">
    <button id="toggle-mobile-btn" aria-label="Open Menu"
    class="w-[50px] text-2xl px-4 shadow h-[50px] justify-center bg-gray-900 text-gray-200 flex items-center">
    <i class="fa-solid fa-bars"></i>
  </button>
  <a href="https://manjaro.org" aria-label="Home"
  class="shadow bg-white flex justify-center items-center w-auto h-[50px]">
  <img src="{% static 'img/favicon.svg' %}" alt="manjaro logo" width="100%" height="100%" class="p-2 w-16">
</a>
  <form id="search-form-mobile" action="{% url 'search' %}" method="get" class="text-sm flex bg-white w-full">
    <input id="search-query-mobile" class="h-[50px] w-full transition duration-200 bg-white border-0 appearance-none focus:ring-0" type="text" placeholder="Search.." name="query" {% if search_query %} value="{{ search_query }}"{% endif %}>
    <button class="fa fa-magnifying-glass text-teal-900 bg-teal-accent-700 w-[50px] px-4" type="submit"></button>
  </form>
  </div>

  <div id="mobile-menu" class="mt-[50px] z-[30] max-w-50 fixed top-0 left-0 h-[100vh] lg:h-auto translate-x-[-150%] lg:translate-x-0 transition-transform duration-500 shadow-md will-change-transform transform-gpu">
    <div class="px-2 shadow-lg bg-gradient-to-b from-teal-accent-400 to-teal-accent-700 h-[100vh] font-bold text-gray-200 capitalize text-center">
      <nav class="overflow-y-scroll h-[100vh] pb-16 px-2">
        <ul class="py-2">
          {% for item in left_navigation.menu_items.all %}
          {% if not item.submenu %}
          <li class="py-2">
            <a {% if item.open_in_new_tab %}target="_blank" {% endif %} href="{{ item.link }}" 
              class="shadow inline-block py-4 px-6 text-ellipsis whitespace-nowrap bg-blue-gray-800 w-full rounded-full">
              {{ item.title }}</a>
          </li>
          {% endif %}
          {% for block in item.submenu %}
          {% with subitem=block.value.submenu_item %}
          {% if subitem.title %}
          <li class="py-2">
            <a {% if subitem.open_in_new_tab %}target="_blank" {% endif %} href="{{ subitem.url }}"
              class="shadow inline-block py-4 px-6 text-ellipsis whitespace-nowrap bg-blue-gray-800 w-full rounded-full">
              {{ subitem.title }}</a>
          </li>
          {% endif %}
          {% endwith %}
          {% endfor %}
          {% endfor %}
          {% for item in right_navigation.menu_items.all %}
          {% if not item.submenu %}
          <li class="py-2">
            <a {% if item.open_in_new_tab %}target="_blank" {% endif %} href="{{ item.link }}"
              class="shadow inline-block py-4 px-6 text-ellipsis whitespace-nowrap bg-blue-gray-800 w-full rounded-full">
              {{ item.title }}</a>
          </li>
          {% endif %}
          {% for block in item.submenu %}
          {% with subitem=block.value.submenu_item %}
          {% if subitem.title %}
          <li class="py-2">
            <a {% if subitem.open_in_new_tab %}target="_blank" {% endif %} href="{{ subitem.url }}"
              class="shadow inline-block py-4 px-6 text-ellipsis whitespace-nowrap bg-blue-gray-800 w-full rounded-full">
              {{ subitem.title }}</a>
          </li>
          {% endif %}
          {% endwith %}
          {% endfor %}
          {% endfor %}
          <li class="py-2">
            <a href="https://manjaro.org/donate/"
              class="shadow inline-block text-ellipsis whitespace-nowrap py-4 px-6 bg-blue-gray-800 w-full rounded-full">donate</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div> <!-- mobile menu -->
<div id="loading" class="bg-blue-gray-900 p-4 z-50 absolute flex flex-wrap flex-col items-center justify-center top-0 left-0 right-0 bottom-0">
  <img src="{% static 'img/admin-logo.svg' %}" alt="manjaro logo"  width="150" height="auto">
  <span class="block -ml-10 -mt-24"></span>
</div>
<script>
  const tooltipIcon = "<i class='fa-solid fa-circle-info ml-2'></i>"
</script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
