{% extends "base.html" %}

{% load wagtailcore_tags home_tags static %}

{% block body_class %}update-status bg-blue-gray-800{% endblock %}

{% block title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if page.search_description %}
        {{ page.search_description }}
    {% endif %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <style>
        .ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie  {
            fill: rgba(67,160,71,var(--tw-bg-opacity));
        }
        .ct-label {
            fill: white;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block content %}
<div class="overflow-hidden h-full w-full bg-blue-gray-800 fixed top-0 z-[-1]">
    <svg class="fixed text-teal-300 hidden md:block left-0 h-full top-0" version="1.1" viewBox="0 0 140 135"
      xmlns="http://www.w3.org/2000/svg">
      <g transform="matrix(-1,0,0,1,140,0)" fill="CurrentColor">
        <path d="m95 45 45-45v89.915l-45.252 45.085h-94.748l60-55z" fill-opacity=".11748" />
        <g fill-opacity=".4">
          <path d="m140 80v-70l-45.252 45-84.748 80h75z" />
          <path d="m140 70v-50l-45 45-75 70h55z" />
          <path d="m140 60v-30l-45.252 45-64.748 60h35z" />
          <path d="m140 50v-10l-45.252 45-49.748 50h10z" />
        </g>
    </svg>
  </div>
<div class="px-4 mx-auto md:max-w-screen-xl lg:pb-8 lg:items-center">
    <form method="get" class="relative mx-auto w-full md:w-4/5 md:max-w-screen-xl lg:max-w-screen-md md:px-4 flex flex-wrap md:flex-nowrap justify-center gap-2">
        <div id="switch" class="flex items-center justify-center p-4 w-30 bg-blue-gray-900 rounded">
          <label for="of-toggle-arm" class="flex items-center cursor-pointer font-bold">
            <div id="btn" class="mr-4"><i class="fa-solid fa-computer"></i></div>
            <div class="relative form-check form-switch">
              <input id="of-toggle-arm" type="checkbox" class="sr-only no-mouse-effect" role="switch" name="arm" {% if arm or arm_query %}checked{% endif %}>
              <div class="w-10 h-4 bg-gray-200 rounded-full shadow-inner"></div>
              <div class="dot absolute w-6 h-6 bg-blue-gray-500 rounded-full shadow -left-1 -top-1 transition"></div>
            </div>
            <div id="btn-arm" class="ml-4"><i class="fa-sharp fa-solid fa-microchip"></i></div>
          </label>
        </div>
        <div class="flex items-center p-4 rounded justify-center bg-blue-gray-900 text-gray-200">
            <div class="form-check mr-2">
                <input name="branch" class="form-check-input appearance-none h-4 w-4 rounded-full bg-gray-200 checked:bg-teal-400 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="checkbox" value="stable" id="stable" {% if branch == 'stable' %}checked{% endif %}>
                <label class="form-check-label inline-block" for="stable">
                Stable
                </label>
            </div>
            <div class="form-check mr-2">
                <input name="branch" class="form-check-input appearance-none h-4 w-4 rounded-full bg-gray-200 checked:bg-teal-400 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="checkbox" value="testing" id="testing" {% if branch == 'testing' %}checked{% endif %}>
                <label class="form-check-label inline-block" for="testing">
                Testing
                </label>
            </div>
            <div class="form-check mr-2">
                <input name="branch" class="form-check-input appearance-none h-4 w-4 rounded-full bg-gray-200 checked:bg-teal-400 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="checkbox" value="unstable" id="unstable" {% if branch == 'unstable' %}checked{% endif %}>
                <label class="form-check-label inline-block" for="unstable">
                Unstable
                </label>
            </div>
        </div>            
        </form>
        <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-4 text-sm pt-6 text-blue-gray-800">
                {% for topic in topics %}
                <div>
                    <div id="ct-chart{{ topic.id }}" class="ct-chart grid grid-cols-2 relative">
                        <div class="bg-gray-200 p-4 rounded font-bold">
                            <a id="title{{ topic.id }}" class="transition-colors duration-200 text-teal-500 underline font-semibold" href="https://forum.manjaro.org/t/{{ topic.id }}" target="_blank"></a>
                            <div class="mt-4">Posts <span class="text-pink-700">{{ topic.posts_count }}</span></div>
                            <div>Votes <span class="text-pink-700">{{ topic.voters }}</span></div>
                        </div>
                    </div>               
                    </div>
                    <script>
                        var titleElem = document.querySelector("#title{{ topic.id }}")
                        var title = "{{ topic.title }}"
                        var topicTitle = title.split("]")[1]
                        titleElem.textContent = topicTitle
                        var percentage = "{{ topic.poll_pourcent }}"
                        if (percentage) {
                            var red = parseInt('{{ topic.poll_pourcent }}')
                        } else {
                            var red = 0
                        }
                        var green = 100 - red
                        var data = {
                        series: [green, red]
                        };
                        var sum = function(a, b) { return a + b };
                        new Chartist.Pie('#ct-chart{{ topic.id }}', data, {
                            donutSolid: true,
                            startAngle: 270,
                            showLabel: true,
                            labelInterpolationFnc: function(value) {
                                math = Math.round(value / data.series.reduce(sum) * 100)
                                if (math != 0) {
                                    return math + '%'
                                } else {
                                    return ""
                                }
                            }
                        })                    
                    </script>
                {% endfor %}
            </div>
    </div>
</div>
<script>
    const arm = document.querySelector("#of-toggle-arm")
    const input = document.querySelectorAll('input');
    [].forEach.call(input, function(el) {
        el.addEventListener("change", function (el) {
            [].forEach.call(input, function(elem) {
                if  (elem.id != "of-toggle-arm") {
                if (elem.id == el.target.id) {
                    elem.checked = true
                } else {
                    elem.checked = false
                }
        }})
            if  (el.target.id != "of-toggle-arm") {
                let url = window.location.origin + window.location.pathname + "?branch=" + el.target.id + "&arm=" + arm.checked
                window.location.replace(url)
            }
            
        })
    });
    function switch_arm_on() {
      document.getElementById("btn").style.color = "#ef5350"
      document.getElementById("btn-arm").style.color = "#26a69a"
    }

    function switch_arm_off() {
      document.getElementById("btn").style.color = "#26a69a"
      document.getElementById("btn-arm").style.color = "#ef5350"
    }

    const swicth = document.getElementById("of-toggle-arm")
    swicth.onchange = function() {
      if (swicth.checked) {
        switch_arm_on()
      } else {
        switch_arm_off()
      }
    }
    if (swicth.checked) {
        switch_arm_on()
      } else {
        switch_arm_off()
      }

      document.addEventListener("DOMContentLoaded", (event) => {      
      tippy('#switch', {
        content: "X86-64 <- ARCHITECTURE -> ARM" + tooltipIcon,
        allowHTML: true,
      });
  })
</script>
{% endblock %}