{% extends "base.html" %}

{% load wagtailcore_tags template_tags static %}

{% block body_class %}Updates Status{% endblock %}

{% block title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if page.search_description %}
        {{ page.search_description }}
    {% endif %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <style>
        .ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie  {
            fill: rgba(67,160,71,var(--tw-bg-opacity));
        }
        .ct-label {
            fill: white;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block content %}
<div class="px-4 pb-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:pb-20">
    <div>
        <div class="flex justify-center mb-20">
            <form method="get" class="grid grid-cols-3 mb-10">
              <div class="form-check">
                <input name="branch" class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="checkbox" value="stable" id="stable" {% if branch == 'stable' %}checked{% endif %}>
                <label class="form-check-label inline-block text-gray-800" for="stable">
                  Stable
                </label>
              </div>
              <div class="form-check">
                <input name="branch" class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="checkbox" value="testing" id="testing" {% if branch == 'testing' %}checked{% endif %}>
                <label class="form-check-label inline-block text-gray-800" for="testing">
                  Testing
                </label>
              </div>
              <div class="form-check">
                <input name="branch" class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="checkbox" value="unstable" id="unstable" {% if branch == 'unstable' %}checked{% endif %}>
                <label class="form-check-label inline-block text-gray-800" for="unstable">
                  Unstable
                </label>
              </div>
            </form>
        </div>
        <div class="w-full grid grid-cols-1 gap-20 place-items-center text-center text-sm ">
                {% for topic in topics %}
                    <div id="ct-chart{{ topic.id }}" class="ct-chart w-80 h-80 grid grid-cols-1 place-items-center -mt-14 relative">
                        <div class="text-gray-800 absolute top-[128px] font-semibold">{{ topic.posts_count }} Posts</div>
                        <div class="text-gray-800 absolute top-[110px] font-semibold">{{ topic.voters }} Votes</div>
                        <i class="fa-solid fa-thumbs-up absolute top-[128px] -left-10 text-2xl font-semibold text-green-400"></i>
                        <i class="fa-solid fa-thumbs-down absolute top-[128px] -right-10 text-2xl font-semibold text-red-400"></i>
                    </div>    
                    <div class="bg-no-repeat bg-cover w-full flex items-end relative -mt-[26rem]">
                        <div class="w-full">
                            <a id="title{{ topic.id }}" class="transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-accent-700 font-semibold" href="https://forum.manjaro.org/t/{{ topic.id }}" target="_blank">
                            </a>
                        </div>
                    </div>    
                    <script>
                        var titleElem = document.querySelector("#title{{ topic.id }}")
                        var title = "{{ topic.title }}"
                        var topicTitle = title.split("]")[1]
                        titleElem.textContent = topicTitle
                        var red = parseInt('{{ topic.poll_pourcent }}')
                        var green = 100 - red
                        console.log('{{ topic.poll_pourcent }}%')
                        var data = {
                        series: [green, red]
                        };
                        var sum = function(a, b) { return a + b };
                        new Chartist.Pie('#ct-chart{{ topic.id }}', data, {
                            donut: true,
                            donutWidth: 60,
                            donutSolid: true,
                            startAngle: 270,
                            total: 200,
                            showLabel: true,
                            labelInterpolationFnc: function(value) {
                                return Math.round(value / data.series.reduce(sum) * 100) + '%';
                            }
                        });
                    </script>
                {% endfor %}
            </div>
    </div>
</div>
<script>
    const input = document.querySelectorAll('input');

    [].forEach.call(input, function(el) {
    el.addEventListener("change", function (el) {
        [].forEach.call(input, function(elem) {
            if (elem.id == el.target.id) {
                elem.checked = true
            } else {
                elem.checked = false
            }
        })
        let url = window.location.origin + window.location.pathname + "?branch=" + el.target.id
        window.location.replace(url)
    })
    });
</script>
{% endblock %}