wagtail<5.1
Django
django-extensions
wagtail-django-recaptcha
wagtailyoast
puput==2.0.0
django-cors
django-tailwind
gunicorn 
psycopg2-binary
apscheduler
django-debug-toolbar
python-dateutil
pymediawiki
python-gitlab
pygithub
requests-cache
gevent
requests
forex-python
