wagtail==4.0.4
Django>=3.2,<4.1
django-extensions
wagtail-django-recaptcha==1.0
wagtailyoast
puput==1.2
django-cors
django-tailwind
gunicorn 
psycopg2-binary
apscheduler
django-debug-toolbar
python-dateutil
pymediawiki
