{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block body_class %}packages{% endblock %}

{% block title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if page.search_description %}
        {{ page.search_description }}
    {% endif %}
{% endblock %}

{% block content %}
<p class="text-sm text-center pb-8 pt-0 w-full mx-auto">
  {% if packages %}
    Searched <span class="font-semibold text-cyan-600">{{ total_packages }}</span> packages found <span class="font-semibold text-cyan-600">{{ query_total }}</span> for <span class="font-semibold text-cyan-600">{{ query }}</span>
  {% else %}
  Searched <span class="font-semibold text-cyan-600">{{ total_packages }}</span> packages <span class="font-semibold text-red-700">no results</span> for <span class="font-semibold text-cyan-600">{{ query }}</span></span>
  {% endif %}
  </p>
<form method="get" class="flex relative mx-auto w-4/5 lg:w-2/3 lg:max-w-md">
    <input class="border-2 border-gray-200 bg-blue-gray-800 transition h-16 px-5 pr-16 rounded-md focus:outline-none focus:ring focus:ring-teal-300 focus:border-teal-300 w-full text-gray-200 text-lg " type="text" name="query" placeholder="Search" value="{{ search_query }}">
    <button type="submit" class="right-5 top-3 absolute">
      <svg class="text-white h-6 w-6 mt-2 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" width="512px" height="512px">
        <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
      </svg>
    </button>
    <div class="flex absolute mt-24 items-center justify-center w-full z-10">
      <label for="of-toggle-arm" class="flex items-center cursor-pointer">
        <div id="btn" class="text-center mr-4 text-teal-400 font-semibold w-20">x86-64</div>
        <div class="relative form-check form-switch">
          <input id="of-toggle-arm" type="checkbox" class="sr-only no-mouse-effect" role="switch" name="arm" {% if arm or arm_query %}checked{% endif %}>
          <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
          <div class="dot absolute w-6 h-6 bg-gray-600 rounded-full shadow -left-1 -top-1 transition"></div>
        </div>
        <div id="btn-arm" class="text-center ml-3 text-red-400 font-semibold w-20">ARM</div>
      </label>
    </div>
  </form>
 
  <section class="relative mx-auto p-6 pt-24 font-mono lg:max-w-screen-lg">
    <img class="absolute object-cover h-[150px] w-[150px] mt-[-80px] ml-[50px]" src="/static/img/package-light.svg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="package" />
    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg relative z-1">
      <div class="w-full overflow-x-auto">
        {% if packages %}   
          <table class="w-full">
            <thead>
              <tr class="text-md font-semibold tracking-wide text-left text-gray-800 bg-gray-200 uppercase border-b border-blue-300">
                <th class="px-4 py-3">Packages</th>
                <th class="px-4 py-3 text-center">Branches</th>
              </tr>
            </thead>
            <tbody class="bg-white">   
            {% for pkg in packages %}
            <tr class="text-gray-700">
              <td class="px-4 py-3 border">
                <div class="flex items-center text-sm">
                  <div class="relative w-8 h-8 mr-3 rounded-full md:block">
                    <img class="object-cover w-full h-full rounded-full" src="/static/img/package.svg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="package" />
                    <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                  </div>
                  <div class="w-full relative">
                    <a href="https://software.manjaro.org/package/{{ pkg.name }}"
                    aria-label="{{ pkg }}"
                    target="_blank"
                    class="no-mouse-effects inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">
                    {{ pkg.name }}
                      </a>
                    {% if not pkg.stable %}
                    <h6 class="text-base font-medium leading-tight text-gray-800 absolute -top-4 right-0">
                    <span class="inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-green-500 text-white rounded">New</span>
                    </h6>
                    {% elif pkg.stable and pkg.unstable and not pkg.testing %}
                    <h6 class="text-base font-medium leading-tight text-gray-800 absolute -top-4 right-0">
                    <span class="inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-orange-800 text-white rounded">error</span>
                    </h6>
                    {% elif not pkg.unstable %}
                    <h6 class="text-base font-medium leading-tight text-gray-800 absolute -top-4 right-0">
                    <span class="inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-red-800 text-white rounded">deleted</span>
                    </h6>
                    {% endif %}
                    <p class="text-xs text-gray-600 capitalize">{{ pkg.repo }}</p>
                    <p class="text-xs text-gray-500 absolute right-0">{{ pkg.last_update }}</p>
                  </div>
                </div>
              </td>
              <td class="text-sm border-b text-center border-blue-300">
                <p class="text-xs text-gray-800 p-2 bg-green-50 capitalize"><span class="mr-6">stable</span><span>{{ pkg.stable }}</span></p>
                <p class="text-xs text-gray-800 p-2 bg-yellow-50 capitalize"><span class="mr-4">testing</span><span>{{ pkg.testing }}</span></p>
                <p class="text-xs text-gray-800 p-2 bg-red-50 capitalize"><span class="mr-2">unstable</span><span>{{ pkg.unstable }}</span></p>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}         
      </div>
    </div>
  </section>
  <script>
    if (window.location.search == "") {
      window.location.replace(window.location.origin + "?query=linux")
    }

    function switch_arm_on() {
      document.getElementById("btn").style.color = "#ef5350"
      document.getElementById("btn-arm").style.color = "#26a69a"
    }

    function switch_arm_off() {
      document.getElementById("btn").style.color = "#26a69a"
      document.getElementById("btn-arm").style.color = "#ef5350"
    }

    const swicth = document.getElementById("of-toggle-arm")
    swicth.onchange = function() {
      if (swicth.checked) {
        switch_arm_on()
      } else {
        switch_arm_off()
      }
    }
    if (swicth.checked) {
        switch_arm_on()
      } else {
        switch_arm_off()
      }
  </script>
  {% endblock %}
  