{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block body_class %}packages bg-blue-gray-800{% endblock %}

{% block title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_title %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if page.search_description %}
        {{ page.search_description }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="absolute overflow-hidden h-full w-full">
  <svg class="text-teal-300 fixed hidden md:block left-0 h-full top-0" version="1.1" viewBox="0 0 140 135"
    xmlns="http://www.w3.org/2000/svg">
    <g transform="matrix(-1,0,0,1,140,0)" fill="CurrentColor">
      <path d="m95 45 45-45v89.915l-45.252 45.085h-94.748l60-55z" fill-opacity=".11748" />
      <g fill-opacity=".4">
        <path d="m140 80v-70l-45.252 45-84.748 80h75z" />
        <path d="m140 70v-50l-45 45-75 70h55z" />
        <path d="m140 60v-30l-45.252 45-64.748 60h35z" />
        <path d="m140 50v-10l-45.252 45-49.748 50h10z" />
      </g>
  </svg>
</div>
<p class="text-sm text-center pb-5 pt-1 w-full mx-auto text-gray-200 font-bold">
  Searched <span class="font-semibold text-cyan-400">{{ total_packages }}</span> packages
  {% if packages %}
  found <span class="font-semibold text-cyan-400">{{ query_total }}</span> for <span class="font-semibold text-cyan-400">{{ query }}</span>
  {% else %}
  <span class="font-semibold text-red-700">no results</span> for <span class="font-semibold text-cyan-400">{{ query }}</span></span>
  {% endif %}
  </p>
<form method="get" class="relative mx-auto w-full md:w-4/5 md:max-w-screen-xl lg:max-w-screen-md md:px-4 flex flex-wrap md:flex-nowrap justify-center gap-2">
  <div class="md:w-4/5 relative">
    <input id="search" class="pl-14 border-2 w-full border-teal-accent-700 placeholder-current bg-teal-accent-700 font-bold h-14 px-5 pr-16 rounded focus:outline-none focus:ring focus:ring-teal-300 focus:border-teal-300 text-teal-900 text-lg" type="text" name="query" placeholder="Search" value="{{ search_query }}">
    <button type="submit" class="right-5 top-2 absolute">
      <svg class="text-teal-900 h-6 w-6 mt-2 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" width="512px" height="512px">
        <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
      </svg>
    </button>
    <img class="w-8 absolute left-3 top-3" src="/static/img/package-light.svg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="package" />
  </div>
  <div id="switch" class="flex items-center justify-center p-4 w-30 bg-blue-gray-900 rounded">
    <label for="of-toggle-arm" class="flex items-center cursor-pointer font-bold">
      <div id="btn" class="mr-4"><i class="fa-solid fa-computer"></i></div>
      <div class="relative form-check form-switch">
        <input id="of-toggle-arm" type="checkbox" class="sr-only no-mouse-effect" role="switch" name="arm" {% if arm or arm_query %}checked{% endif %}>
        <div class="w-10 h-4 bg-gray-200 rounded-full shadow-inner"></div>
        <div class="dot absolute w-6 h-6 bg-blue-gray-500 rounded-full shadow -left-1 -top-1 transition"></div>
      </div>
      <div id="btn-arm" class="ml-4"><i class="fa-sharp fa-solid fa-microchip"></i></div>
    </label>
  </div>
  </form>
  {% if packages %}   
  <section class="relative mx-auto lg:pb-1 pt-6 lg:pt-14 lg:p-4 md:max-w-screen-md text-sm">
    <a href="/status/" target="_blank" role="button" id="status-btn"
    class="bg-light-blue-800 w-30 p-4 flex justify-center items-center text-gray-200 font-bold rounded-t shadow uppercase focus:outline-none">
    <i class="fa-solid fa-circle-info mr-2"></i>Status
    </a>
    <div class="w-full mb-8 overflow-hidden shadow-lg relative z-1">
      <div class="w-full overflow-x-auto">
          <table class="w-full">
            <thead>
              <tr class="font-bold text-xs text-left text-gray-200 bg-blue-gray-900 uppercase border-b border-blue-300">
                <th class="px-4 py-2">
                  Packages
                </th>
                <th class="px-4 py-2">Branches</th>
              </tr>
            </thead>
            <tbody class="bg-gray-200">   
            {% for pkg in packages %}
            <tr class="text-blue-gray-800">
              <td class="px-4 py-3 border border-blue-gray-100">
                <div class="flex items-center text-sm">
                  <div class="relative w-16 h-16 lg:w-12 lg:h-12 mr-3 md:block">
                    <img class="object-cover w-full h-full" src="/static/img/package-{% if 'manjaro' in pkg.packager.lower %}manjaro{% else %}upstream{% endif %}.svg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="package" />
                  </div>
                  <div class="low-screens relative">
                    {% if pkg.stable %}
                      <a href="https://software.manjaro.org/package/{{ pkg.name }}"
                      target="_blank"
                      class="{% if not pkg.stable %}not-available{% endif %} inline-flex items-center font-semibold  text-teal-600 hover:text-teal-400 underline">
                      {{ pkg.name }}
                      </a>
                    {% else %}
                      <span class="text-blue-gray-900">{{ pkg.name }}</span>
                    {% endif %}
                    {% if pkg.tag %}
                    <div class="text-xs text-gray-200 font-bold absolute top-0 right-0 uppercase">
                      {% if pkg.tag == "new" %}
                      <span class="pb-1 pt-1.5 px-2 bg-green-500 rounded-full">{{pkg.tag}}</span>
                      {% elif pkg.tag == "error" %}
                      <span class="pb-1 pt-1.5 px-2 bg-orange-800 rounded-full">{{pkg.tag}}</span>
                      {% elif pkg.tag == "eol" %}
                      <span class="pb-1 pt-1.5 px-2 font-bold bg-red-800 rounded-full">{{pkg.tag}}</span>
                      {% endif %}
                    </div>
                    {% endif %}
                    <p class="text-xs capitalize pt-1 pl-0">{{ pkg.repo }}</p>
                    <p class="text-xs lg:absolute right-0 text-right">{{ pkg.last_modified }}</p>
                  </div>
                </div>
              </td>
              <td class="border-b border-blue-gray-100">
                <div class="low-screens relative text-blue-gray-700 text-xs uppercase">
                  <p class="p-1 px-4 bg-green-50"><span class="mr-8">stable</span><span class="ml-[3px]">{{ pkg.stable }}</span></p>
                  <p class="p-1 px-4 bg-yellow-50"><span class="mr-7">testing</span><span class="ml-[2px]">{{ pkg.testing }}</span></p>
                  <p class="p-1 px-4 bg-red-50"><span class="mr-4">unstable</span><span>{{ pkg.unstable }}</span></p>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
  {% endif %}

  <script>
    if (window.location.search == "") {
      window.location.replace(window.location.origin + "?query=%23manjaro")
    }

    const search = document.getElementById("search")
    search.focus()
    search.value = ""
    let green = "#66bb6a"
    let red = "#ef5350"

    function switch_arm_on() {
      document.getElementById("btn").style.color = red
      document.getElementById("btn-arm").style.color = green
    }

    function switch_arm_off() {
      document.getElementById("btn").style.color = green
      document.getElementById("btn-arm").style.color = red
    }

    const swicth = document.getElementById("of-toggle-arm")
    swicth.onchange = function() {
      if (swicth.checked) {
        switch_arm_on()
      } else {
        switch_arm_off()
      }
    }
    if (swicth.checked) {
        switch_arm_on()
      } else {
        switch_arm_off()
      }
    
    document.querySelectorAll(".not-available").forEach(item => {
    item.addEventListener('click', event => {
      event.preventDefault()
      alert("Details not available.")
      })
    })
    document.addEventListener("DOMContentLoaded", (event) => {      
      tippy('#status-btn', {
        content: "PACKAGES REPOSITORY STATUS REPORT" + tooltipIcon,
        allowHTML: true,
      });
      tippy('#search', {
        content: "CMDS -> #MANJARO #KERNELS #EOL #ERROR" + tooltipIcon,
        allowHTML: true,
      });
      tippy('#switch', {
        content: "X86-64 <- ARCHITECTURE -> ARM" + tooltipIcon,
        allowHTML: true,
      });
  })
  </script>
  {% endblock %}
 