{% extends "base.html" %}

{% load static wagtailcore_tags package_filters %}

{% block body_class %}package-status{% endblock %}

{% block title %}
    Update status
{% endblock %}

{% block meta_title %}
Package database last update status.
{% endblock %}

{% block meta_description %}
Package database last update status.
{% endblock %}

{% block head %}
<script>
    function toLocaleDate(newDate) {
        let isoDate = newDate.replaceAll(',', '').replaceAll('.', '')
        let date = new Date(isoDate);
        return date.toString()
    }    
</script>
{% endblock %}

{% block content %}
<section class="relative mx-auto lg:max-w-screen-lg">
    <h2 class="text-lg text-gray-800 md:text-lg text-center font-bold mb-6">
        Repository Status
    </h2><br>
    {% for arch in archs %}
    <table class="w-full">
          <tr class="text-md font-semibold tracking-wide text-center text-gray-800 bg-gray-50 uppercase border-b">
            <th class="px-4 py-3">{{ arch.name }}</th>
            <th class="px-4 py-3 text-center">Stable</th>
            <th class="px-4 py-3 text-center">testing</th>
            <th class="px-4 py-3 text-center">Unstable</th>
          </tr>
        {% for repo in report|report_arch:arch %}
        <tr class="text-gray-700">
          <td class="px-4 py-3 border text-center">
                <p class="text-xs text-gray-800 pr-4">{{ repo.repo }}</p>
          </td>
          <td class="text-sm border-b text-center">
            <p class="text-xs text-gray-800 pr-4">{{ repo.stable }}</p>
        </td>
        <td class="text-sm border-b text-center">
            <p class="text-xs text-gray-800 pr-4">{{ repo.testing }}</p>
        </td>
        <td class="text-sm border-b text-center">
            <p class="text-xs text-gray-800 pr-4">{{ repo.unstable }}</p>
        </td>
        </tr>
        {% endfor %}
        {% with total=report|report_total:arch %}
        <tr class="text-sm">
          <td>
            <p class="text-md font-semibold tracking-wide text-center text-gray-800 bg-gray-50 uppercase border-b pr-4">total</p>
        </td>
          <td class="text-sm border-b text-center">
              <p class="text-xs text-gray-900 pr-4" style="{% if total.stables < 10000 %}color:red;{% endif %}">{{ total.stables }}</p>
          </td>
          <td class="text-sm border-b text-center">
              <p class="text-xs text-gray-900 pr-4" style="{% if total.stables < 10000 %}color:red;{% endif %}">{{ total.testings }}</p>
          </td>
          <td class="text-sm border-b text-center">
              <p class="text-xs text-gray-900 pr-4" style="{% if total.stables < 10000 %}color:red;{% endif %}">{{ total.unstables }}</p>
          </td>
        </tr>
        {% endwith %}
    </table><br><br>
    {% endfor %}
</section>
                
<section class="relative mx-auto lg:max-w-screen-lg">
    <h2 class="text-lg text-gray-800 md:text-lg text-center font-bold mb-6">
        Database Update Status
    </h2></br>
    <table class="w-full">
          <tr class="text-sm tracking-wide text-left text-gray-800 bg-gray-50 uppercase border-b">
            <th class="px-4 py-3 text-center">Arch</th>
            <th class="px-4 py-3 text-center">Branch</th>
            <th class="px-4 py-3 text-center">Repository</th>
            <th class="px-4 py-3 text-center">Status</th>
            <th class="px-4 py-3 text-center">Date</th>
          </tr>
        {% for update in status %}
        <tr class="text-gray-700">
          <td class="px-4 py-3 border text-center">
                <p class="text-xs text-gray-800 p-2 capitalize">{{ update.arch }}</p>
          </td>
          <td class="text-sm border-b text-center">
              <p class="text-xs text-gray-800 p-2 capitalize">{{ update.branch|format_branch }}</p>
          </td>
          <td class="text-sm border-b text-center">
            <p class="text-xs text-gray-800 p-2 capitalize">{{ update.repo }}</p>
        </td>
        <td class="text-sm border-b text-center">
            <p class="text-xs text-gray-800 p-2 capitalize">{{ update.status }}</p>
        </td>
        <td class="text-sm border-b text-center">
            <p id="{{ update.arch }}{{ update.branch }}{{ update.repo }}" class="text-xs text-gray-800 p-2 capitalize"></p>
        </td>
        </tr>
        <script>
            document.querySelector('#{{ update.arch }}{{ update.branch }}{{ update.repo }}').textContent = toLocaleDate('{{ update.date }}')
        </script>
        {% endfor %}
    </table>
<section>
{% endblock %}