{% extends "base.html" %}

{% load static wagtailcore_tags template_tags %}

{% block body_class %}package-status{% endblock %}

{% block title %}
    Update status
{% endblock %}

{% block meta_title %}
Package database last update status.
{% endblock %}

{% block meta_description %}
Package database last update status.
{% endblock %}

{% block content %}
<h2 class="text-lg text-gray-800 md:text-lg text-center font-bold mb-6">
    Database update status
</h2>
                
<section class="relative mx-auto lg:max-w-screen-lg">
    <table class="w-full">
          <tr class="text-sm tracking-wide text-left text-gray-800 bg-gray-200 uppercase border-b">
            <th class="px-4 py-3">Arch</th>
            <th class="px-4 py-3 text-center">Branch</th>
            <th class="px-4 py-3 text-center">Repository</th>
            <th class="px-4 py-3 text-center">Status</th>
            <th class="px-4 py-3 text-center">Date</th>
          </tr>
        {% for update in status %}
        <tr class="text-gray-700">
          <td class="px-4 py-3 border">
                <p class="text-xs text-gray-800 p-2 capitalize">{{ update.arch }}</p>
          </td>
          <td class="text-sm border-b text-center">
              <p class="text-xs text-gray-800 p-2 capitalize">{{ update.branch|format_branch }}</p>
          </td>
          <td class="text-sm border-b text-center">
            <p class="text-xs text-gray-800 p-2 capitalize">{{ update.repo }}</p>
        </td>
        <td class="text-sm border-b text-center">
            <p class="text-xs text-gray-800 p-2 capitalize">{{ update.status|format_status }}</p>
        </td>
        <td class="text-sm border-b text-center">
            <p class="text-xs text-gray-800 p-2 capitalize">{{ update.date|format_date }}</p>
        </td>
        </tr>
        {% endfor %}
    </table>
    <section>
{% endblock %}