{% extends "base.html" %}

{% load static wagtailcore_tags package_filters %}

{% block body_class %}package-status bg-blue-gray-800{% endblock %}

{% block title %}
    Update status
{% endblock %}

{% block meta_title %}
Package database last update status.
{% endblock %}

{% block meta_description %}
Package database last update status.
{% endblock %}

{% block head %}
<script>
    function toLocaleDate(newDate) {
        let isoDate = newDate.replaceAll(',', '').replaceAll('.', '')
        let date = new Date(isoDate);
        return date.toString()
    }    
</script>
{% endblock %}

{% block content %}
<div class="absolute overflow-hidden h-full w-full z-[-1]">
    <svg class="text-teal-300 fixed hidden md:block left-0 h-full top-0" version="1.1" viewBox="0 0 140 135"
      xmlns="http://www.w3.org/2000/svg">
      <g transform="matrix(-1,0,0,1,140,0)" fill="CurrentColor">
        <path d="m95 45 45-45v89.915l-45.252 45.085h-94.748l60-55z" fill-opacity=".11748" />
        <g fill-opacity=".4">
          <path d="m140 80v-70l-45.252 45-84.748 80h75z" />
          <path d="m140 70v-50l-45 45-75 70h55z" />
          <path d="m140 60v-30l-45.252 45-64.748 60h35z" />
          <path d="m140 50v-10l-45.252 45-49.748 50h10z" />
        </g>
    </svg>
  </div>
<section class="lg:pt-4 relative mx-auto md:max-w-screen-md text-gray-200">
    <h2 class="text-lg md:text-lg text-center font-bold mb-6">
        Repository Status
    </h2>
    {% for arch in archs %}
    <table class="w-full bg-gray-200 text-xs text-center mb-4 text-blue-gray-800">
          <tr class="text-xs font-bold uppercase bg-blue-gray-900 text-gray-200">
            <th class="px-4 py-3">{{ arch.name }}</th>
            <th class="px-4 py-3">Stable</th>
            <th class="px-4 py-3">testing</th>
            <th class="px-4 py-3">Unstable</th>
          </tr>
        {% for repo in report|report_arch:arch %}
        {% if "community" not in repo.repo %}
        <tr class="border-blue-gray-700 border-b">
          <td class="px-4 py-3 border-blue-gray-700 border-b">
                {{ repo.repo }}
          </td>
          <td>
            {{ repo.stable }}
        </td>
        <td>
            {{ repo.testing }}
        </td>
        <td>
            {{ repo.unstable }}
        </td>
        </tr>
        {% endif %}
        {% endfor %}
        {% with total=report|report_total:arch %}
        <tr class="bg-blue-gray-900 text-gray-200 text-center font-bold">
          <td class="px-4 py-3 uppercase">
            total
        </td>
          <td>
              <p style="{% if total.stables < 10000 %}color:red;{% endif %}">{{ total.stables }}</p>
          </td>
          <td>
              <p style="{% if total.stables < 10000 %}color:red;{% endif %}">{{ total.testings }}</p>
          </td>
          <td>
              <p style="{% if total.stables < 10000 %}color:red;{% endif %}">{{ total.unstables }}</p>
          </td>
        </tr>
        {% endwith %}
    </table>
    {% endfor %}
</section>
                
<section class="relative mx-auto md:max-w-screen-md text-blue-gray-800 text-center text-xs lg:pb-8">
    <h2 class="mb-4 mt-4 text-gray-200 font-bold text-lg">
        Database Update Status
    </h2>
    <table class="w-full bg-gray-200">
          <tr class="uppercase border-b text-xs bg-blue-gray-900 text-gray-200">
            <th class="px-4 py-3">Arch</th>
            <th class="px-4 py-3">Branch</th>
            <th class="px-4 py-3">Repository</th>
            <th class="px-4 py-3">Status</th>
            <th class="px-4 py-3">Date</th>
          </tr>
        {% for update in status %}
        <tr class="capitalize">
          <td class="px-4 py-3 border">
                {{ update.arch }}
          </td>
          <td class="border-b">
              {{ update.branch|format_branch }}
          </td>
          <td class="border-b">
            {{ update.repo }}
        </td>
        <td class="border-b">
            {{ update.status }}
        </td>
        <td class="border-b">
            <p id="{{ update.arch }}{{ update.branch }}{{ update.repo }}" class="p-2"></p>
        </td>
        </tr>
        <script>
            document.querySelector('#{{ update.arch }}{{ update.branch }}{{ update.repo }}').textContent = toLocaleDate('{{ update.date }}').split(":", 2).join().replace(",", ":")  
        </script>
        {% endfor %}
    </table>
<section>
{% endblock %}