{% extends "base.html" %}
{% load wagtailcore_tags home_tags %}

{% block body_class %}search-results bg-blue-gray-800{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="overflow-hidden h-full w-full bg-blue-gray-800 fixed top-0 z-[-1]">
    <svg class="fixed text-teal-300 hidden md:block left-0 h-full top-0" version="1.1" viewBox="0 0 140 135"
      xmlns="http://www.w3.org/2000/svg">
      <g transform="matrix(-1,0,0,1,140,0)" fill="CurrentColor">
        <path d="m95 45 45-45v89.915l-45.252 45.085h-94.748l60-55z" fill-opacity=".11748" />
        <g fill-opacity=".4">
          <path d="m140 80v-70l-45.252 45-84.748 80h75z" />
          <path d="m140 70v-50l-45 45-75 70h55z" />
          <path d="m140 60v-30l-45.252 45-64.748 60h35z" />
          <path d="m140 50v-10l-45.252 45-49.748 50h10z" />
        </g>
    </svg>
  </div>
<div class="lg:mt-24 h-[100%] max-w-screen-lg px-4 mx-auto bg-gray-200 rounded py-4 text-gray-800">
    <div class="text-center font-bold mb-4">
        <h1>{{ results_found }} search results for <span class="text-pink-500">"{{ search_query }}"</span></h1>
    </div>
    <div class="sort">

    </div>
    {% if search_results %}
    <div class="grid gap-4 grid-cols-1">
        <ul>
            {% for result in search_results %}
                    <li class="mb-8 text-sm overflow-hidden">
                        <a target="_blank" class="hover:underline underline-offset-4"
                            href="{{ result.url }}">
                        <cite class="text-xs truncate text-black pb-1">{{ result.url|remove_protocol }}</cite>
                        {% if "docs." in result.url %} 
                            <i class="fa-solid fa-book text-blue-gray-600 float-left mr-2 mt-[2px]"></i>
                            {% elif "wiki." in result.url %}
                            <i class="fa-solid fa-file-word text-blue-gray-600 float-left mr-2 mt-[2px]"></i>
                            {% elif "forum." in result.url %}
                            <i class="fa-solid fa-comment text-blue-gray-600 float-left mr-2 mt-[2px]"></i>
                            {% elif "blog." in result.url %}
                            <i class="fa-solid fa-blog text-blue-gray-600 float-left mr-2 mt-[2px]"></i>
                            {% elif "forum." in result.url %}
                            <i class="fa-solid fa-comment text-blue-gray-600 float-left mr-2 mt-[2px]"></i>
                            {% elif result.type == "issue"  or result.type == "repository" %}
                            <i class="fa-brands fa-git text-blue-gray-600 float-left mr-2 pt-1"></i>
                            {% elif "software." in result.url %}
                            {% else %}
                            <i class="fa-solid fa-file text-blue-gray-600 float-left mr-2 mt-[2px]"></i>
                            {% endif %}
                        <h2 class="mb-1 truncate font-semibold text-teal-500 capitalize">
                            {{ result.title }}
                        </h2></a>
                        {% if result.description %}
                            <p class="capitalize text-sm">
                                {{ result.description }}
                            </p>
                        {% else %}
                        <p class="text-sm capitalize">
                            No description available
                        </p>
                        {% endif %}
                        {% if result.links %}
                        <ol class="mt-1 ml-2 grid grid-cols-1 gap-1">
                            {% for link in result.links %}
                            <li>
                                <a target="_blank" class="hover:underline text-xs truncate font-semibold text-teal-500 capitalize" href="{{ link.url }}">{{ link.title }}</a>
                                <p class="text-xs mt-1">{{ link.description }}</p> 
                            </li>
                            {% endfor %}
                        </ol>
                        {% endif %}    
                        {% if result.type == "package" or result.type == "snap" or result.type == "flatpak" %}
                        <span class="mt-2 block">
                            {% if result.type == "package" %}
                                <a class="shadow text-xs font-semibold text-gray-200 bg-teal-600 rounded py-1 px-2 inline-block" href="web-pamac://pkg={{ result.package }}">
                                    <i class="fa-solid fa-archive mr-2"></i>Install package</a>
                                {% elif result.type == "snap" %}
                                <a class="shadow text-xs font-semibold text-gray-200 bg-teal-600 rounded py-1 px-2 inline-block" href="web-pamac://snap={{ result.package }}">
                                    <i class="fa-solid fa-archive mr-2"></i>Install snap</a>
                                {% elif result.type == "flatpak" %}
                                <a class="shadow text-xs font-semibold text-gray-200 bg-teal-600 rounded py-1 px-2 inline-block" href="web-pamac://flatpak={{ result.package }}">
                                    <i class="fa-solid fa-archive mr-2"></i>Install flatpak</a>
                            {% endif %}
                        </span>
                        {% endif %}
                        <div class="font-semibold mt-2 flex flex-wrap gap-2 capitalize text-xs">
                            {% if result.message %}
                            <span class="{% if result.message == 'solved'%}bg-green-400{% else %}bg-blue-400{% endif %}
                             text-gray-200 py-1 px-2 rounded">
                             {{ result.message }}
                             </span> 
                             {% if result.message == 'issue' %}
                             <span class="{% if 'open' in result.state %}bg-purple-500{% else %}bg-gray-800{% endif %}
                            text-xs capitalize text-gray-200 py-1 px-2 rounded">{{ result.state }}
                             {% endif %}
                            {% endif %}
                            {% if result.activity %}
                                <span class="bg-pink-500 text-gray-200 py-1 px-2 rounded">activity:&nbsp;{{ result.activity }}</span> 
                            {% endif %}  
                            {% if result.tags %}
                                <span class="bg-purple-500 text-gray-200 py-1 px-2 rounded">tags:</span>
                                {% for tag in result.tags %}
                                <span class="bg-purple-500 text-gray-200 py-1 px-2 rounded">{{ tag }}</span>
                                {% endfor %}
                            {% endif %}                 
                    </li>
            {% endfor %}
        </ul>
    </div>

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        <p class="text-center">
            No results found
        </p>
    {% endif %}
</div>
{% endblock %}
