{% extends "base.html" %}
{% load wagtailcore_tags home_tags %}

{% block body_class %}search-results bg-blue-gray-800{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="overflow-hidden h-full w-full bg-blue-gray-800 fixed top-0 z-[-1]">
    <svg class="fixed text-teal-300 hidden md:block left-0 h-full top-0" version="1.1" viewBox="0 0 140 135"
      xmlns="http://www.w3.org/2000/svg">
      <g transform="matrix(-1,0,0,1,140,0)" fill="CurrentColor">
        <path d="m95 45 45-45v89.915l-45.252 45.085h-94.748l60-55z" fill-opacity=".11748" />
        <g fill-opacity=".4">
          <path d="m140 80v-70l-45.252 45-84.748 80h75z" />
          <path d="m140 70v-50l-45 45-75 70h55z" />
          <path d="m140 60v-30l-45.252 45-64.748 60h35z" />
          <path d="m140 50v-10l-45.252 45-49.748 50h10z" />
        </g>
    </svg>
  </div>
<div class="lg:mt-24 h-[100%] max-w-screen-lg px-4 mx-auto bg-gray-200 rounded py-4 text-gray-800">
    <div class="text-center font-bold mb-4">
        <h1>Search results for <span class="text-pink-500">"{{ search_query }}"</span></h1>
    </div>
    {% if search_results %}
    <div class="grid gap-4 grid-cols-1 {% if has_docs %}lg:grid-cols-2{% else %}lg:grid-cols-1{% endif %}">
        <ul>
            {% if has_docs %}
            <h2 class="font-semibold mb-4 text-sm text-center">Documentation</h2>
            {% endif %}
            {% for result in search_results %}
                {% if result.is_doc %}
                    <li class="mb-4 text-sm">
                        <h2>
                            {% if "docs" in result.url %} 
                            <i class="fa-solid fa-book text-blue-gray-600"></i>
                            {% elif "wiki" in result.url %}
                            <i class="fa-solid fa-file-word text-blue-gray-600"></i>
                            {% elif "forum" in result.url %}
                            <i class="fa-solid fa-comment text-blue-gray-600"></i>
                            {% endif %}
                            <a target="_blank" class="text-teal-500 hover:underline capitalize ml-2"
                            href="{{ result.url }}">{{ result.title }}</a>
                        </h2>
                        {% if result.description %}
                            <p class="text-xs capitalize">
                                {{ result.description }}
                            </p>
                        {% else %}
                        <p class="text-xs capitalize">
                            No description available
                        </p>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul>
            {% for result in search_results %}
                {% if not result.is_doc %}
                    <li class="mb-4 text-sm {% if result.category|is_doc %}hidden{% endif %}">
                        <h2>{% if "blog" in result.url %}
                            <i class="fa-solid fa-blog text-blue-gray-600"></i>
                            {% elif "forum" in result.url %}
                            <i class="fa-solid fa-comment text-blue-gray-600"></i>
                            {% else %}
                            <i class="fa-solid fa-file text-blue-gray-600"></i>
                            {% endif %}
                            <a target="_blank" class="text-teal-500 hover:underline capitalize ml-2"
                            href="{{ result.url }}">{{ result.title }}</a>
                        </h2>
                        {% if result.description %}
                            <p class="text-xs capitalize">
                                {{ result.description }}
                            </p>
                        {% else %}
                        <p class="text-xs capitalize">
                            No description available
                        </p>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        <p class="text-center">
            No results found
        </p>
    {% endif %}
</div>
{% endblock %}
