{% load wagtailimages_tags static %}

<div class="px-4 pt-26 -mb-24 mt-32 pb-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:pb-0">
    <div class="grid max-w-md gap-4 row-gap-8 lg:max-w-screen-lg sm:row-gap-10 sm:max-w-screen-xl sm:grid-cols-2 lg:grid-cols-3 xl:gap-8 xl:max-w-screen-xl">
     {% for item in self.product_details %}
         {% if not item.hidden %}
          <div class="hover-neon mb-52 lg:mb-30 relative bg-gray-900 flex flex-col hover:scale[1.0] transition duration-300 bg-grey-50 rounded shadow-sm hover:shadow">
            <div class="w-full">
              {% if forloop.counter == 1 %}
                {% image item.image original class="object-contain max-w-[100%] w-full absolute -mt-[38%] hover-red" %}
              {% elif forloop.counter == 2 %}
                {% image item.image original class="object-contain max-w-[100%] w-full absolute -mt-[38%] hover-green" %}
              {% elif forloop.counter == 3 %}
                {% image item.image original class="object-contain max-w-[100%] w-full absolute -mt-[38%] hover-blue" %}
              {% endif %}
            </div>
            <div class="flex pt-44 lg:pt-24 flex-col text-white justify-between flex-grow p-4 lg:p-6 xl:pt-54 xl:pt-38 border border-t-0 rounded-b">
              <div>
                <ul>
                  <li><h3 class="pb-1 pt-3 text-gray-200 text-xl font-semibold text-center xl:pt-8">
                    {{ item.model }}
                  </h3></li>
                  <li class="pb-2 text-cyan-accent-200 text-sm"><span class="text-yellow-accent-700 font-semibold">Processor </span>{{ item.processor }}</li>
                  <li class="pb-2 text-cyan-accent-200 text-sm"><span class="text-yellow-accent-700 font-semibold">Screen </span>{{ item.screen }}</li>
                  <li class="pb-2 text-cyan-accent-200 text-sm"><span class="text-yellow-accent-700 font-semibold">Memory </span>{{ item.memory }}</li>
                  <li class="pb-2 text-cyan-accent-200 text-sm"><span class="text-yellow-accent-700 font-semibold">Storage </span>{{ item.storage }}</li>
                  <li class="pb-2 text-cyan-accent-200 text-sm"><span class="text-yellow-accent-700 font-semibold">Ports </span>{{ item.ports }}</li>
                  <li class="pb-2 text-cyan-accent-200 text-sm"><span class="text-yellow-accent-700 font-semibold">Graphics </span>{{ item.graphics }}</li>
                </ul>
                <p class="text-sm pb-4 text-cyan-accent-200 no-zoom">
                  {{ item.description }}
                </p>
                {% if item.certified %}
                    <img id="certified" class="pb-4" src="{% static 'img/certified.png' %}">
                  {% endif %}
              </div>
                <div class="relative">
                  <a target="_blank" href="{{ item.button_url }}"
                  class="no-mouse-effects inline-flex absolute items-center justify-center w-full h-12 px-6 font-medium tracking-wide text-teal-700 hover:text-white transition duration-200 rounded shadow-md bg-teal-accent-400 hover:bg-teal-accent-700 focus:shadow-outline focus:outline-none"
                >         
                  Where to buy
                </a>
              </div> 
            </div>
          </div>  
          {% endif %}
      {% endfor %}    
    </div>
  </div>