{% load wagtailimages_tags static %}

  {% for item in self.product_details %}
         {% if not item.hidden %}
         <div class="grid grid-rows-1">
          <div class="relative bg-gray-200 grid grid-cols-1 gap-8 rounded-[60px] shadow w-full">
            <div class="h-neon absolute w-full">
              <svg class="text-teal-accent-400 absolute w-full right-0 -mt-[34%] z-[-1]" version="1.1" viewBox="0 0 88 44" xmlns="http://www.w3.org/2000/svg">
                <g fill="currentColor">
                 <circle cx="44" cy="44" r="15.5"/>
                 <circle cx="44" cy="44" r="44" fill-opacity=".1"/>
                 <g fill-opacity=".2">
                  <circle cx="44" cy="44" r="37.5"/>
                  <circle cx="44" cy="44" r="29.5"/>
                  <circle cx="44" cy="44" r="22.5"/>
                 </g>
                </g>
               </svg>
               <picture>
                {% image item.image original class="object-contain  w-full p-10 -mt-[28%] md:-mt-[32%] lg:-mt-[38%] h-[300px]" %}
              </picture>
            </div>
            <div class="flex flex-col justify-between text-blue-gray-900 rounded-b text-xs">
              <div class="px-6 mt-[150px] capitalize">
                <ul class="text-xs font-semibold">
                  <h3 class="pb-4 uppercase text-center text-sm font-bold">
                    {{ item.model }}
                  </h3>
                  <li class="pb-2"><i class="fa-solid fa-circle pr-2 text-teal-accent-700"></i>{{ item.processor }}</li>
                  {% if item.screen %}
                  <li class="pb-2"><i class="fa-solid fa-circle pr-2 text-teal-accent-700"></i>{{ item.screen }}</li>
                  {% endif %}
                  <li class="pb-2"><i class="fa-solid fa-circle pr-2 text-teal-accent-700"></i>{{ item.memory }}</li>
                  <li class="pb-2"><i class="fa-solid fa-circle pr-2 text-teal-accent-700"></i>{{ item.storage }}</li>
                  <li class="pb-2"><i class="fa-solid fa-circle pr-2 text-teal-accent-700"></i>{{ item.ports }}</li>
                  <li class="pb-2"><i class="fa-solid fa-circle pr-2 text-teal-accent-700"></i>{{ item.graphics }}</li>
                </ul>
                {% if item.description %}
                <p class="text-xs pb-4">
                  {{ item.description }}
                </p>
                {% endif %}
                {% if item.certified %}
                    <img id="certified" class="pb-4" src="{% static 'img/certified.png' %}">
                  {% endif %}
              </div>
                <div class="relative">
                  <a target="_blank" href="{{ item.button_url }}"
                  class="text-sm rounded-b-[60px] inline-flex items-center justify-self-end self-end justify-center w-full h-12 px-6 font-bold tracking-wide text-white bg-pink-700 hover:bg-pink-500 focus:shadow-outline focus:outline-none"
                >         
                  Where to buy
                </a>
              </div> 
            </div>
          </div>  
          <div class="h-6 w-full mb-40">
            <div class="w-9/12 h-2 mx-auto bg-black rounded-b opacity-40"></div>
            <div class="w-8/12 h-2 mx-auto bg-black rounded-b opacity-30"></div>
            <div class="w-7/12 h-2 mx-auto bg-black rounded-b opacity-20"></div>
          </div>
         </div>
          {% endif %}
      {% endfor %} 


