::placeholder {
    color:gray;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


@media all and (max-width: 480px) {
    #menu{
      width: 100%;
    }
}

.brand { 
    font-family: 'Comfortaa', cursive;
}

#logo { 
    position: absolute;
    bottom: 0;
    width: 120px;

    & img {
        width: 90px;
        margin: 0 auto;
    }
}

#inline-logo img {
    width: 150px;
    height: auto;
}

.circle {
    z-index: -1;
    border-radius: 100%;
    width: 14rem;
    height: 14rem;
    box-shadow: 1px 1px 4px #362708;
}

.circle-1,
.circle-2,
.circle-3 {
  color: #fff;
  padding: 5%;
  width: 180px;
  height: 180px;
  margin: 0 -15px;
  mix-blend-mode: multiply;
}

.circle-1 {
  background: rgba(25, 161, 13, 0.61);
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  margin-bottom: 15px;
}

.circle-2 {
  background: #f92;
  border-radius: 80% 30% 50% 50%/50%;
}

.circle-3 {
  background: rgb(255, 67, 34);
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
}

#certified {
    width: 150px;
    margin: 0 auto;
}

@media (min-width: 1024px) { 
    p {
        padding: 3px 5px;
    }

    p#bio {
        margin-left: -5px;
    }

    .richtext {
        
        & img.left {
            float: left;
            margin-right: 1.5rem;
        }

        & img.right {
            float: right;
            margin-left: 1.5rem;
        }

        & img.left,
        & img.right  {
            width: 30%;
        }

        & img.full-width {
            width: 100%;
        }

        & p {
            box-shadow: none;
        }
    }
 }

 .richtext {
     & img:not(#avatar),
     & code,
     & ol, 
     & ul, 
     & blockquote {
     padding: 1.5rem;
    }

    & p:not(#bio) {
        padding: 3px 5px;
        margin-bottom: 1.5rem;
    }

    & #bio, & h2, & h3, & h4 {
        padding: 3px 5px;
    }

    & ul {
        list-style: circle;
    }
   
    & ol {
       list-style: decimal;
    }
   
    & a {
       font-weight: 600;
       transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,-webkit-text-decoration-color;
       transition-timing-function: cubic-bezier(.4,0,.2,1);
       color: rgba(101,31,255,1);  
       
       &:before {
        content: "\f0c1";
        font-family: "Font Awesome 6 Free";
        margin-right: 3px;
        font-size: 00.75rem;
       }
    }
   
    & a:hover, a:active, a:focus {
        color: rgba(69,39,160,1);
    }
   
    & blockquote:before {
       content: open-quote;
    }
    
    & blockquote:after {
       content: close-quote;
       margin-bottom: -6rem;
    }
   
    & blockquote {
       font-size: 2rem;
       padding: 3rem;
       font-weight: bold;
       color: rgb(33 33 33 / var(--tw-text-opacity));;
       text-align: center;
       background-color:  #ffff8b;
       position: relative;
    }
   
    & blockquote:before,
    & blockquote:after {
        display: inline-block;
        font-size: 6rem;
        position: absolute;
        font-weight: bold;
    }
    
    & blockquote:before {
        top: -25px;
        left: 5px;
    }
    & blockquote:after {
        bottom: -70px;
        right: 5px;
        font-size: 14rem;
    }
    
    & h2, & h3, & h4 {
        text-align: left;
    }
    
    & h2 {
        color: rgb(0 77 64 / var(--tw-text-opacity));  
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-weight: 600 !important; 
        font-size: 0.75rem !important;
        line-height: 1rem !important;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        background-color: rgb(29 233 182 / var(--tw-bg-opacity));
        border-radius: 9999px;
        display: inline-block;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        padding-bottom: 0;
    }
    
    & h4 {
        font-size: 1.5rem !important;
        font-weight: 700 !important;
        padding-bottom: 0;
        line-height: 2rem !important;
    }
    
    & h3 {
        font-size: 1.75rem !important; 
        padding-bottom: 0;
        letter-spacing: -0.025em;
        font-weight: 700 !important;
        color: rgb(33 33 33 / var(--tw-text-opacity));
        line-height: 2.5rem !important;
        text-align: center;
    }
}

 #avatar {
     max-width: 80px;
 }

.hover-neon:hover {
    & .hover-red {
    filter: drop-shadow(1px 1px 2px #ff4081) drop-shadow(-1px -1px 2px #ff4081)
    }

    & .hover-green {
        filter: drop-shadow(1px 1px 2px #64ffda) drop-shadow(-1px -1px 2px #64ffda)
    }

    & .hover-blue {
        filter: drop-shadow(1px 1px 2px #40c4ff) drop-shadow(-1px -1px 2px #40c4ff)
    }
}

.speech-bubble-rigth {
    border: 1px solid #f6f6f6;
    padding: 20px;
    text-align: center;

    &:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid #f6f6f6;
        border-top: 10px solid #f6f6f6;
        border-bottom: 10px solid transparent;
        right: 20px;
        bottom: -20px;
    }

    &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 9px solid #263238;
        border-top: 10px solid #263238;
        border-bottom: 9px solid transparent;
        right: 21px;
        bottom: -18px;
    }
}

.promo-img {
    filter: drop-shadow(1px 1px #f6f6f6) drop-shadow(-1px -1px #f6f6f6);
    display: none;
}

.blog-page a:not(#inline-logo):not(#logo),
.blog-entry-page a:not(#inline-logo):not(#logo) {
    display: inline-block;
}

#content {
    min-height: calc(100vh - 495px);
}

#cdn {
    width: 65px;
    height: auto;
    padding-left: 5px;
}

.downloads select:hover {
    cursor: pointer;
}

.donate .oc-loading {
    display: none !important;
}

.tippy-box {
    font-weight: bolder;
}

.arrow-links {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%) !important;
    height: 0;
    margin-bottom: 115px;

    &:hover {
        transform: translateX(-50%) !important;
        cursor: pointer;
    }
}

.arrow-text {
    position: absolute;
    bottom: -50px;
}


.chevron-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 80px;
    padding-bottom: 40px;
    margin-top: 30px;
}

.chevron {
    position: absolute;
    width: calc(0.6rem * 3.5);
    height: calc(0.6rem * 0.8);
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;

    &:first-child {
        animation: move-chevron 3s ease-out 1s infinite;
    }

    &:nth-child(2) {
        animation: move-chevron 3s ease-out 2s infinite;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 50%;
        background: #e91e63;
    }

    &:before {
        left: 0;
        transform: skewY(30deg);
    }

    &:after {
        right: 0;
        transform: skewY(-30deg);
    }
}

@keyframes move-chevron {
    25% {
        opacity: 1;
        }
    33.3% {
        opacity: 1;
        transform: translateY(calc(0.6rem * 3.8));
    }
    66.6% {
        opacity: 1;
        transform: translateY(calc(0.6rem * 5.2));
    }
    100% {
        opacity: 0;
        transform: translateY(calc(0.6rem * 8)) scale(0.5);
    }
}

.downloads, .packages, .update-status {
    & input:checked ~ .dot {
        transform: translateX(100%);
    }

    & .editions p {
        padding: 10px 5px;
        text-align: justify;
    }

    & .editions p.max-h-0 {
        padding: 0;
    }
}

#error {
    bottom: 20px;
    right: 20px;
    z-index: 999;
    width: 350px;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .packages .low-screens {
       width: 100vw;

       & .badge {
           right: 7rem;
       }

    }
} 

.packages .low-screens {
       width: 100%;
}


@media only screen and (max-width: 410px) {
    .update-status {
        & .ct-chart {
            i {
                display: none;
            }
        }

        .topic-title {
            margin-top: -22rem;
        }
    }
} 
