@tailwind base;
@tailwind components;
@tailwind utilities;

#brand { 
    font-family: 'Comfortaa', cursive;
}

#logo { 
    width: 22px;
}

#cursor {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: color-burn;
    background-color: #01BAEF;
    z-index: 99999;
    border: 2px solid #01BAEF;
    height: 40px;
    width: 40px;
    transition: all 200ms ease-out;
    will-change: auto;
}

#cursor.enlarge {
    width: 150px;
    height: 150px;
}

#cursor.enlarge-p {
    width: 250px;
    height: 250px;
}

.circle {
    z-index: -1;
    border-radius: 100%;
    width: 14rem;
    height: 14rem;
    box-shadow: 1px 1px 4px #362708;
}

#certified {
    width: 150px;
    margin: 0 auto;
}

@media (min-width: 1024px) { 
    a:hover, button:hover, .hardware .grid > .flex-col:hover {
        transform: scale(1.1) !important;
    }

    p {
        border: 4px solid transparent;
        padding: 3px 5px;
    }
    
    p:hover {
        transform: scale(1.05) !important;
        border: 4px solid #00f8fa;
        background-color: #00f8fa;
    }

    .downloads a p:hover, .downloads button p:hover,
    .hardware .grid > .flex-col p:hover {
        transform: none !important;
        cursor: pointer;
        font-weight: normal;
    }

    .hardware .grid > .flex-col p:hover {
        cursor: default;
    }
    
    a, p, button {
        transition: all .2s ease-in-out !important;
    }

    .richtext img.left {
        float: left;
        margin-right: 1.5rem;
    }

    .richtext img.right {
        float: right;
        margin-left: 1.5rem;
    }

    .richtext img.left,
    .richtext img.right  {
        width: 30%;
    }

    .richtext img.full-width {
        width: 100%;
    }

    .richtext p {
        box-shadow: none;
    }
 }

 .richtext p:first-child {
     display: none;
 }


 .richtext p, .richtext img, .richtext code,
 .richtext ol, .richtext ul, .richtext blockquote,
 .richtext h2, .richtext h3, .richtext h4 {
     padding: 1.5rem;
 }

 .richtext ol, .richtext ul {
     list-style: disc;
 }

 .richtext a {
    transition-duration: 200ms;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: rgb(101 31 255 / var(--tw-text-opacity));
    font-weight: 600;
 }

 .richtext a:hover {
    zoom: 0;
 }

.richtext blockquote:before {
content: open-quote;
}

.richtext  blockquote:after {
content: close-quote;
margin-bottom: -6rem;
}

.richtext blockquote {
    font-size: 2rem;
    padding: 3rem;
    font-weight: bold;
    color: rgb(33 33 33 / var(--tw-text-opacity));;
    text-align: center;
    background-color:  #ffff8b;
    position: relative;
}

.richtext blockquote:before,
.richtext blockquote:after {
    display: inline-block;
    font-size: 6rem;
    position: absolute;
    font-weight: bold;
}

.richtext blockquote:before {
    top: -25px;
    left: 5px;
}
.richtext blockquote:after {
    bottom: -70px;
    right: 5px;
    font-size: 14rem;
}

.richtext h2, .richtext h3, .richtext h4 {
    text-align: left;
}

.richtext h2 {
    color: rgb(0 77 64 / var(--tw-text-opacity));  
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 600 !important; 
    font-size: 0.75rem !important;
    line-height: 1rem !important;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: rgb(29 233 182 / var(--tw-bg-opacity));
    border-radius: 9999px;
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    padding-bottom: 0;
}

.richtext h4 {
    font-size: 1.5rem !important;
    --tw-text-opacity: 1;
    color: rgb(101 31 255 / var(--tw-text-opacity));
    font-weight: 700 !important;
    padding-bottom: 0;
    line-height: 2rem !important;
}

.richtext h3 {
    font-size: 2.25rem !important; 
    padding-bottom: 0;
    letter-spacing: -0.025em;
    font-weight: 700 !important;
    color: rgb(33 33 33 / var(--tw-text-opacity));
    line-height: 2.5rem !important;
}

.hover-neon:hover .hover-red {
    filter: drop-shadow(1px 1px 2px #ff4081) drop-shadow(-1px -1px 2px #ff4081)
}

.hover-neon:hover .hover-green {
    filter: drop-shadow(1px 1px 2px #64ffda) drop-shadow(-1px -1px 2px #64ffda)
}

.hover-neon:hover .hover-blue {
    filter: drop-shadow(1px 1px 2px #40c4ff) drop-shadow(-1px -1px 2px #40c4ff)
}

.speech-bubble-rigth {
    border: 4px solid #00bfa5;
    padding: 20px;
    text-align: center;
}

.speech-bubble-rigth:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #00bfa5;
    border-top: 10px solid #00bfa5;
    border-bottom: 10px solid transparent;
    right: 20px;
    bottom: -23px;
}

.promo-img {
    filter: drop-shadow(1px 1px #f6f6f6) drop-shadow(-1px -1px #f6f6f6);
    display: none;
}

.blog-page a:not(.logo), .blog-entry-page a:not(.logo) {
    display: inline-block;
}

#content {
    min-height: calc(100vh - 595px);
}

.no-zoom:hover {
    transform: scale(1.0) !important;
    cursor: auto;
    border: 4px solid transparent;
    background-color: transparent;
}