{% load i18n wagtailimages_tags puput_tags %}

{% for entry in entries %}
    <div class="text-xs font-semibold tracking-wide text-gray-600 uppercase">
        {{ entry.date|date:"SHORT_DATE_FORMAT" }}
    </div>
    <div>
        <a href="{{ entry.url }}" aria-label="Article"
            class="inline-block transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">
            <h3 class="font-sans font-extrabold leading-none tracking-tight text-base">
                {{ entry.title }}
            </h3>
        </a>
    </div>
    <span class="mb-4 text-base text-gray-700 md:text-lg">
        {% empty %}
          {% trans 'No entries yet' %}
    </span>
{% endfor %}