{% load i18n wagtailimages_tags puput_tags %}

{% for entry in entries %}
    <div class="text-xs font-semibold tracking-wide text-blue-gray-800 uppercase mb-1">
        {{ entry.date|date:"SHORT_DATE_FORMAT" }}
    </div>
    <div>
        <a href="{{ entry.url }}" aria-label="Article"
            class="text-teal-600 hover:text-teal-400 mb-1">
            <h4 class="font-sans font-semibold leading-none tracking-tight text-sm capitalize underline mb-2">
                {{ entry.title }}
            </h4>
        </a>
    </div>
    <span class="mb-4 text-sm text-gray-700 md:text-lg">
        {% empty %}
          {% trans 'No entries yet' %}
    </span>
{% endfor %}