{% load static wagtailcore_tags wagtailuserbar tailwind_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}{% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}| {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="title" content="{% block meta_title %}{% endblock %}"/>
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        {% tailwind_preload_css %}
        {% tailwind_css %}
        {% block head %}{% endblock %}
        <noscript>
            <div class="fixed bottom-0 left-0 p-5 bg-yellow-800 font-semibold text-white z-40">
                manjaro.org needs JavaScript to function properly
            </div>
        </noscript>
        <style>
            .grid.from-purple-900 {
                border-bottom-left-radius: 80px;
                border-bottom-right-radius: 40%;
            }
        </style>
    </head>

    <body class="{% block body_class %}{% endblock %} bg-gray-200">
        {% wagtailuserbar %}

        {% include "home/navigation.html" %}
      
        {% if page.intro or "Blog" in self.title %}
            <div class="px-4 md:px-24 lg:px-8 mb-8 relative">
            <div class="grid gap-10 lg:grid-cols-1">
                <div class="lg:col-span-3">
                    <div class="pt-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-lg">
                        <div class="mb-6 text-left">
                            <h1 class="inline-block px-3 py-px text-xs font-semibold shadow tracking-wider text-teal-900 uppercase rounded-full bg-yellow-accent-700">
                                {% if "team" in page.title %}
                                        Know Our {{ page.title }}
                                {% else %}
                                    {{ page.title }}
                                {% endif %}
                            </h1>
                            <p class="text-base -mt-3 text-gray-800 md:text-md p-4 pt-6">
                                {% if page.description %}
                                  {{ page.description }}
                                {% else %}
                                  {{ page.intro|richtext }}
                                {% endif %}
                            </p>
                        </div>            
                    </div>
                </div>        
            </div>
        </div>
        {% endif %}
        <article id="content">
          {% block content %}{% endblock %}        
        </article>

        {% include "home/footer.html" %}

        <script type="text/javascript" src="{% static 'js/manjaro.js' %}"></script>

        {% block footer_js %}{% endblock %}
    </body>
</html>
