{% load static wagtailcore_tags wagtailuserbar tailwind_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}{% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}| {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="title" content="{% block meta_title %}{% endblock %}"/>
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <link rel="icon" type="image/svg+xml" href="/static/img/favicon.svg">
        <link rel="icon" type="image/png" href="/static/img/favicon.png">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#00695c">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        <link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        {% tailwind_preload_css %}
        {% tailwind_css %}
        {% block head %}{% endblock %}
        <noscript>
            <div class="fixed bottom-0 left-0 p-5 bg-yellow-800 font-semibold text-white z-40">
                manjaro.org needs JavaScript on to function properly
            </div>
        </noscript>


<!-- Matomo -->
<script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setCookieDomain", "*.manjaro.org"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//matomo.manjaro.org/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
  
  
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% include "home/navigation.html" %}
        <main class="min-h-[calc(100vh-82px)]">
        {% if page.intro or "blog" in self.title.lower %}
            <div class="grid gap-10 lg:grid-cols-1 relative mt-12 lg:mt-20">
                <div class="lg:col-span-3">
                    <div class="mx-auto md:max-w-full lg:max-w-screen-xl mb-4">
                        <div id="intro" class="text-left bg-white p-4 pt-[10px] rounded lg:w-2/3 shadow lg:mt-4 transition-transform duration-500 relative mx-auto">
                            <h1 class="inline-block px-3 text-xs font-semibold shadow tracking-wider text-teal-900 uppercase rounded-full bg-yellow-accent-700">
                                {% if "team" in page.title %}
                                        Know Our {{ page.title }}
                                {% else %}
                            {{ page.title }}
                                {% endif %}
                            </h1>
                            <p class="text-gray-800 pt-[10px] text-sm">
                                {% if page.description %}
                                  {{ page.description }}
                                {% else %}
                                  {{ page.intro|richtext }}
                                {% endif %}
                            </p>
                        </div>            
                    </div>
                </div>        
            </div>
        {% endif %}
          {% block content %}{% endblock %}        
        </main>

        {% include "home/footer.html" %}
        <script async type="text/javascript" src="{% static 'js/manjaro.js' %}"></script>

        {% block footer_js %}{% endblock %}
    </body>
</html>
