#brand { 
    font-family: 'Comfortaa', cursive;
}

#logo { 
    width: 22px;
}

#cursor {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: color-burn;
    background-color: #01BAEF;
    z-index: 99999;
    border: 2px solid #01BAEF;
    height: 70px;
    width: 70px;
    transition: all 200ms ease-out;
    will-change: auto;
}

#cursor.enlarge {
    width: 150px;
    height: 150px;
}

@media (min-width: 1024px) { 
    a:hover, button:hover, .hardware .grid > .flex-col:hover {
        transform: scale(1.1) !important;
    }
    
    p:hover {
        transform: scale(1.1) !important;
        font-weight:500;
        cursor: zoom-in;
    }

    .downloads a p:hover, .downloads button p:hover,
    .hardware .grid > .flex-col p:hover {
        transform: none !important;
        cursor: pointer;
        font-weight: normal;
    }

    .hardware .grid > .flex-col p:hover {
        cursor: default;
    }
    
    a, p, button {
        transition: all .2s ease-in-out !important;
    }
 }

