{% extends 'base.html' %}

{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags puput_tags %}

{% block head %}
        <link rel="stylesheet" href="{% static 'puput/css/font-awesome.min.css' %}">
        {% block social_share %}{% endblock social_share %}
        <link rel="canonical" href="{% block canonical %}{% canonical_url %}{% endblock canonical %}"/>
{% endblock %}

{% block title %}
        {% if blog_page.seo_title %}
            {{ blog_page.seo_title }}
        {% elif blog_page.title %}
            {{ blog_page.title }}
        {% endif %}
{% endblock %}

{% block meta_title %}
        {% if blog_page.seo_title %}
            {{ blog_page.seo_title }}
        {% elif blog_page.title %}
            {{ blog_page.title }}
        {% endif %}
{% endblock %}

{% block meta_description %}
    {% if blog_page.description %}
        {{ blog_page.description }}
    {% endif %}
{% endblock %}
